Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Expand abbreviation suffix for clarity
  bin/data-replication
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Ensure status matches academic year
  app/lib/vaccinated_criteria.rb
  app/models/patient/vaccination_status.rb
  spec/components/app_activity_log_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `latest_location` association
  app/models/patient/vaccination_status.rb
  db/migrate/20250923095652_add_location_to_patient_vaccination_statuses.rb
  db/schema.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `VaccinatedCriteria`
  app/components/app_session_overview_tallies_component.rb
  app/lib/status_generator/consent.rb
  app/lib/status_generator/triage.rb
  app/lib/status_generator/vaccination.rb
  app/lib/vaccinated_criteria.rb
  spec/lib/vaccinated_criteria_spec.rb
Owners: @nhsuk/mavis-devs-application

Set `latest_location` association
  app/lib/status_updater.rb
  app/models/patient/vaccination_status.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `StatusGenerator::Vaccination`
  app/lib/status_generator/vaccination.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove production constraint on ops endpoints
  config/routes.rb
  spec/features/graph_records_spec.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `AcademicYear#previous`
  app/lib/academic_year.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/features/cli_stats_consents_by_school_spec.rb
  spec/features/cli_stats_organisations_spec.rb
  spec/lib/stats/consents_by_school_spec.rb
Owners: @nhsuk/mavis-devs-application

Add function to authenticate ops users with PII access
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Restrict PII access to eligible ops users
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Enforce timeline PII access controls on frontend
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Enforce graph PII access controls on frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add feature tests for support access to tools
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Session#scheduled?`
  app/models/session.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Update release process documentation
  README.md
  docs/branching.md
  docs/releasing.md
  script/draft_new_release.sh
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Add more steps to release docs.
  docs/releasing.md
Owners: @nhsuk/vaccine-digital-service

Fix `ConsentForm#session`
  app/components/app_consent_confirmation_component.rb
  app/models/consent_form.rb
  spec/factories/consent_forms.rb
  spec/features/parental_consent_home_educated_spec.rb
  spec/models/consent_form_spec.rb
Owners: @nhsuk/mavis-devs-application

WIP Import grafana alerts
  terraform/monitoring/grafana/env/development.tfvars
  terraform/monitoring/grafana/env/production.tfvars
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/grafana/modules/development_alerts/README.md
  terraform/monitoring/grafana/modules/development_alerts/main.tf
  terraform/monitoring/grafana/modules/development_alerts/outputs.tf
  terraform/monitoring/grafana/modules/development_alerts/variables.tf
  terraform/monitoring/grafana/modules/production_alerts/README.md
  terraform/monitoring/grafana/modules/production_alerts/main.tf
  terraform/monitoring/grafana/modules/production_alerts/outputs.tf
  terraform/monitoring/grafana/modules/production_alerts/variables.tf
  terraform/monitoring/grafana/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Model patient session eligibility
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/lib/status_generator/vaccination.rb
  app/models/patient.rb
  spec/components/app_session_overview_tallies_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Set `current_user` when creating a patient from a consent form
  app/controllers/consent_forms_controller.rb
Owners: @nhsuk/mavis-devs-application

Update invalidated patients from PDS
  app/jobs/patient_update_from_pds_job.rb
  spec/jobs/patient_update_from_pds_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve rendering of unmatched PDS summary
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_index.scss
  app/components/app_import_pds_unmatched_summary_component.rb
  app/views/imports/show.html.erb
  spec/components/app_import_pds_unmatched_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add failed import seed
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Fix tests after rebase
  db/seeds.rb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Skip triage after verbal consent if not required
  app/controllers/draft_consents_controller.rb
  app/models/draft_consent.rb
  spec/features/e2e_journey_spec.rb
  spec/features/self_consent_spec.rb
  spec/features/verbal_consent_change_answers_spec.rb
  spec/features/verbal_consent_given_by_new_parental_contact_spec.rb
  spec/features/verbal_consent_given_spec.rb
  spec/features/verbal_consent_given_triage_psd_spec.rb
  spec/features/verbal_consent_given_when_previously_refused_spec.rb
Owners: @nhsuk/mavis-devs-application

Add scenic to Gemfile
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Track patient's current organisation for reporting
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Remove cross-programme reporting not vaxxed count
  app/models/reporting_api/patient_programme_status.rb
Owners: @nhsuk/mavis-devs-application

Return totals from reporting API
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Temporarily disable concurrent refresh
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Separate vaccinated_elsewhere
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix duplicate IDs in view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Add sha to title of build image run
  .github/workflows/build-and-push-image.yml
Owners: @nhsuk/vaccine-digital-service

Select distinct IDs for PatientProgrammeStatus
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Add access logging for PII mode in timeline and graphs
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/models/access_log_entry.rb
  lib/graph_records.rb
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Add column to access log to store request details
  app/models/access_log_entry.rb
  db/migrate/20250926113321_add_request_details_to_access_log_entry.rb
  db/schema.rb
  spec/factories/access_log_entries.rb
  spec/models/access_log_entry_spec.rb
Owners: @nhsuk/mavis-devs-application

Log request details for PII accesses in timeline
  app/controllers/inspect/timeline/patients_controller.rb
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Log PII access for graph view
  app/controllers/inspect/graphs_controller.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add unit tests for PII access logging
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Deduplicate parents with same email in same file"
  app/jobs/commit_patient_changesets_job.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
