Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Commit patient import changesets
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/models/class_import_row.rb
  app/models/cohort_import_row.rb
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/models/patient_import_row.rb
Owners: @nhsuk/mavis-devs-application

Add patient_changesets model
  app/models/class_import.rb
  app/models/cohort_import.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  db/migrate/20250731164122_create_patient_changesets.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Generate patient changeset on patient import
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import_row.rb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Process patient changesets after import
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Add models for cohort and class import join tables
  app/models/class_imports_parent.rb
  app/models/class_imports_parent_relationship.rb
  app/models/class_imports_patient.rb
  app/models/cohort_imports_parent.rb
  app/models/cohort_imports_parent_relationship.rb
  app/models/cohort_imports_patient.rb
Owners: @nhsuk/mavis-devs-application

Duplicate tests for pds update during import flow
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_slow_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
Owners: @nhsuk/mavis-devs-application

Support invalidating patients during import.
  app/jobs/process_patient_changesets_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Only background changeset jobs when import is slow
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

WIP: Make patient_changesets.rb work with extravag
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

style: use named parameters everywhere
  app/components/app_patient_programmes_table_component.rb
Owners: @nhsuk/mavis-devs-application

feat: use cached vaccination status
  app/components/app_patient_programmes_table_component.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

refactor: rewrite patient programmes table component
  app/components/app_patient_programmes_table_component.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

feat: add status_changed_at column to vaccination status
  app/lib/status_generator/session.rb
  app/lib/status_updater.rb
  app/models/patient/vaccination_status.rb
  db/migrate/20250814154032_add_status_changed_at_to_patient_vaccination_status.rb
  db/schema.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/features/vaccination_programmes_spec.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

test: the status_changed_at
  spec/factories/vaccination_records.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

test: improve test setups
  spec/components/app_activity_log_component_spec.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/models/patient_session_spec.rb
Owners: @nhsuk/mavis-devs-application

test: test all new statuses
  spec/components/app_patient_programmes_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

feat: include date in notes for app_patient_programmes_table_component
  app/components/app_patient_programmes_table_component.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove invalid nhs number test from extravaganza
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Move logging line in to correct place
  app/lib/team_migration/base.rb
Owners: @nhsuk/mavis-devs-application

Fix typo in Leicestershire schools CSV
  app/lib/team_migration/leicestershire.csv
Owners: @nhsuk/mavis-devs-application

Add patient_changesets model
  app/models/class_import.rb
  app/models/cohort_import.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  db/migrate/20250731164122_create_patient_changesets.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Add models for cohort and class import join tables
  app/models/class_imports_parent.rb
  app/models/class_imports_parent_relationship.rb
  app/models/class_imports_patient.rb
  app/models/cohort_imports_parent.rb
  app/models/cohort_imports_parent_relationship.rb
  app/models/cohort_imports_patient.rb
Owners: @nhsuk/mavis-devs-application

Generate patient changeset on patient import
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import_row.rb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Commit patient import changesets
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/models/class_import_row.rb
  app/models/cohort_import_row.rb
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/models/patient_import_row.rb
Owners: @nhsuk/mavis-devs-application

Process patient changesets after import
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Remove invalid nhs number test from extravaganza
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Duplicate tests for pds update during import flow
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_slow_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
Owners: @nhsuk/mavis-devs-application

Support invalidating patients during import.
  app/jobs/process_patient_changesets_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Only background changeset jobs when import is slow
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Improve logging about patient removals
  app/lib/team_migration/east_of_england.rb
Owners: @nhsuk/mavis-devs-application

Reassign vaccination records, batches and sessions
  app/lib/team_migration/east_of_england.rb
  spec/lib/team_migration/east_of_england_spec.rb
Owners: @nhsuk/mavis-devs-application

Adjust displayed fields for new team/subteam structure
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Further improvements to East of England migration
  app/lib/team_migration/east_of_england.rb
Owners: @nhsuk/mavis-devs-application

Basic implementation of valkey with a connected sidekiq service
  bin/docker-start
  terraform/app/ecs.tf
  terraform/app/env/preview.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/outputs.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
  terraform/documentation/valkey-sidekiq-setup.md
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Add necessary deployment permissions
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Finalize valkey config
  terraform/app/env/preview.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Support patients not found in PDS
  app/jobs/process_patient_changesets_job.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
  spec/support/pds_helper.rb
Owners: @nhsuk/mavis-devs-application

Disable PDS update during import completely
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

add /api/reporting controllers, plus supporting config - but make them only routable on non-production environments for now
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/api/reporting/totals_controller.rb
  config/feature_flags.yml
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  spec/controllers/api/reporting/one_time_tokens_controller_spec.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Only reassign consent and triages that belong to original team
  app/lib/team_migration/east_of_england.rb
Owners: @nhsuk/mavis-devs-application
