Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add schools remove-from-team command for batch team removal
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/schools/remove_from_team.rb
  app/models/team_location.rb
  spec/features/cli_schools_remove_from_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve upload-only team seeds
  db/seeds.rb
  spec/factories/vaccination_records.rb
Owners: @nhsuk/mavis-devs-application

Put new Vaccs UK teams into separate organisations.
  config/onboarding/enfield.yaml
  config/onboarding/hullandeastriding.yaml
  config/onboarding/lincs.yaml
Owners: @nhsuk/mavis-devs-application

Put the national reporting sub service name on a new line
  app/assets/stylesheets/components/_header.scss
  app/views/layouts/_header.html.erb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix Sass if() deprecation
  app/assets/stylesheets/components/_timeline.scss
Owners: @nhsuk/mavis-devs-application

Add year group change details to GIAS import check output
  app/lib/mavis_cli/gias/check_import.rb
  spec/features/cli_gias_check_import_spec.rb
Owners: @nhsuk/mavis-devs-application

delete notifylogentry programmes before deleting log entries
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Add cascade delete to `notify_log_entry_programmes` foreign key
  app/models/notify_log_entry/programme.rb
  db/migrate/20260113123500_add_cascade_delete_to_notify_log_entry_programmes_foreign_key.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Update schema to match migrations
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Increase cpu capacity of web service
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Fix MMR vaccine interval validation
  app/lib/status_generator/vaccination.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Bump nhsuk-frontend from 10.2.2 to 10.3.0
  package.json
  yarn.lock
Owners: @nhsuk/mavis-devs-application

Replace GOV.UK Frontend file upload component with that from NHS.UK frontend
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/vendor/govuk-frontend/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/base/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/file-upload/_index.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/components/_index.scss
  app/views/class_imports/new.html.erb
  app/views/cohort_imports/new.html.erb
  app/views/immunisation_imports/new.html.erb
  package.json
  yarn.lock
Owners: @nhsuk/mavis-devs-application

Remove patches for radios and checkboxes
  app/assets/javascripts/application.js
  app/assets/javascripts/components/checkboxes.js
  app/assets/javascripts/components/checkboxes.spec.js
  app/assets/javascripts/components/radios.js
  app/assets/javascripts/components/radios.spec.js
  app/assets/javascripts/public.js
Owners: @nhsuk/mavis-devs-application

Use AppCardComponent for panel tables
  app/components/app_consent_refused_table_component.html.erb
  app/components/app_imports_table_component.html.erb
  app/components/app_notices_table_component.html.erb
  app/components/app_programme_session_table_component.html.erb
  app/components/app_vaccinate_form_component.html.erb
  app/views/consent_forms/index.html.erb
  app/views/draft_vaccination_records/confirm.html.erb
  app/views/imports/issues/index.html.erb
  app/views/programmes/index.html.erb
  app/views/school_moves/index.html.erb
  spec/components/app_imports_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Use updated classes for AppWarningCalloutComponent
  app/assets/stylesheets/core/objects/_grid.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_summary-list.scss
  app/components/app_warning_callout_component.rb
  spec/components/app_warning_callout_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Use interruption panel modifier from NHS.UK frontend
  app/assets/stylesheets/components/_index.scss
  app/assets/stylesheets/components/_panel.scss
  app/views/draft_sessions/_check.html.erb
Owners: @nhsuk/mavis-devs-application

Remove font sources for Internet Explorer 8
  app/assets/fonts/FrutigerLTW01-55Roman.eot
  app/assets/fonts/FrutigerLTW01-55Roman.svg
  app/assets/fonts/FrutigerLTW01-55Roman.ttf
  app/assets/fonts/FrutigerLTW01-65Bold.eot
  app/assets/fonts/FrutigerLTW01-65Bold.svg
  app/assets/fonts/FrutigerLTW01-65Bold.ttf
Owners: @nhsuk/mavis-devs-application

Fix exception when MMR first dose is invalid
  app/lib/status_generator/vaccination.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide parent information on patient view
  app/components/app_patient_card_component.rb
  app/views/patients/show.html.erb
  spec/components/app_patient_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide parent info in other relevant places
  app/views/patients/edit.html.erb
  app/views/patients/edit/nhs_number_merge.html.erb
  app/views/patients/show.html.erb
  app/views/vaccination_records/show.html.erb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Seed correct programmes for national reporting records
  spec/factories/vaccination_records.rb
Owners: @nhsuk/mavis-devs-application

Add MMRV to `sync` and `search` feature flags
  app/models/programme/variant.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/jobs/sync_vaccination_record_to_nhs_job_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix triage delay not being created for invalid MMR doses
  app/lib/next_dose_triage_factory.rb
  spec/lib/next_dose_triage_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Run E2E test workflow directly on PRs
  .github/actions/run-test-suites-check/action.yml
  .github/workflows/end-to-end-tests.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Update start page for national reporting in line with content design
  app/views/start/index.html.erb
Owners: @nhsuk/mavis-devs-application

Pass a suitable value for the git reference
  .github/workflows/create_dockerized_db.yml
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Use Programme.name on the vaccination report download
  app/views/vaccination_reports/new.html.erb
Owners: @nhsuk/mavis-devs-application

Remove redundant permission
  terraform/app/iam_policy_documents.tf
Owners: @nhsuk/mavis-devs-infrastructure

Only export metrics for relevant environments and services
  config/initializers/sidekiq.rb
  config/puma.rb
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Fix scripts for prometheus exporting
  bin/docker-start
  bin/prometheus_exporter
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Remove redundant policy scoping
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
Owners: @nhsuk/mavis-devs-infrastructure

Prometheus exporter setup with cloudwatch
  Gemfile
  Gemfile.lock
  bin/docker-start
  bin/prometheus_exporter
  config/initializers/sidekiq.rb
  config/puma.rb
  terraform/account/iam.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/ssm_parameters.tf
  terraform/app/templates/cloudwatch_agent_config.json.tpl
  terraform/app/templates/prometheus_exporter_config.yaml.tpl
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Make `disease_types` on triage `NOT NULL`
  app/models/triage.rb
  db/migrate/20260112122922_make_triage_disease_types_not_null.rb
  db/schema.rb
  lib/tasks/data_migration.rake
  spec/factories/triages.rb
  spec/models/triage_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure forbidden requests are redirected
  app/controllers/application_controller.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide the patient activity log for national reporting teams
  app/policies/patient_policy.rb
  app/views/patients/show.html.erb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove logic to hide archive reasons in activity log for upload only teams
  app/components/app_activity_log_component.rb
  spec/components/app_activity_log_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix: Display MMRV instead of MMR(V) in activity notes
  app/components/app_activity_log_component.rb
  app/jobs/email_delivery_job.rb
  app/jobs/sms_delivery_job.rb
  app/models/notify_log_entry.rb
  app/models/notify_log_entry/programme.rb
  spec/factories/notify_log_entries.rb
  spec/features/parental_consent_send_request_spec.rb
  spec/jobs/email_delivery_job_spec.rb
  spec/jobs/sms_delivery_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove data migration for NotifyLogEntry::Programme backfill
  lib/tasks/data_migration.rake
  spec/lib/data_migration/backfill_notify_log_entry_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure patient teams are merged
  app/lib/patient_merger.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
