Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Batch parent relationship removal for improved performance
  app/forms/bulk_remove_parents_form.rb
  app/jobs/bulk_remove_parent_relationships_job.rb
  app/models/patient_import.rb
  spec/features/bulk_remove_parents_spec.rb
  spec/jobs/bulk_remove_parent_relationships_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Process bulk removal of parents from an import as a background task
  app/components/app_import_status_component.rb
  app/components/app_import_summary_component.html.erb
  app/forms/bulk_remove_parents_form.rb
  app/jobs/bulk_remove_parent_relationships_job.rb
  app/models/concerns/csv_importable.rb
  app/views/imports/show.html.erb
  config/locales/en.yml
  spec/components/app_import_status_component_spec.rb
  spec/features/bulk_remove_parents_spec.rb
  spec/jobs/bulk_remove_parent_relationships_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix placeholder text on bulk remove parents page
  app/views/imports/bulk_remove_parents/new.html.erb
Owners: @nhsuk/mavis-devs-application

Tweak content when archiving `VaccinationRecord`s
  app/views/vaccination_records/destroy.html.erb
Owners: @nhsuk/mavis-devs-application

Add ability to create school site
  app/controllers/draft_school_sites_controller.rb
  app/models/draft_school_site.rb
  app/policies/school_policy.rb
  app/views/draft_school_sites/confirm.html.erb
  app/views/draft_school_sites/details.html.erb
  app/views/draft_school_sites/school.html.erb
  app/views/teams/schools.html.erb
  config/locales/wicked.en.yml
  config/routes.rb
  spec/features/manage_teams_spec.rb
  spec/models/draft_school_site_spec.rb
  spec/policies/school_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Update LocationsHelper to show URN and site
  app/helpers/locations_helper.rb
Owners: @nhsuk/mavis-devs-application

Improve validation error when uplaoding records for location with sites
  app/models/cohort_import_row.rb
  spec/models/cohort_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Add local_authority_mhclg_code to patients
  app/models/patient.rb
  app/models/patient_import_row.rb
  db/migrate/20260123015634_add_local_authority_mhclg_code_to_patients.rb
  db/schema.rb
  lib/tasks/local_authority.rake
  spec/factories/patients.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix ProgressBar method call in postcode import
  app/lib/mavis_cli/local_authorities/import_postcode_mappings.rb
Owners: @nhsuk/mavis-devs-application

Use patient's la_mhclg_code in reporting view
  db/schema.rb
  db/views/reporting_api_totals_v05.sql
Owners: @nhsuk/mavis-devs-application

Generate v05 of Reporting API Totals view
  db/migrate/20260123015635_update_reporting_api_totals_to_version_5.rb
  db/views/reporting_api_totals_v05.sql
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@97d311ce26427e2948603a3e71889dbf4afe5f64 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Add pass/fail step that always runs to E2E test workflow
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@0cf049aa1b2cdd661d968fc53d3ec2bbc2287a60 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Ignore duplicate vaccination records with missing site if other attributes are unchanged
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Update: Ignoring duplicate vaccination records with missing site if other attributes are unchanged
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Response to PR review: immunisation_import_row.rb
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Response to PR review 2: immunisation_import_row.rb
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

immunisation_import_row.rb fix: should_stage_delivery_attributes has to be defined after changes were staged
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Remove access log entries on bulk upload reset
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@caf32fe6230ab2325400fab1f12bd85f5693f0fe 🚀
  docs/rdoc/next/ImmunisationImportRow.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@10f3d14fe79b81f265929850ed05b2c169743aed 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Add pass/fail step that always runs to E2E test workflow
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@d65714d18f8fbc3a73c4cefd6d62bb6e675b888f 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Rename buckets to use mavis-end-to-end-test-reports
  terraform/account/deployment_permissions.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Rename permissions to edit testing S3 bucket
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_RunECSTaskS3Modifications.json
Owners: @nhsuk/mavis-devs-infrastructure

Allow GitHubAssuranceTesting role to edit reports s3 bucket
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add S3 bucket and cloudfront for end-to-end test reports
  terraform/assurance_testing/main.tf
  terraform/modules/s3/outputs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update end-to-end workflow call to have id-token: write permission
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Add `number` field to `Batch` model
  app/models/batch.rb
  db/migrate/20260129140834_add_number_to_batch.rb
  db/schema.rb
  spec/factories/batches.rb
  spec/models/batch_spec.rb
Owners: @nhsuk/mavis-devs-application

Add rake task to back-fill the new `Batch.number` column
  lib/tasks/backfill_batch_number.rake
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@33866fd582a61919c47d339428f4f97c172486a9 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Add local_authority_mhclg_code to patients
  app/models/patient.rb
  app/models/patient_import_row.rb
  db/migrate/20260123015634_add_local_authority_mhclg_code_to_patients.rb
  db/schema.rb
  lib/tasks/local_authority.rake
  spec/factories/patients.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@7c89adbdd0a5c14dac66c5ee338219bbf3c89e1d 🚀
  docs/rdoc/next/Patient.html
  docs/rdoc/next/PatientImportRow.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Fix ProgressBar method call in postcode import
  app/lib/mavis_cli/local_authorities/import_postcode_mappings.rb
Owners: @nhsuk/mavis-devs-application

Use patient's la_mhclg_code in reporting view
  db/schema.rb
  db/views/reporting_api_totals_v05.sql
Owners: @nhsuk/mavis-devs-application

Generate v05 of Reporting API Totals view
  db/migrate/20260123015635_update_reporting_api_totals_to_version_5.rb
  db/views/reporting_api_totals_v05.sql
Owners: @nhsuk/mavis-devs-application

Re-fix Imms API search deduplication
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@5e467be7e03e97285e57780c96fc1c972a5ef9d5 🚀
  docs/rdoc/next/MavisCLI/LocalAuthorities/ImportPostcodeMappings.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@c2e10d32628520dadff04a2b7a80231f21744ab3 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
