Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Rename `eligible_children` to `total`
  app/components/app_session_stats_component.rb
  app/lib/stats/session.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Limit session patients by eligibility
  app/forms/patient_search_form.rb
  app/lib/generate/vaccination_records.rb
  app/lib/stats/session.rb
  app/models/patient.rb
  app/models/session.rb
  spec/features/filtering_by_eligible_children_spec.rb
  spec/features/manage_batches_spec.rb
  spec/features/vaccination_offline_spec.rb
  spec/lib/team_location_sessions_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Delete app/lib/data_migration/school_removal_for_blmk_and_nw.rb
  app/lib/data_migration/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Add integration tests for the upload flow
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/fixtures/immunisation_import_bulk/invalid_rows.csv
  spec/fixtures/immunisation_import_bulk/valid_mixed_flu_hpv.csv
Owners: @nhsuk/mavis-devs-application

Edit the draft import wizard for bulk uploads
  app/controllers/imports_controller.rb
  app/views/immunisation_imports/new.html.erb
Owners: @nhsuk/mavis-devs-application

Use event name to determine if approval is required
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
  .github/workflows/scheduled-data-replication-refresh.yml
Owners: @nhsuk/vaccine-digital-service

update check for seeds tests
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

update permissions for continuous deployment job
  .github/workflows/continuous-deployment.yml
Owners: @nhsuk/vaccine-digital-service

Lock backup vault
  terraform/backup/destination/main.tf
  terraform/backup/source/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Allow users to view all vaccination records for patients in their teams
  app/policies/vaccination_record_policy.rb
  spec/policies/vaccination_record_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove banner explaining that statuses have changed
  app/views/dashboard/index.html.erb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Allow HCAs to see programme summaries for all programmes
  app/models/session.rb
  app/models/user.rb
  app/policies/session_policy.rb
  spec/models/session_spec.rb
  spec/policies/session_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove old clinic session notifications
  app/models/session_notification.rb
Owners: @nhsuk/mavis-devs-application

Add `data_migration:delete_clinic_session_notifications`
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::CreateClinicNotification`
  app/lib/data_migration/create_clinic_notifications.rb
  lib/tasks/data_migration.rake
  spec/lib/data_migration/create_clinic_notifications_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `data_migration:delete_clinic_session_notifications`
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Marginal gains to human_enum_name performance
  app/models/concerns/human_enum_name_concern.rb
  app/models/parent_relationship.rb
Owners: @nhsuk/mavis-devs-application

Remove unused step in class list test
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Renaming of rake task caused workflow failure
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Do not run E2E tests on push
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Revert "Bump sidekiq from 8.0.10 to 8.1.0"
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Remove show only eligible children filter
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_session_stats_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  app/lib/mavis_cli/stats/sessions.rb
  app/views/sessions/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor import review components to use separate template files
  app/components/app_details_component.rb
  app/components/app_import_review_component.html.erb
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.html.erb
  app/components/app_import_review_school_moves_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/models/patient_changeset.rb
  spec/components/app_details_component_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_class_list_review_spec.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Partially processed import status when some changesets have been cancelled
  app/controllers/class_imports_controller.rb
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide cancel button on import review screen in some circumstances
  app/components/app_import_review_component.html.erb
  app/components/app_import_review_component.rb
  spec/components/app_import_review_component_spec.rb
  spec/factories/patient_changesets.rb
Owners: @nhsuk/mavis-devs-application

Fix patient count expectation in PDS match rate test
  spec/jobs/commit_import_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Display CSV row number on import review screen
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.html.erb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/views/imports/issues/index.html.erb
  app/views/imports/show.html.erb
  spec/components/app_import_review_issues_summary_component_spec.rb
  spec/components/app_import_review_records_summary_component_spec.rb
  spec/components/app_import_review_school_moves_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add 'in_review' status to track changesets under active review
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/jobs/review_class_import_school_move_job.rb
  app/jobs/review_patient_changeset_job.rb
  app/models/patient_changeset.rb
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Add decision to upload issues
  app/assets/stylesheets/components/_tables.scss
  app/components/app_import_review_component.html.erb
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/views/imports/re_review.html.erb
  app/views/imports/show.html.erb
  config/feature_flags.yml
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Display upload issue changes on review screen
  app/components/app_import_review_issues_summary_component.rb
Owners: @nhsuk/mavis-devs-application

Add logic to handle user decision for close matches
  app/models/concerns/patient_import_concern.rb
  app/models/concerns/pending_changes_concern.rb
  app/models/patient_changeset.rb
  spec/features/import_class_list_review_spec.rb
  spec/fixtures/class_import/review_with_duplicates.csv
Owners: @nhsuk/mavis-devs-application

Use javascript to store review decisions in local storage
  app/assets/javascripts/application.js
  app/assets/javascripts/components/importDecisions.js
  app/assets/javascripts/components/importDecisios.spec.js
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/views/imports/index.html.erb
  app/views/imports/re_review.html.erb
  app/views/imports/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add pagination for import issues in review screen
  app/components/app_import_review_component.html.erb
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/views/imports/re_review.html.erb
  app/views/imports/show.html.erb
Owners: @nhsuk/mavis-devs-application

Tidy up `GovukNotifyPersonalisation` MMR second dose methods
  app/lib/govuk_notify_personalisation.rb
Owners: @nhsuk/mavis-devs-application

Nurse can get consent for MMR for an MMRV eligible patient
  app/controllers/draft_consents_controller.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/draft_consent.rb
  app/models/programme.rb
  app/views/draft_consents/vaccine_availability.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  spec/features/mmrv_vaccination_administered_spec.rb
  spec/features/verbal_consent_given_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure disease types in consent status is updated
  app/lib/status_generator/consent.rb
  app/lib/status_updater.rb
  app/models/patient/consent_status.rb
  spec/lib/status_generator/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `disease_types` column to consents table
  app/models/consent.rb
  db/migrate/20251211141517_add_disease_types_to_consents.rb
  db/schema.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Reorganise Programme class for improved maintainability
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Add disease_types to ConsentStatus
  app/models/patient/consent_status.rb
  db/migrate/20251212100741_add_disease_types_to_patient_consent_statuses.rb
  db/schema.rb
  spec/factories/patient_consent_statuses.rb
  spec/models/patient/consent_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Optimise MMR consent check to use consent_statuses with disease_types
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application
