Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Validate foreign keys
  db/migrate/20250922092416_validate_foreign_keys.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Improve performance of delete endpoint
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Remove `has_many` between session and patients
  app/models/session.rb
  spec/lib/location_sessions_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Optimise migration through SQL query
  db/migrate/20250918122640_swap_consent_and_consent_form_associations.rb
Owners: @nhsuk/mavis-devs-application

Prevent Imms API records being edited by an offline spreadsheet
  app/forms/import_duplicate_form.rb
  app/models/immunisation_import_row.rb
  app/views/imports/issues/show.html.erb
  spec/forms/import_duplicate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Add UUID + SESSION_ID validation check
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Standardise imports and offline sheet to accept Imms API records
  app/lib/reports/offline_session_exporter.rb
  app/models/concerns/pending_changes_concern.rb
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Add feature tests
  spec/features/hpv_vaccination_offline_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename test file
  spec/features/vaccination_offline_spec.rb
Owners: @nhsuk/mavis-devs-application

Implement template task definition mechanism
  config/container_variables.yml
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/outputs.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove migrated variables out of tfvars
  bin/docker-start
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Create ECS deployment specific role in AWS
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update deployment workflows
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .tool-versions
  config/templates/appspec.yaml
  script/populate_ssm_parameters.py
  script/requirements.txt
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Also update deployment of data replication
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Clean up empty files
  terraform/app/db_migration_configuration.tf
Owners: @nhsuk/mavis-devs-infrastructure

Standardizing conventions/setup
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-data-replication.yml
  .tool-versions
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Use latest python in data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Use dashes for inputs to data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Move export of ENV_VARS
  bin/docker-entrypoint
  bin/docker-start
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Remove unnecessary -replace check
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Tweak data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Fix missing newlines from infrastructure files
  .github/workflows/data-replication-pipeline.yml
  script/populate_ssm_parameters.py
  script/requirements.txt
  terraform/account/deployment_permissions.tf
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove good-job deployment from deploy-application
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Align deploy-application to data-replication task
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Align refresh-data-replication to conventions
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Remove good-job references from container vars
  config/container_variables.yml
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Change container startup variable definitions
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .tool-versions
  bin/docker-entrypoint
  config/container_variables.yml
  script/populate_ssm_parameters.py
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/app/ecs.tf
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Send slack notification on request for approval
  .github/workflows/continuous-deployment.yml
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Add mavis schools show command
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/schools/show.rb
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Rescue from `NHS::PDS::TooManyMatches`
  app/jobs/consent_form_matching_job.rb
Owners: @nhsuk/mavis-devs-application

Implement programme status tallies for the new session overview page
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/helpers/application_helper.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/show.html.erb
  spec/components/app_session_overview_tallies_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure deceased archive reason is created
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix typo in data_migrations rake task
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Add feature flag around tallying to make it unreachable in production
  app/helpers/application_helper.rb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Assert that Imms API records' `Batch.team` is `nil`
  app/lib/fhir_mapper/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Update shell script to default to web service
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Include missing overwrite variables
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Remove `puts` call
  spec/components/app_session_overview_tallies_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure patients are visible when PSDs only are enabled
  app/controllers/sessions/record_controller.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

Gracefully handle page overflow errors
  app/controllers/api/reporting/base_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions_controller.rb
  config/initializers/pagy.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
