Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Edit the draft import wizard for bulk uploads
  app/controllers/immunisation_imports_controller.rb
  app/models/draft_import.rb
  app/views/draft_imports/programme.html.erb
  app/views/immunisation_imports/new.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/fixtures/immunisation_import_bulk/invalid_rows.csv
  spec/fixtures/immunisation_import_bulk/valid_flu.csv
  spec/fixtures/immunisation_import_bulk/valid_hpv.csv
Owners: @nhsuk/mavis-devs-application

Add benchmania, a benchmarking tool
  app/lib/benchmania.rb
Owners: @nhsuk/mavis-devs-application

Add some docs to Benchmania
  app/lib/benchmania.rb
Owners: @nhsuk/mavis-devs-application

Add column `ignored_record_count` to `ImmunisationImport`
  app/models/immunisation_import.rb
  db/migrate/20251210170916_add_ignored_record_count_to_immunisation_import.rb
  db/schema.rb
  spec/factories/immunisation_imports.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore `VACCINATED: N` rows
  app/jobs/commit_import_job.rb
  app/jobs/commit_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
  app/models/immunisation_import.rb
Owners: @nhsuk/mavis-devs-application

Use "Upload" instead of "Import" for class and cohort upload pages
  app/views/class_imports/new.html.erb
  app/views/cohort_imports/new.html.erb
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
Owners: @nhsuk/mavis-devs-application

Update `ImmunisationImport` page for bulk upload
  app/components/app_import_format_details_component.rb
  app/views/immunisation_imports/new.html.erb
  spec/features/import_vaccination_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add search children item to upload only nav
  app/controllers/concerns/navigation_concern.rb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Gracefully handle nil values from NHS::PDS patient lookups
  app/jobs/patient_update_from_pds_job.rb
  app/lib/mavis_cli/pds/get.rb
  app/lib/mavis_cli/pds/search.rb
  app/models/pds/patient.rb
  spec/lib/nhs/pds_spec.rb
  spec/models/pds/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Change children search filters for upload only teams
  app/views/patients/index.html.erb
Owners: @nhsuk/mavis-devs-application

Add patients to upload only team and limit programmes
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Do not show programme status for upload only teams
  app/components/app_patient_search_result_card_component.rb
  app/views/patients/index.html.erb
Owners: @nhsuk/mavis-devs-application

Only show patient programmes and sessions for poc teams
  app/views/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add long title for search children page
  app/views/patients/index.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Enable search card on homepage and fix card widths
  app/controllers/dashboard_controller.rb
  app/views/dashboard/index.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Make workflow callable
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Properly initialize database
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Pipeline setup for regression tests
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
  terraform/account/resources/iam_policy_RunECSTask.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Create a dockerized database on tag push
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/deployment_permissions.tf
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Rename workflow and add sidekiq
  .github/workflows/create_dockerized_db.yml
  .github/workflows/end-to-end-tests.yml
  .github/workflows/test.yml
  terraform/account/ecr.tf
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Infrastructure setup for regression test tasks
  Dockerfile
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Show postcode on patient search result card for upload only teams
  app/views/patients/index.html.erb
Owners: @nhsuk/mavis-devs-application

Send AWS Backup notifications via Slack
  .github/workflows/deploy-backup-infrastructure.yml
  terraform/.gitignore
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/backup/source/alerting.tf
  terraform/backup/source/env/development.tfvars
  terraform/backup/source/env/production.tfvars
  terraform/backup/source/lambda/backup_alert.py
  terraform/backup/source/main.tf
  terraform/backup/source/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Content tweaks
  app/controllers/concerns/navigation_concern.rb
  app/views/patients/index.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Send full list of nav items to reporting app
  app/controllers/concerns/navigation_concern.rb
  app/controllers/manifest_controller.rb
Owners: @nhsuk/mavis-devs-application

Nightly data replication refresh
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
  .github/workflows/scheduled-data-replication-refresh.yml
Owners: @nhsuk/vaccine-digital-service

Prevent N+1 query in health answers
  app/lib/reports/programme_vaccinations_exporter.rb
Owners: @nhsuk/mavis-devs-application

Memoize who responded
  app/models/concerns/has_health_answers.rb
Owners: @nhsuk/mavis-devs-application

Use programme_type directly in Vaccine
  app/models/vaccine.rb
Owners: @nhsuk/mavis-devs-application

Make profiler available in staging and test environments
  Gemfile
Owners: @nhsuk/mavis-devs-application

Fix count column type issue
  app/models/immunisation_import.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SchoolRemovalForBlmkAndNw`
  app/lib/data_migration/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Add team and academic year to `GovukNotifyPersonalisation`
  app/jobs/email_delivery_job.rb
  app/jobs/sms_delivery_job.rb
  app/lib/govuk_notify_personalisation.rb
  spec/jobs/email_delivery_job_spec.rb
  spec/jobs/sms_delivery_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `ClinicNotification`
  app/models/clinic_notification.rb
  app/models/patient.rb
  app/models/team.rb
  db/migrate/20251209075555_create_clinic_notifications.rb
  db/schema.rb
  spec/factories/clinic_notifications.rb
  spec/models/clinic_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Clear `ClinicNotification` in reset endpoint
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Use `ClinicNotification`
  app/controllers/sessions/invite_to_clinic_controller.rb
  app/jobs/concerns/send_clinic_invitations_concern.rb
  app/jobs/send_clinic_initial_invitations_job.rb
  app/jobs/send_clinic_subsequent_invitations_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/models/clinic_notification.rb
  app/models/session_notification.rb
  config/initializers/govuk_notify.rb
  spec/components/app_activity_log_component_spec.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/jobs/send_clinic_initial_invitations_job_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
  spec/models/clinic_notification_spec.rb
  spec/models/session_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `DataMigration::CreateClinicNotification`
  app/lib/data_migration/create_clinic_notifications.rb
  lib/tasks/data_migration.rake
  spec/lib/data_migration/create_clinic_notifications_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppPatientSessionSearchResultCardComponent`
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/sessions/patients_controller.rb
  app/views/sessions/consent/show.html.erb
  app/views/sessions/patient_specific_directions/show.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/record/show.html.erb
  app/views/sessions/register/show.html.erb
  app/views/sessions/triage/show.html.erb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Update eligible children content
  app/components/app_session_stats_component.rb
  config/locales/components.en.yml
Owners: @nhsuk/mavis-devs-application

Support eligibility for multiple programmes
  app/forms/patient_search_form.rb
  app/lib/stats/session.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application
