Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Fix enum values having same integer value
  app/models/patient/programme_status.rb
Owners: @nhsuk/mavis-devs-application

Show vaccine types per programme
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_session_overview_component.rb
  app/components/app_vaccine_criteria_label_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions/record_controller.rb
  app/forms/patient_search_form.rb
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  app/models/patient/programme_status.rb
  app/views/sessions/record/show.html.erb
  config/locales/en.yml
  config/locales/status.en.yml
  spec/components/app_vaccine_criteria_label_component_spec.rb
  spec/features/filtering_by_vaccine_type_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/forms/patient_search_form_spec.rb
  spec/lib/patient_status_resolver_spec.rb
  spec/lib/vaccine_criteria_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `has_vaccine_criteria`
  app/components/app_session_overview_component.rb
  app/controllers/sessions/record_controller.rb
  app/forms/patient_search_form.rb
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Add vaccine criteria parameters
  app/controllers/draft_vaccination_records_controller.rb
  app/lib/vaccine_criteria.rb
  app/models/vaccine.rb
  spec/components/app_vaccine_criteria_label_component_spec.rb
  spec/lib/vaccine_criteria_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't count nasal preferred consent as injection
  app/lib/stats/session.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure seeds run without Redis
  app/models/patient_team.rb
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Run seeds in testing workflow
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Fix not eligible filters
  app/components/app_patient_search_form_component.html.erb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Bring back aged out of programmes filter
  app/components/app_patient_search_form_component.html.erb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Enqueue `Search...Job`s when patients are added to a session
  app/controllers/patients_controller.rb
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/models/immunisation_import.rb
  app/models/location.rb
  app/models/patient_location.rb
  app/models/school_move.rb
  app/models/session.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
  spec/models/location_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add VaccinationRecordChangeset model skeleton and CommitImmunisationImportJob placeholder
  app/models/vaccination_record_changeset.rb
Owners: @nhsuk/mavis-devs-application

Start implementing changeset-based immunisation import: add feature flag and branch point
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Create vaccination_record_changesets migration and implement model + commit job + wire into ImmunisationImport changeset path
  app/models/immunisation_import.rb
Owners: @nhsuk/mavis-devs-application

Refactor ImmunisationImport: introduce feature-flagged branch and preserve legacy path
  app/models/immunisation_import.rb
Owners: @nhsuk/mavis-devs-application

Add vaccination_record_changesets table, flesh out model, and add CommitImmunisationImportJob skeleton
  app/jobs/commit_immunisation_import_job.rb
  app/models/vaccination_record_changeset.rb
  db/migrate/20251125110901_create_vaccination_record_changesets.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Separate MMR due vaccination statuses
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_session_overview_component.rb
  app/lib/stats/session.rb
  config/locales/en.yml
  config/locales/status.en.yml
  spec/components/app_vaccine_criteria_label_component_spec.rb
  spec/lib/patient_status_resolver_spec.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide "Not eligible" filter
  app/controllers/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Ensure school moves across teams are staged for review
  app/models/concerns/patient_import_concern.rb
  app/policies/school_move_policy.rb
  spec/features/import_class_lists_move_spec.rb
  spec/policies/school_move_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure delay vaccination can be given after consent
  app/controllers/draft_consents_controller.rb
  app/models/draft_consent.rb
  spec/features/verbal_consent_given_delay_vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve search by name for locations
  app/models/location.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Add single-page vaccination report form
  app/controllers/vaccination_reports_controller.rb
  app/models/vaccination_report.rb
  app/views/vaccination_reports/new.html.erb
  config/locales/en.yml
  config/locales/helpers.en.yml
  config/routes.rb
  spec/features/download_vaccination_reports_single_page_spec.rb
Owners: @nhsuk/mavis-devs-application

Use programme status for heading
  app/components/app_patient_session_section_component.rb
  app/components/app_patient_session_vaccination_component.rb
  spec/components/app_patient_session_vaccination_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Prometheus exporter setup with cloudwatch
  Gemfile
  Gemfile.lock
  config/initializers/cloudwatch_exporter.rb
  config/initializers/sidekiq.rb
  config/puma.rb
Owners: @nhsuk/mavis-devs-application

Create a dockerized database on tag push
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/deployment_permissions.tf
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Infrastructure setup for regression test tasks
  Dockerfile
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Include a sidekiq container in the task
  .github/workflows/regression-test-run.yml
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

[temp] disable reruns for faster feedback
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

Update workflow to reference branch in remote repository
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

Pipeline setup for regression tests
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
  terraform/account/resources/iam_policy_RunECSTask.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

rebase and set cross_service_tests parameter
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

[temp] try running one test at a time to avoid import waits
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

[temp] fix wrong step name introduced by rebase
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Allow workflow to be called from remote repository with branch reference
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Ensure "No preference" filters correctly
  app/models/patient.rb
  spec/features/mmr_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `source` correctly for bulk upload records
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assume all bulk HPV records are administered
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `Vaccine`'s `nivs_name` to `upload_name`
  app/components/app_import_format_details_component.rb
  app/lib/graph_records.rb
  app/lib/reports/offline_session_exporter.rb
  app/lib/reports/programme_vaccinations_exporter.rb
  app/models/immunisation_import_row.rb
  app/models/vaccine.rb
  config/vaccines.yml
  db/migrate/20251118091300_rename_nivs_name_to_upload_name_in_vaccines.rb
  db/schema.rb
  lib/tasks/vaccines.rake
  spec/components/app_activity_log_component_spec.rb
  spec/factories/vaccines.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/lib/reports/offline_session_exporter_spec.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add column `nivs_name` to `Vaccine`
  app/models/vaccine.rb
  db/migrate/20251118161110_add_nivs_name_to_vaccines.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `type` to `ImmunisationImport` and `...Row`
  app/models/immunisation_import.rb
  app/models/immunisation_import_row.rb
  db/migrate/20251117144500_add_type_to_immunisation_imports.rb
  db/schema.rb
  spec/factories/immunisation_imports.rb
  spec/models/immunisation_import_row_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `programme` based on import type for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
