Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Hide actions from patient card
  app/components/app_patient_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Show programme status above consent and triage
  app/components/app_patient_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Add `includes_statuses` scope
  app/components/app_session_actions_component.rb
  app/components/app_session_overview_tallies_component.rb
  app/controllers/programmes/patients_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions/register_controller.rb
  app/jobs/send_clinic_initial_invitations_job.rb
  app/jobs/send_clinic_subsequent_invitations_job.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/generate/vaccination_records.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Revert "Avoid "Vaccinated elsewhere" wording"
  app/components/app_patient_session_search_result_card_component.rb
  app/lib/patient_status_resolver.rb
Owners: @nhsuk/mavis-devs-application

wip
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_section_component.rb
  app/lib/patient_status_resolver.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Avoid IN statements which can be costly
  app/controllers/sessions_controller.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Don't show all patients until the first global search
  app/components/app_search_results_component.rb
  app/controllers/patients_controller.rb
  app/forms/patient_search_form.rb
  app/views/patients/index.html.erb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix feature specs that break with new page load
  spec/features/access_log_spec.rb
  spec/features/archive_children_spec.rb
  spec/features/archive_vaccination_record_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/patient_search_spec.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Add team_type enum field to Team model
  app/models/team.rb
  db/migrate/20251030213843_add_team_type_to_team.rb
  db/schema.rb
  spec/factories/teams.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Add bulk upload feature flag
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Add upload-only team to db seeds
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Change homepage layout based on team type
  app/assets/stylesheets/components/_card.scss
  app/components/app_card_component.rb
  app/controllers/dashboard_controller.rb
  app/models/team.rb
  app/views/dashboard/_dashboard_cards_default.html.erb
  app/views/dashboard/_dashboard_cards_upload_only.html.erb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Change navigation based on team type
  app/controllers/concerns/app_navigation_concern.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Don't show children on consent matching page by default
  app/controllers/consent_forms_controller.rb
  app/views/consent_forms/search.html.erb
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename column and add statuses to PatientChangeset table
  app/models/patient_changeset.rb
  spec/components/app_import_pds_unmatched_summary_component_spec.rb
  spec/factories/patient_changesets.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/jobs/process_patient_changeset_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Change CommitPatientChangesetsJob to work with changesets rather than import
  app/jobs/commit_patient_changesets_job.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Change ProcessPatientChangesetJob to accept changeset id
  app/jobs/pds_cascading_search_job.rb
  app/jobs/process_patient_changeset_job.rb
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/jobs/process_patient_changeset_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Migration for PatientChangeset table
  app/models/patient_changeset.rb
  db/migrate/20251031122639_rename_pending_changes_to_data_and_add_changeset_type_and_make_row_nullable.rb
  db/schema.rb
  spec/factories/patient_changesets.rb
  spec/models/patient_changeset_spec.rb
Owners: @nhsuk/mavis-devs-application

Create Review jobs for import
  app/jobs/process_patient_changeset_job.rb
  app/jobs/review_class_import_school_move_job.rb
  app/jobs/review_patient_changeset_job.rb
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
Owners: @nhsuk/mavis-devs-application

Remove `patients` association on locations
  app/models/location.rb
Owners: @nhsuk/mavis-devs-application

Create status objects in batches
  app/lib/status_updater.rb
Owners: @nhsuk/mavis-devs-application

Add job to enqueue patient status updates
  app/jobs/enqueue_daily_status_updates_job.rb
  spec/jobs/enqueue_daily_status_updates_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Change nightly status updater job
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Update delayed triage if vaccination date is change
  app/controllers/draft_vaccination_records_controller.rb
  app/models/vaccination_record.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/mmr_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Invalidate delayed triage immediately when backdating causes expiration
  app/models/concerns/invalidatable.rb
  app/models/vaccination_record.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Update vaccination record association when creating delayed MMR triage
  app/forms/triage_form.rb
  spec/forms/triage_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Associate delayed triage with vaccination record for date updates
  app/models/vaccination_record.rb
  db/migrate/20251031093043_add_next_dose_delay_triage_id_to_vaccination_records.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Use "vaccination" wording for Gillick assessment
  app/views/patient_sessions/gillick_assessments/edit.html.erb
  spec/features/self_consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure redis is accessible from ops service
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Refactor how consent statuses are determined
  app/controllers/sessions/consent_controller.rb
Owners: @nhsuk/mavis-devs-application

Simplify resolved consent statuses
  app/controllers/sessions/consent_controller.rb
  app/forms/patient_search_form.rb
  app/lib/patient_status_resolver.rb
  config/locales/status.en.yml
Owners: @nhsuk/mavis-devs-application

Rename "Safe to vaccinate with gelatine-free vaccine"
  app/views/parent_interface/consent_forms/confirm.html.erb
  config/locales/en.yml
  config/locales/helpers.en.yml
  config/locales/status.en.yml
  spec/components/app_vaccine_criteria_label_component_spec.rb
  spec/features/triage_without_gelatine_spec.rb
Owners: @nhsuk/mavis-devs-application

Create patient_teams table
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient.rb
  app/models/patient_team.rb
  app/models/team.rb
  db/migrate/20251017133712_create_patient_teams_table.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Migration script for populating patient_teams table
  db/migrate/20251027190936_populate_patient_teams_table.rb
Owners: @nhsuk/mavis-devs-application

Create job for handling imports
  app/controllers/api/testing/teams_controller.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/status_updater_job.rb
  app/jobs/sync_patient_team_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/generate/vaccination_records.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/models/class_import.rb
  app/models/immunisation_import.rb
  app/models/patient.rb
  app/models/school_move.rb
  config/sidekiq.yml
  db/seeds.rb
  spec/factories/patient_teams.rb
  spec/models/patient_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Include concern in relvant models
  .rubocop.yml
  app/models/archive_reason.rb
  app/models/location.rb
  app/models/organisation.rb
  app/models/patient_location.rb
  app/models/school_move.rb
  app/models/session.rb
  app/models/subteam.rb
  app/models/team.rb
  app/models/vaccination_record.rb
  config/brakeman.ignore
  docs/ops-tasks.md
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Add enhanced triage status filtering
  app/controllers/sessions/triage_controller.rb
  app/forms/patient_search_form.rb
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  app/views/parent_interface/consent_forms/confirm.html.erb
  app/views/sessions/triage/show.html.erb
  config/locales/status.en.yml
  spec/features/triage_required_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Swap complicated logic in patient_policy for new table join
  app/policies/patient_policy.rb
Owners: @nhsuk/mavis-devs-application

Refactor how consent statuses are determined
  app/controllers/sessions/consent_controller.rb
Owners: @nhsuk/mavis-devs-application

Simplify resolved consent statuses
  app/controllers/sessions/consent_controller.rb
  app/forms/patient_search_form.rb
  app/lib/patient_status_resolver.rb
  config/locales/status.en.yml
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
