Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add tests for PDS lookup history
  app/models/pds_search_result.rb
  spec/components/app_child_summary_component_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/models/patient_spec.rb
  spec/models/pds_search_result_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky test related to location programme year groups
  spec/factories/location_programme_year_groups.rb
Owners: @nhsuk/mavis-devs-application

Add missing concern to triage
  app/models/triage.rb
Owners: @nhsuk/mavis-devs-application

Update PII Access policy
  terraform/account/main.tf
  terraform/account/resources/iam_policy_DenyPIIAccess.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Add test to verify the consent status for conflicting consents
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Add crossorigin auth for manifest in non-prod
  app/helpers/application_helper.rb
Owners: @nhsuk/mavis-devs-application

Add `DaysBeforeToWeeksBefore` concern
  app/models/concerns/days_before_to_weeks_before.rb
  app/models/session.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Add `Consentable` concern
  app/models/concerns/consentable.rb
  app/models/session.rb
Owners: @nhsuk/mavis-devs-application

Add `DraftSession`
  app/controllers/draft_imports_controller.rb
  app/controllers/draft_sessions_controller.rb
  app/controllers/session_dates_controller.rb
  app/controllers/sessions/edit_controller.rb
  app/controllers/sessions_controller.rb
  app/forms/session_programmes_form.rb
  app/models/draft_session.rb
  app/models/session.rb
  app/views/draft_sessions/confirm.html.erb
  app/views/draft_sessions/consent_reminders.erb
  app/views/draft_sessions/consent_requests.erb
  app/views/draft_sessions/delegation.html.erb
  app/views/draft_sessions/invitations.erb
  app/views/draft_sessions/programmes.html.erb
  app/views/draft_sessions/register_attendance.html.erb
  app/views/session_dates/show.html.erb
  app/views/sessions/show.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  config/routes.rb
  spec/features/e2e_journey_spec.rb
  spec/features/manage_attendance_spec.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/features/scheduled_consent_requests_spec.rb
  spec/forms/session_programmes_form_spec.rb
  spec/models/draft_session_spec.rb
Owners: @nhsuk/mavis-devs-application

fix app_version not properly injected
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Restrict policy permissions further
  terraform/account/resources/iam_policy_DenyPIIAccess.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Allow editing dates without saving to database
  app/controllers/draft_sessions_controller.rb
  app/controllers/session_dates_controller.rb
  app/models/draft_session.rb
  app/models/draft_session_date.rb
  app/models/session.rb
  app/models/session_date.rb
  app/views/draft_sessions/confirm.html.erb
  app/views/draft_sessions/dates.html.erb
  app/views/session_dates/show.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/models/session_date_spec.rb
Owners: @nhsuk/mavis-devs-application

Factor out navigation items into a separate concern
  app/controllers/application_controller.rb
  app/controllers/concerns/app_navigation_concern.rb
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Create TimelineRecords module for patient event history visualisation
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add timeline UI with configurable filters for patient events
  app/components/app_timeline_component.rb
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  config/routes.rb
  lib/timeline_records.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Update sample_patient function to return nil when no comparison option is selected
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Add ability to show PII related information on the timeline
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix logout template
  app/views/users/logout/show.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor timeline config
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Ensure PDS sweep picks up invalidated patients
  app/jobs/enqueue_update_patients_from_pds_job.rb
  spec/jobs/enqueue_update_patients_from_pds_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve graph_records.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Update functional test
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add controller, route and view for the frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add feature tests for support access to tools
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

Add toggle for `show_pii` mode in the UI
  app/controllers/inspect/graphs_controller.rb
Owners: @nhsuk/mavis-devs-application

Log PII access for graph view
  app/controllers/inspect/graphs_controller.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add access logging for PII mode in timeline and graphs
  app/models/access_log_entry.rb
Owners: @nhsuk/mavis-devs-application

Restrict PII access to eligible ops users
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Enforce graph PII access controls on frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
Owners: @nhsuk/mavis-devs-application

Adjust display fields for new data structure
  lib/graph_records.rb
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add unit tests for PII access logging
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

Enforce timeline PII access controls on frontend
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add column to access log to store request details
  app/models/access_log_entry.rb
  db/migrate/20250926113321_add_request_details_to_access_log_entry.rb
  db/schema.rb
  spec/factories/access_log_entries.rb
  spec/models/access_log_entry_spec.rb
Owners: @nhsuk/mavis-devs-application

Add function to authenticate ops users with PII access
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Create feature test
  spec/features/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix tests after rebase
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Add support user type to User model
  app/models/cis2_info.rb
  app/models/user.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove production constraint on ops endpoints
  config/routes.rb
  spec/features/graph_records_spec.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Log request details for PII accesses in timeline
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Limit access to ops tools to support users only
  app/controllers/concerns/authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/dashboard/index.html.erb
  config/routes.rb
  spec/features/user_cis2_authentication_inspect_non_support_spec.rb
  spec/features/user_cis2_authentication_inspect_support_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
