Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Fix flaky tests caused by MMR date calculations
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@58ffccc7427c91c55a00f56ec544c0c25ca6d7aa 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@7152944ec64ac3c19476fa2a7a6155d36d7c7bd0 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Only show hint text in Autocomplete when needed
  app/assets/javascripts/components/autocomplete.js
  app/assets/javascripts/components/autocomplete.spec.js
  app/views/draft_vaccination_records/location.html.erb
  app/views/patients/edit/school.html.erb
Owners: @nhsuk/mavis-devs-application

Allow `minLength` to be set on accessibleAutocomplete via html
  app/assets/javascripts/components/autocomplete.js
  app/views/draft_vaccination_records/location.html.erb
Owners: @nhsuk/mavis-devs-application

Fix NoMethodError when processing empty immunisation imports
  app/models/immunisation_import.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `new` and `edit` parent relationship views to use shared `_fields` partial
  app/views/parent_relationships/_fields.html.erb
  app/views/parent_relationships/edit.html.erb
  app/views/parent_relationships/new.html.erb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@cdb8d99db0c1afb8c8eeffb03d948179c40150b4 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@902a536fa362afc6d2a57c4da1d0511c2607dd96 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Add CarePlus staff fields to team model and use in report
  app/lib/reports/careplus_exporter.rb
  app/models/team.rb
  app/models/vaccination_report.rb
  app/views/vaccination_reports/file_format.html.erb
  app/views/vaccination_reports/new.html.erb
  db/migrate/20260117090429_add_care_plus_staff_code_and_care_plus_staff_type_to_team.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/teams.rb
  spec/features/download_vaccination_reports_single_page_spec.rb
  spec/features/download_vaccination_reports_spec.rb
  spec/lib/reports/careplus_exporter_spec.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove FILE_FORMATS from VaccinationReport
  app/models/vaccination_report.rb
Owners: @nhsuk/mavis-devs-application

Add CarePlus fields to onboarding model
  app/models/onboarding.rb
  spec/fixtures/files/onboarding/valid.yaml
  spec/models/onboarding_spec.rb
Owners: @nhsuk/mavis-devs-application

Make careplus_venue_code optional and add to careplus_enabled
  app/models/team.rb
  db/migrate/20260119000000_remove_not_null_from_careplus_venue_code_on_teams.rb
  db/schema.rb
  spec/factories/teams.rb
  spec/models/onboarding_spec.rb
  spec/models/team_spec.rb
  spec/requests/api/testing/onboard_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename care_plus_enabled -> careplus_enabled
  app/models/team.rb
  app/models/vaccination_report.rb
  db/seeds.rb
  spec/factories/teams.rb
  spec/features/download_vaccination_reports_single_page_spec.rb
  spec/features/download_vaccination_reports_spec.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@f353f929f3d3170308a0ecc494ea6c47681745ca 🚀
  docs/rdoc/next/Onboarding.html
  docs/rdoc/next/Onboarding/ExistingProgramme.html
  docs/rdoc/next/Onboarding/ExistingSchool.html
  docs/rdoc/next/Onboarding/NewSchoolSite.html
  docs/rdoc/next/Reports/CareplusExporter.html
  docs/rdoc/next/Team.html
  docs/rdoc/next/VaccinationReport.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@0a8ba74084e9e05fa55873734f7206f947de7ac9 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@dc4817b733a88ed3cdb322b19e436119e0fd1f13 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@e9bfa65e503dcc79c82079600b477f12068c8463 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Update README
  README.md
Owners: @nhsuk/mavis-devs-application

Add end_to_end environment
  .rubocop.yml
  Gemfile
  Procfile.e2e
  app/lib/feature_flag_factory.rb
  config/credentials/end_to_end.key
  config/credentials/end_to_end.yml.enc
  config/database.yml
  config/environments/end_to_end.rb
  config/settings/end_to_end.yml
Owners: @nhsuk/mavis-devs-application

Add End-to-End test running script
  bin/e2e
Owners: @nhsuk/mavis-devs-application

Generate v04 of Reporting API Totals view
  db/migrate/20260122093544_update_reporting_api_totals_to_version_4.rb
  db/views/reporting_api_totals_v04.sql
Owners: @nhsuk/mavis-devs-application

Update school.name in reporting api totals view
  db/migrate/20260122093544_update_reporting_api_totals_to_version_4.rb
  db/schema.rb
  db/views/reporting_api_totals_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@b16682e12c89f2fffb2caf56863434c8ff253edc 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Rework reason for refusal removal on consent form
  app/models/consent_form.rb
Owners: @nhsuk/mavis-devs-application

Validate that reason for refusal is nil on given consents
  app/models/concerns/refusable.rb
  app/models/consent.rb
  app/models/consent_form_programme.rb
Owners: @nhsuk/mavis-devs-application

test: refactor unused fields reset testing
  spec/models/consent_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Setup the pentest environment
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
  terraform/app/env/pentest-backend.hcl
  terraform/app/env/pentest.tfvars
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@5f638a2a3b552edeb17d6a5afaf5438ff3e2c5fc 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Completely move infrastructure deployment out of deploy.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
Owners: @nhsuk/vaccine-digital-service

Cleanup and finish separation of infrastructure and application
  terraform/documentation/deployment-process.md
  terraform/documentation/infrastructure-overview.md
  terraform/documentation/terraform-lifecycle-and-permissions.md
Owners: @nhsuk/mavis-devs-infrastructure

Move "deploy_application.yml" logic directly into "deploy.yml" workflow
  .github/workflows/build-and-push-image.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
Owners: @nhsuk/vaccine-digital-service

Create new columns on `VaccinationRecord`
  app/models/vaccination_record.rb
  db/migrate/20260122112705_add_batch_number_and_batch_expiry_to_vaccination_record.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add rake task to backfill the new columns on `VaccinationRecord`
  lib/tasks/back_fill_batch_number_and_expiry.rake
Owners: @nhsuk/mavis-devs-application

Write to the new columns, as well as the old
  app/lib/fhir_mapper/vaccination_record.rb
  app/models/draft_vaccination_record.rb
  app/models/immunisation_import_row.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/models/draft_vaccination_record_spec.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Add test for sending MMRV records to the Imms API
  spec/jobs/sync_vaccination_record_to_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve search by name for locations
  app/models/location.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Sync patients without NHS num to imms api
  app/lib/nhs/immunisations_api.rb
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  spec/features/manage_children_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Add rake task to backfill vrs with no NHS numbers
  lib/tasks/sync_vaccination_records_without_nhs_number.rake
Owners: @nhsuk/mavis-devs-application

Drop `patient_vaccination_statuses` table
  db/migrate/20260120081023_drop_patient_vaccination_statuses.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application
