Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Fix mavis schools show specs
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace good-job with sidekiq
  terraform/monitoring/grafana/resources/dashboards/mavis-application.json
Owners: @nhsuk/mavis-devs-infrastructure

Standardizing conventions/setup
  .tool-versions
Owners: @nhsuk/mavis-devs-application

Create ECS reporting service
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Set up resources needed for reporting service
  terraform/account/main.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/rds.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Allow access to MISE_SOPS_AGE_KEY secret
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Also update deployment of data replication
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Implement template task definition mechanism
  config/container_variables.yml
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove migrated variables out of tfvars
  bin/docker-start
Owners: @nhsuk/mavis-devs-application

Update permissions
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Infrastructure tweaks
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update deployment workflows
  .tool-versions
  script/populate_ssm_parameters.py
Owners: @nhsuk/mavis-devs-application

Simplify Reporting app JWT setup
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/main.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Remove good-job references from container vars
  config/container_variables.yml
Owners: @nhsuk/mavis-devs-application

Normalise `""` to `nil` when staging changes
  app/models/concerns/pending_changes_concern.rb
  spec/models/concerns/pending_changes_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix vulnerability alerted by SonarQube
  .github/workflows/build-and-push-image.yml
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-backup-infrastructure.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-monitoring.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy-infrastructure.yml
  .github/workflows/draft-new-release.yml
Owners: @nhsuk/vaccine-digital-service

Variable cleanup
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Fix schedule for enqueueing imms api searches
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Introduce a read-only user for data-replication
  bin/data-replication
  bin/docker-start
  terraform/data_replication/ecs.tf
  terraform/data_replication/iam.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Expand out names
  terraform/data_replication/iam.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add postgres data source
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Working postgress connection
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/network.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
  terraform/monitoring/aws/variables.tf
  terraform/monitoring/aws/workspace.tf
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Ensure grafana can access vpc endpoints
  terraform/app/modules/vpc_endpoint/main.tf
  terraform/data_replication/network.tf
  terraform/monitoring/aws/workspace.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add necessary permissions for data replication deployment
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Create independent password for data replication
  .github/workflows/data-replication-pipeline.yml
  terraform/data_replication/ecs.tf
  terraform/data_replication/iam.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add IAM policy to deny PII access
  terraform/account/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add academic years to `LocationProgrammeYearGroup`
  app/controllers/programmes/overview_controller.rb
  app/controllers/programmes/patients_controller.rb
  app/forms/session_programmes_form.rb
  app/lib/generic_clinic_factory.rb
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/mavis_cli/schools/add_to_team.rb
  app/lib/mavis_cli/schools/show.rb
  app/lib/mavis_cli/teams/add_programme.rb
  app/models/concerns/has_programme_year_groups.rb
  app/models/location.rb
  app/models/location_programme_year_group.rb
  app/models/onboarding.rb
  app/models/patient.rb
  app/models/patient_location.rb
  app/models/session.rb
  db/migrate/20250922065846_add_academic_year_to_location_programme_year_groups.rb
  db/schema.rb
  spec/components/app_patient_session_table_component_spec.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/locations.rb
  spec/factories/sessions.rb
  spec/factories/teams.rb
  spec/features/cli_schools_remove_programme_year_groups_spec.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/forms/session_programmes_form_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
  spec/lib/generic_clinic_factory_spec.rb
  spec/lib/stats/organisations_spec.rb
  spec/models/location_programme_year_group_spec.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Render import errors inside AppCardComponent
  app/components/app_import_errors_component.rb
Owners: @nhsuk/mavis-devs-application

Add AppTimelineComponent
  app/assets/stylesheets/components/_index.scss
  app/assets/stylesheets/components/_timeline.scss
  app/components/app_timeline_component.rb
  spec/components/app_timeline_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add PDS lookup history timeline
  app/components/app_child_summary_component.rb
  app/controllers/patients_controller.rb
  app/models/patient.rb
  app/models/pds_search_result.rb
  app/views/patients/pds_search_history.html.erb
  config/locales/en.yml
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Environment variables should have underscores not dashes
  .github/workflows/build-and-push-image.yml
Owners: @nhsuk/vaccine-digital-service

Add tests for PDS lookup history
  app/models/pds_search_result.rb
  spec/components/app_child_summary_component_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/models/patient_spec.rb
  spec/models/pds_search_result_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure `Patient#teams` doesn't return duplicates
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Set `delivery_status` from team API key error
  app/jobs/sms_delivery_job.rb
  spec/jobs/sms_delivery_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Create `send_vaccination_discovered_if_required`
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/lib/govuk_notify_personalisation.rb
  app/models/consent.rb
  config/initializers/govuk_notify.rb
  db/migrate/20250923072038_add_vaccination_record_discovered_sent_at_to_consents.rb
  db/schema.rb
  spec/controllers/concerns/vaccination_mailer_concern_spec.rb
  spec/factories/consents.rb
  spec/lib/govuk_notify_personalisation_spec.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Call `send_vaccination_discovered_if_required` where appropriate
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/immunisation_import.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add whitespace normalisation when creating pending changes
  app/models/concerns/pending_changes_concern.rb
  spec/models/concerns/pending_changes_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Make superuser permissions based on activities
  app/models/cis2_info.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

wip
  Gemfile
  Gemfile.lock
  app/controllers/api/testing/teams_controller.rb
  app/controllers/consent_forms_controller.rb
  app/controllers/imports/issues_controller.rb
  app/controllers/parent_interface/consent_forms_controller.rb
  app/forms/import_duplicate_form.rb
  app/forms/school_move_form.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/consent_form_matching_job.rb
  app/lib/team_cached_counts.rb
  config/environments/production.rb
Owners: @nhsuk/mavis-devs-application

Create TimelineRecords module for patient event history visualisation
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
