Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add Mavis CLI command to display session statistics for data validation
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/stats/sessions.rb
Owners: @nhsuk/mavis-devs-application

Add filter for "Eligible children" on children's tab
  app/components/app_patient_search_form_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  app/views/sessions/patients/show.html.erb
  spec/features/filtering_by_eligible_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Extract session statistics calculation into `Stats::Sessions` service
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/lib/stats/consents_by_school.rb
  app/lib/stats/session.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Filter out deceased patients from session tally stats
  app/forms/patient_search_form.rb
  app/lib/stats/session.rb
  spec/features/filtering_by_eligible_children_spec.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add caption to session dates tally table
  app/components/app_session_dates_table_component.html.erb
Owners: @nhsuk/mavis-devs-application

Update copy for eligibility message on new session overview page
  app/components/app_session_overview_tallies_component.html.erb
  config/locales/components.en.yml
Owners: @nhsuk/mavis-devs-application

Add `nhs_immunisations_api_primary_source` column to `vaccination_records` table
  app/models/vaccination_record.rb
  db/migrate/20251013081818_add_nhs_immunisations_api_primary_source_to_vaccination_records.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Create rake task to populate the new column
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Add validation for `..._primary_source`
  app/lib/nhs/immunisations_api.rb
  app/models/vaccination_record.rb
  spec/features/cli_vaccination_records_sync_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `nhs_immunisations_api_primary_source` when mapping Imms API records
  app/lib/fhir_mapper/vaccination_record.rb
  db/migrate/20251013081818_add_nhs_immunisations_api_primary_source_to_vaccination_records.rb
  db/schema.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove validation on `Batch` to allow shorter batch names
  app/forms/batch_form.rb
  app/models/batch.rb
  app/models/immunisation_import_row.rb
  spec/fixtures/files/fhir/fhir_record_short_batch.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/models/batch_spec.rb
Owners: @nhsuk/mavis-devs-application

Deduplicate Imms API records based on `primarySource`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/fixtures/files/fhir/search_response_duplicate.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add new columns to `VaccinationRecord`
  app/models/vaccination_record.rb
  db/migrate/20251016112700_add_nhs_immunisations_api_identifier_to_vaccination_records.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add validation for new columns
  app/models/vaccination_record.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/forms/import_duplicate_form_spec.rb
  spec/models/immunisation_import_row_spec.rb
  spec/policies/vaccination_record_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `..._system` and `..._value` when consuming API records
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_extended_milliliter.json
  spec/fixtures/files/fhir/fhir_record_gp.json
  spec/fixtures/files/fhir/fhir_record_minimum_bulk_spec.json
  spec/fixtures/files/fhir/fhir_record_unknown_location.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove tallying query parameter
  app/components/app_session_overview_tallies_component.rb
  app/helpers/application_helper.rb
Owners: @nhsuk/mavis-devs-application

Add `delay_vaccination_until`
  app/models/triage.rb
  db/migrate/20251016081839_add_delay_vaccination_until_to_triages.rb
  db/schema.rb
  spec/models/triage_spec.rb
Owners: @nhsuk/mavis-devs-application

Add scopes related to delay triage
  app/models/triage.rb
  spec/models/triage_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `InvalidateDelayTriagesJob`
  app/jobs/invalidate_delay_triages_job.rb
  config/sidekiq.yml
  spec/jobs/invalidate_delay_triages_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix tests for `SearchVaccinationRecordsInNHSJob`
  spec/factories/vaccination_records.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix vaccinated tally link to filter by eligible children
  app/components/app_session_overview_tallies_component.rb
Owners: @nhsuk/mavis-devs-application

Remove validation on age ranges
  app/lib/generic_clinic_factory.rb
  app/models/location/year_group.rb
  spec/factories/location_year_groups.rb
  spec/factories/locations.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/models/location/year_group_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix Imms API search job specs
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve activity log ordering
  app/components/app_activity_log_component.rb
  spec/components/app_activity_log_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Move environment variables to variables.tf
  terraform/app/ecs.tf
  terraform/app/iam.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create dedicated Ops ECS service
  .github/workflows/deploy-application.yml
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Shell into ops service by default
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Move ECS task role to account stack
  terraform/account/access_analyzer.tf
  terraform/account/ecr.tf
  terraform/account/iam.tf
  terraform/account/main.tf
  terraform/account/resources/iam_policy_ECSShellAccess.json
  terraform/app/ecs.tf
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/iam.tf
Owners: @nhsuk/mavis-devs-infrastructure

Make filesystem writeable
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create service with 0 replica count
  .github/workflows/deploy.yml
  terraform/app/ecs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Build separate image for ops service
  .github/workflows/build-and-push-image.yml
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  ops.Dockerfile
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Update image build
  .github/workflows/build-and-push-image.yml
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  ops.Dockerfile
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Ops service deployment
  .github/workflows/build-and-push-image.yml
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Remove undeclared variables
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/test.tfvars
  terraform/scripts/bootstrap.sh
Owners: @nhsuk/mavis-devs-infrastructure

Create indices for boosting patient lookups
  .rubocop.yml
  app/models/archive_reason.rb
  app/models/patient_location.rb
  app/models/school_move.rb
  app/models/session.rb
  app/models/vaccination_record.rb
  db/migrate/20251016163100_add_database_performance_indexes.rb
  db/schema.rb
  spec/factories/archive_reasons.rb
  spec/factories/patient_locations.rb
  spec/factories/school_moves.rb
  spec/factories/sessions.rb
  spec/factories/vaccination_records.rb
  spec/models/archive_reason_spec.rb
  spec/models/patient_location_spec.rb
  spec/models/school_move_spec.rb
  spec/models/session_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Move refusal reasons to each programme
  app/components/app_consent_form_card_component.rb
  app/controllers/draft_consents_controller.rb
  app/controllers/parent_interface/consent_forms/edit_controller.rb
  app/lib/govuk_notify_personalisation.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/consent_form_programme.rb
  app/models/draft_consent.rb
  app/views/draft_consents/reason_for_refusal.html.erb
  app/views/parent_interface/consent_forms/confirm.html.erb
  app/views/parent_interface/consent_forms/edit/reason_for_refusal.html.erb
  app/views/parent_interface/consent_forms/edit/reason_for_refusal_notes.html.erb
  app/views/parent_interface/consent_forms/edit/reason_notes.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  db/migrate/20250922194253_add_reason_for_refusal_to_consent_form_programmes.rb
  db/schema.rb
  spec/components/app_consent_form_card_component_spec.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consent_forms.rb
  spec/features/parental_consent_clinic_spec.rb
  spec/models/consent_form_spec.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Refusable`
  app/models/concerns/refusable.rb
  app/models/consent.rb
Owners: @nhsuk/mavis-devs-application

Don't support unencrypted data
  config/application.rb
Owners: @nhsuk/mavis-devs-application

Update `ProgrammeGrouper` to be more flexible
  app/lib/programme_grouper.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Add `vaccine_and_dose` personalisation
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
