Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Improve release notes creation
  .github/pull_request_template.md
  .github/workflows/draft-new-release.yml
  script/draft_new_release.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Replace IN loop with EXIST
  app/policies/vaccination_record_policy.rb
Owners: @nhsuk/mavis-devs-application

Add `data_migrations:fix_vaccination_records_location`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Remove Good Job migrations
  db/migrate/20231006130019_create_good_jobs.rb
  db/migrate/20240115095608_create_good_job_settings.rb
  db/migrate/20240115095609_create_index_good_jobs_jobs_on_priority_created_at_when_unfinished.rb
  db/migrate/20240115095610_create_good_job_batches.rb
  db/migrate/20240115095611_create_good_job_executions.rb
  db/migrate/20240115095612_create_good_jobs_error_event.rb
  db/migrate/20240115095613_recreate_good_job_cron_indexes_with_conditional.rb
  db/migrate/20240115095614_create_good_job_labels.rb
  db/migrate/20240115095615_create_good_job_labels_index.rb
  db/migrate/20240115095616_remove_good_job_active_id_index.rb
  db/migrate/20240709102850_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20240709102851_create_good_job_execution_error_backtrace.rb
  db/migrate/20240709102852_create_good_job_process_lock_ids.rb
  db/migrate/20240709102853_create_good_job_process_lock_indexes.rb
  db/migrate/20240709102854_create_good_job_execution_duration.rb
  db/migrate/20250909100315_drop_good_job.rb
Owners: @nhsuk/mavis-devs-application

Simplify patient and session lookups
  app/components/app_programme_session_table_component.rb
  app/components/app_session_actions_component.rb
  app/components/app_session_details_summary_component.rb
  app/components/app_session_needs_review_warning_component.rb
  app/controllers/programmes/base_controller.rb
  app/controllers/sessions/consent_controller.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions/register_controller.rb
  app/controllers/sessions/triage_controller.rb
  app/forms/patient_search_form.rb
  app/lib/programme_birth_academic_years.rb
  app/lib/stats/organisations.rb
  app/lib/status_updater.rb
  app/models/location_programme_year_group.rb
  app/models/patient.rb
  app/models/patient_location.rb
  app/models/session.rb
  app/views/programmes/sessions/index.html.erb
  app/views/sessions/consent/show.html.erb
  app/views/sessions/patient_specific_directions/show.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/record/show.html.erb
  app/views/sessions/register/show.html.erb
  app/views/sessions/triage/show.html.erb
  spec/components/app_programme_session_table_component_spec.rb
  spec/features/parental_consent_flu_spec.rb
  spec/forms/patient_search_form_spec.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
  spec/jobs/patients_aged_out_of_school_job_spec.rb
  spec/lib/patient_archiver_spec.rb
  spec/models/patient_location_spec.rb
  spec/models/patient_spec.rb
  spec/models/school_move_spec.rb
Owners: @nhsuk/mavis-devs-application

Introduce a rails cache for web server
  terraform/app/ecs.tf
  terraform/app/valkey.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add serverless elasticache deployment permissions
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

The REDIS_CACHE_URL should be a properly formatted url
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add `redis` Gem
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Configure Redis cache store
  config/environments/production.rb
Owners: @nhsuk/mavis-devs-application

Add `TeamCachedCounts`
  app/components/app_imports_navigation_component.rb
  app/helpers/application_helper.rb
  app/helpers/imports_helper.rb
  app/lib/team_cached_counts.rb
  app/views/imports/index.html.erb
  app/views/imports/issues/index.html.erb
  app/views/imports/notices/index.html.erb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Cache navigation header counts
  app/controllers/parent_interface/consent_forms_controller.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/consent_form_matching_job.rb
  app/lib/team_cached_counts.rb
Owners: @nhsuk/mavis-devs-application

Redis cache must be available to background services
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Use `EXISTS` instead of `IN`
  app/controllers/sessions_controller.rb
  app/models/patient.rb
  app/models/patient_location.rb
Owners: @nhsuk/mavis-devs-application

Further improvements to queries
  app/controllers/sessions_controller.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Add S1 mappings for more MenACWY and Td/IPV products
  app/lib/reports/systm_one_exporter.rb
  spec/factories/programmes.rb
  spec/lib/reports/systm_one_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix crash on the "Manage manual consent reminders" page
  app/components/app_session_actions_component.rb
  app/models/session.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add feature spec for managing manual consent reminders
  spec/features/parental_consent_manual_consent_reminders_send_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix performance degradation in patients query
  app/controllers/sessions_controller.rb
  app/models/patient_location.rb
Owners: @nhsuk/mavis-devs-application

Allow users to sort offline sheet by consent time
  app/lib/reports/export_formatters.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure cache invalidation happens
  app/controllers/consent_forms_controller.rb
  app/controllers/imports/issues_controller.rb
  app/forms/import_duplicate_form.rb
  app/forms/school_move_form.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/parental_consent_clinic_spec.rb
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Ensure cache invalidation happens"
  app/controllers/consent_forms_controller.rb
  app/controllers/imports/issues_controller.rb
  app/forms/import_duplicate_form.rb
  app/forms/school_move_form.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/parental_consent_clinic_spec.rb
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Add `redis` Gem"
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Revert "Configure Redis cache store"
  config/environments/production.rb
Owners: @nhsuk/mavis-devs-application

Revert "Cache navigation header counts"
  app/controllers/parent_interface/consent_forms_controller.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/consent_form_matching_job.rb
  app/lib/team_cached_counts.rb
Owners: @nhsuk/mavis-devs-application

Fix reference to patient session factory
  spec/policies/school_move_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Add tests to cover header counts
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/parental_consent_clinic_spec.rb
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Prevent Imms API records being edited by an offline spreadsheet
  app/forms/import_duplicate_form.rb
  app/models/immunisation_import_row.rb
  app/views/imports/issues/show.html.erb
  spec/forms/import_duplicate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure already vaccinated patients don't receive clinic invitations
  app/models/session_notification.rb
  spec/models/session_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Import test coverage for invite to clinic
  spec/features/manage_school_sessions_spec.rb
Owners: @nhsuk/mavis-devs-application

Update content for sending invites to clinic
  app/views/sessions/invite_to_clinic/edit.html.erb
  spec/features/manage_school_sessions_spec.rb
Owners: @nhsuk/mavis-devs-application

Send a notification if we discover a vaccination record after consent
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/lib/govuk_notify_personalisation.rb
  config/initializers/govuk_notify.rb
Owners: @nhsuk/mavis-devs-application

Update AppCardComponent to allow for more variants and content types
  app/assets/stylesheets/components/_card.scss
  app/components/app_card_component.rb
  app/components/app_card_heading_component.rb
  app/components/app_compare_consent_form_and_patient_component.rb
  app/components/app_consent_card_component.rb
  app/components/app_consent_form_card_component.rb
  app/components/app_health_answers_card_component.rb
  app/components/app_parent_card_component.rb
  app/components/app_patient_card_component.rb
  app/components/app_patient_search_form_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_consent_component.html.erb
  app/components/app_patient_session_outcome_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_triage_component.html.erb
  app/components/app_programme_stats_component.html.erb
  app/components/app_session_card_component.rb
  app/components/app_session_search_form_component.rb
  app/views/consent_forms/search.html.erb
  app/views/consent_forms/show.html.erb
  app/views/dashboard/index.html.erb
  app/views/imports/issues/show.html.erb
  app/views/imports/show.html.erb
  app/views/parent_interface/consent_forms/confirm.html.erb
  app/views/patients/index.html.erb
  app/views/programmes/overview/show.html.erb
  app/views/school_moves/show.html.erb
  app/views/sessions/edit/show.html.erb
  app/views/teams/show.html.erb
  app/views/vaccines/index.html.erb
  app/views/vaccines/show.html.erb
  spec/components/app_card_component_spec.rb
  spec/components/app_card_heading_component_spec.rb
  spec/components/app_patient_session_consent_component_spec.rb
  spec/components/app_patient_session_triage_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Implement programme status tallies for the new session overview pahe
  app/assets/stylesheets/components/_card.scss
  app/components/app_card_component.rb
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/show.html.erb
  spec/components/app_card_component_spec.rb
  spec/components/app_session_overview_tallies_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Deduplicate parents with same email in same file
  app/jobs/commit_patient_changesets_job.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Deduplicate school moves by patient during import
  app/jobs/commit_patient_changesets_job.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Upgrade to latest Terraform
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-backup-infrastructure.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-monitoring.yml
  .github/workflows/destroy-infrastructure.yml
  .github/workflows/test.yml
  .tool-versions
  terraform/account/main.tf
  terraform/app/main.tf
  terraform/app/modules/dms/main.tf
  terraform/app/modules/dns/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/vpc_endpoint/main.tf
  terraform/backup/destination-bootstrap/main.tf
  terraform/backup/destination/main.tf
  terraform/backup/source/main.tf
  terraform/bootstrap/main.tf
  terraform/data_replication/main.tf
  terraform/modules/s3/main.tf
  terraform/monitoring/aws/main.tf
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Revert "Disable enqueue_vaccinations_search_in_nhs_job until the implementation can be fixed"
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Ensure EnqueueVaccinationsSearchInNHSJob looks at consent sending date
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Enforce SSL encrypted DB connections
  config/aws-eu-west-2-root-ca.crt
  config/database.yml
  terraform/app/rds.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure
