Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add rake task to clean up stale patient locations after school moves
  lib/tasks/patient_locations.rake
Owners: @nhsuk/mavis-devs-application

Split template out of `AppPatientSearchFormComponent`
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
Owners: @nhsuk/mavis-devs-application

Add `Sessions::BaseController`
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions/consent_controller.rb
  app/controllers/sessions/invite_to_clinic_controller.rb
  app/controllers/sessions/manage_consent_reminders_controller.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions/register_controller.rb
  app/controllers/sessions/triage_controller.rb
Owners: @nhsuk/mavis-devs-application

Add infrastructure to run performance tests
  terraform/performancetest/ecs.tf
  terraform/performancetest/iam.tf
  terraform/performancetest/main.tf
  terraform/performancetest/network.tf
  terraform/performancetest/outputs.tf
  terraform/performancetest/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add role for Github workflow
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/performancetest/ecs.tf
  terraform/performancetest/iam.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add deployment role
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_RunECSTask.json.json
Owners: @nhsuk/mavis-devs-infrastructure

Create reports bucket
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/performancetest/ecs.tf
  terraform/performancetest/iam.tf
  terraform/performancetest/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add per-programme feature flagging
  app/jobs/sync_vaccination_record_to_nhs_job.rb
  app/models/programme.rb
  config/feature_flags.yml
  spec/jobs/sync_vaccination_record_to_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add per-programme feature flagging for `search`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/programme.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove per-organisation feature flagging on the search job
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/organisation.rb
  config/feature_flags.yml
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add script to fix which schools are attributed to BLMK and N&W
  app/lib/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Add method to validate the schools are in the right state now
  app/lib/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Ignore instruction row in CSV imports
  app/models/concerns/csv_importable.rb
  spec/fixtures/class_import/invalid_instruction_row.csv
  spec/fixtures/class_import/invalid_minimal.csv
  spec/fixtures/class_import/valid_instruction_row.csv
  spec/fixtures/cohort_import/invalid_instruction_row.csv
  spec/fixtures/cohort_import/invalid_minimal.csv
  spec/fixtures/cohort_import/valid_instruction_row.csv
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify `PatientSearchForm` tests
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Generalize naming
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
  terraform/assurance_testing/network.tf
  terraform/assurance_testing/outputs.tf
  terraform/assurance_testing/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Regression image based of the standard docker image
  Procfile.regression
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
Owners: @nhsuk/mavis-devs-application

Add dockerized dev-image setup to assurance testing environment
  terraform/account/deployment_permissions.tf
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create workflow for running regression tests
  .github/workflows/build-and-push-image.yml
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Normalize order of `Bundle.link`'s `-immunization.target`
  app/lib/nhs/immunisations_api.rb
Owners: @nhsuk/mavis-devs-application

Remove scope `can_sync_to_immunisations_api`
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/components/app_vaccination_record_api_sync_status_component_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Add search job tests for different programmes
  spec/fixtures/files/fhir/search_response_all_programmes.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add new programme codes
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/fixtures/files/fhir/search_response_0_results.json
  spec/fixtures/files/fhir/search_response_1_result.json
  spec/fixtures/files/fhir/search_response_1_result_mavis.json
  spec/fixtures/files/fhir/search_response_2_results.json
  spec/fixtures/files/fhir/search_response_2_results_mavis_duplicate.json
  spec/fixtures/files/fhir/search_response_duplicate.json
  spec/fixtures/files/fhir/search_response_full_bundle.json
  spec/fixtures/files/fhir/search_response_operation_outcome_entry.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle `dose_sequence: nil`
  app/lib/fhir_mapper/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Add new programme codes
  app/models/programme.rb
  spec/lib/fhir_mapper/programme_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Add basic tests for all new programme types
  spec/fixtures/files/fhir/hpv/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/menacwy/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/mmr/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/td_ipv/fhir_record_from_mavis.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor tests to use `file_name`
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor tests to better handle more programmes
  spec/features/vaccination_offline_spec.rb
  spec/fixtures/files/fhir/flu/fhir_record_extended_milliliter.json
  spec/fixtures/files/fhir/flu/fhir_record_full.json
  spec/fixtures/files/fhir/flu/fhir_record_gp.json
  spec/fixtures/files/fhir/flu/fhir_record_half_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_im_missing_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum_api_create.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum_bulk_spec.json
  spec/fixtures/files/fhir/flu/fhir_record_nasal_missing_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_short_batch.json
  spec/fixtures/files/fhir/flu/fhir_record_unexpected_dose_unit.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_location.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_vaccine.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/fhir_mapper/vaccine_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Default CLI to search for all programmes
  app/lib/mavis_cli/vaccination_records/search_imms_api.rb
Owners: @nhsuk/mavis-devs-application

Add full dose check
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove scope `can_search_from_immunisations_api`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/lib/mavis_cli/vaccination_records/search_imms_api.rb
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor "sends discovery comms" to reuse code better
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure Session#started? is true when today's the first session date
  app/models/session.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `Team#patients` method
  app/lib/location_sessions_factory.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Add `location_id` and `date` columns
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  db/migrate/20251112191047_add_date_and_location_to_gillick_assessments_and_pre_screenings.rb
  db/schema.rb
  spec/factories/gillick_assessments.rb
  spec/factories/patient_changesets.rb
  spec/factories/pre_screenings.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/patient_changeset_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Set location and date
  app/controllers/patient_sessions/gillick_assessments_controller.rb
  app/forms/vaccinate_form.rb
Owners: @nhsuk/mavis-devs-application

Add `DataMigration::SetLocationDate`
  app/lib/data_migration/set_location_date.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_location_date_spec.rb
Owners: @nhsuk/mavis-devs-application

Connect the token authentication mechanism to Devise session tracking
  app/controllers/concerns/reporting_api/token_authentication_concern.rb
  spec/controllers/concerns/reporting_api/token_authentication_concern_spec.rb
  spec/support/reporting_api_helper.rb
  spec/support/shared_examples/a_reporting_api_controller.rb
Owners: @nhsuk/mavis-devs-application

Update MMR health questions following feedback from SAIS teams
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Remove ignored columns
  app/models/patient_changeset.rb
  db/migrate/20251104225904_remove_patient_changeset_pending_changes_column.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Fix workflow
  .github/workflows/mask-db-snapshot.yml
  terraform/data_masking/variables.tf
  terraform/data_replication/rds.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure
