Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Fix typo in `SchoolsController`
  app/controllers/schools_controller.rb
Owners: @nhsuk/mavis-devs-application

Combine patients and register tabs
  app/components/app_session_actions_component.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/register_controller.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add Backup restore policy
  terraform/backup/destination/iam.tf
Owners: @nhsuk/mavis-devs-infrastructure

Actively ignore columns in bulk, not in Mavis
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Include MMR batches with MMRV as a fallback option
  app/controllers/draft_vaccination_records_controller.rb
  app/lib/vaccine_criteria.rb
  app/models/programme.rb
  app/models/programme_variant.rb
  spec/features/mmrv_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove duplicate shared examples
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve how strings of year groups are rendered
  app/helpers/year_groups_helper.rb
  spec/components/app_session_card_component_spec.rb
  spec/components/app_session_summary_component_spec.rb
  spec/features/edit_session_dates_spec.rb
  spec/features/edit_session_programmes_spec.rb
  spec/helpers/year_groups_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Add backup admin policy
  terraform/backup/destination/iam.tf
Owners: @nhsuk/mavis-devs-infrastructure

Decrease max memory for sidekiq containers
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Increase the max sidekiq tasks to 6
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Return sidekiq threads back to 5
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Enable backup on performance environment
  terraform/app/env/performance.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Add alternative name to locations
  app/lib/generic_clinic_factory.rb
  app/models/location.rb
  db/migrate/20251209133534_add_alternative_name_to_locations.rb
  db/schema.rb
  spec/factories/locations.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow searching over alternative name
  app/models/location.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Track return to destination when editing a session
  app/components/app_session_card_component.rb
  app/controllers/draft_sessions_controller.rb
  app/controllers/sessions_controller.rb
  app/models/draft_session.rb
  app/views/schools/sessions.html.erb
  spec/features/schools_spec.rb
Owners: @nhsuk/mavis-devs-application

Move scheduled sessions above unscheduled sessions
  app/views/schools/sessions.html.erb
Owners: @nhsuk/mavis-devs-application

Fix visual regression of secondary navigation
  app/components/app_secondary_navigation_component.rb
  app/components/app_sticky_navigation_component.rb
Owners: @nhsuk/mavis-devs-application

Fix failing local-user login test
  spec/features/user_password_authentication_failure_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix user creation in training onboarding
  app/lib/training_onboarding_configuration.rb
  spec/lib/training_onboarding_configuration_spec.rb
Owners: @nhsuk/mavis-devs-application

Tweak description of cli onboard command
  app/lib/mavis_cli/teams/onboard.rb
Owners: @nhsuk/mavis-devs-application

Run test for local_users in CI
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Remove patch for `RailsSemanticLogger`
  config/initializers/semantic_logger.rb
Owners: @nhsuk/mavis-devs-application

Avoid creating vaccines in tests
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/factories/vaccines.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/mmrv_vaccination_administered_spec.rb
  spec/lib/govuk_notify_personalisation_spec.rb
  spec/lib/reports/offline_session_exporter_spec.rb
  spec/models/health_question_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable some feature flags in development
  app/lib/feature_flag_factory.rb
  db/seeds.rb
  lib/tasks/feature_flags.rake
Owners: @nhsuk/mavis-devs-application

Fix `VACCINE_GIVEN` error message
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Format nursery year groups individually
  app/helpers/year_groups_helper.rb
  spec/helpers/year_groups_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Reduce spacing between items in navigation bar
  app/assets/stylesheets/components/_header.scss
Owners: @nhsuk/mavis-devs-application

Skip searching patients in pds on development
  app/lib/nhs/pds.rb
  config/settings.yml
  config/settings/development.yml
Owners: @nhsuk/mavis-devs-application

Revert extra schema changes from #5453
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Allow the reporting API to function in production
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Fix breadcrumb items for session
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions_controller.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/show.html.erb
Owners: @nhsuk/mavis-devs-application

Update patient_team syncing on patient_id
  app/models/concerns/contributes_to_patient_teams.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add extra tests for merged bulk upload format
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor unit tests to work with merged import
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Populate `nivs_name`s in `vaccines.yml`
  config/vaccines.yml
  lib/tasks/vaccines.rake
  spec/factories/vaccines.rb
Owners: @nhsuk/mavis-devs-application

Refactor `type` in `ImmunisationImport`
  app/controllers/immunisation_imports_controller.rb
  app/models/immunisation_import.rb
Owners: @nhsuk/mavis-devs-application

Remove old column `nivs_name`
  app/models/vaccine.rb
  config/vaccines.yml
  db/migrate/20251203153901_remove_vaccine_nivs_name.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Search for vaccine by `nivs_name` as well as `upload_name`
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Infer programme from vaccine in bulk uploads
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Add column `nivs_name` to `Vaccine`
  app/models/vaccine.rb
  db/migrate/20251203165110_add_nivs_name_to_vaccines.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
