Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Do proper sidekiq health check
  bin/internal_healthcheck
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Only show exact match count when greater than zero
  app/views/imports/show.html.erb
  spec/features/import_child_records_with_twins_spec.rb
Owners: @nhsuk/mavis-devs-application

Add a test for uploading twins
  spec/features/import_child_records_with_twins_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `:admin_staff` symbol
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/td_ipv_already_had_spec.rb
  spec/features/verbal_consent_but_no_triage_for_admin_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Remove `CIS2Info#reset_unused_fields`
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Use CIS2 role name in header
  app/models/user.rb
  app/views/layouts/_header.html.erb
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/features/e2e_journey_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix NHS API access token test
  spec/features/cli_nhs_api_access_token_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow fallback_role to be nil
  app/models/user.rb
  db/migrate/20250818104453_make_user_fallback_role_nullable.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Add prescriber fallback role
  app/models/user.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_nurse?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/policies/gillick_assessment_policy.rb
  app/policies/triage_policy.rb
  app/policies/vaccination_record_policy.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_admin?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `is_healthcare_assistant?`
  app/models/cis2_info.rb
  app/models/user.rb
Owners: @nhsuk/mavis-devs-application

Don't check for nurse or admin
  app/policies/application_policy.rb
  app/policies/programme_policy.rb
  app/policies/session_policy.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_superuser?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/policies/notices_policy.rb
  app/policies/vaccination_record_policy.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky consent matching test
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Update permissions
  terraform/account/resources/iam_policy_DeployMonitoringResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Fix incorrect test condition
  spec/features/import_child_records_with_twins_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix grafana deploys
  .github/workflows/deploy-monitoring.yml
  terraform/monitoring/tf_grafana.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Only set parent_relationships when present in import
  app/jobs/commit_patient_changesets_job.rb
  app/models/patient_changeset.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Handle `nil` vaccination record location
  app/lib/reports/systm_one_exporter.rb
  spec/factories/vaccination_records.rb
  spec/lib/reports/systm_one_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Migration to add pds related fields to relevant tables
  app/models/class_imports_patient.rb
  app/models/cohort_imports_patient.rb
  app/models/patient_changeset.rb
  db/migrate/20250816181115_add_nhs_number_fields_to_patient_changesets.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Add LocalAuthority model & specs, plus MavisCLI tasks to download and import local authorities from MySociety, and the mappings of GIAS LA code to ONS GSS code from DfE
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/local_authorities/download.rb
  app/lib/mavis_cli/local_authorities/download_gias_codes.rb
  app/lib/mavis_cli/local_authorities/import.rb
  app/lib/mavis_cli/local_authorities/import_gias_codes.rb
  app/models/local_authority.rb
  app/models/location.rb
  db/migrate/20250815114838_add_local_authority.rb
  db/schema.rb
  script/rollover_training/set_up.sh
  spec/factories/local_authorities.rb
  spec/models/local_authority_spec.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Perform PDS search for all imported patients and store pds number
  app/jobs/process_patient_changesets_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Assign patient ids to changesets
  app/jobs/commit_patient_changesets_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Import issues text based on NHS number match
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/helpers/imports_helper.rb
  app/views/imports/show.html.erb
Owners: @nhsuk/mavis-devs-application

Update patients in PDS more regularly
  config/cron_jobs.rb
Owners: @nhsuk/mavis-devs-application

Store whether duplciate patients matched on NHS number or not
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Extend feature tests for import issues text and NHS discrepancies
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Fix import tests to work with new issues text + pds logic
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_slow_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_child_records_with_twins_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
Owners: @nhsuk/mavis-devs-application

Use SystmOne code in exporters and importers
  app/lib/reports/export_formatters.rb
  app/lib/reports/school_moves_exporter.rb
  app/lib/reports/systm_one_exporter.rb
  app/models/cohort_import_row.rb
  app/models/immunisation_import_row.rb
  spec/fixtures/immunisation_import/systm_one.csv
  spec/lib/reports/school_moves_exporter_spec.rb
  spec/lib/reports/systm_one_exporter_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add command to create schools
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/schools/create.rb
  spec/features/cli_schools_create_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle importing schools with multiple sites
  app/lib/mavis_cli/gias/import.rb
Owners: @nhsuk/mavis-devs-application

Add `systm_one_code` column to locations
  app/models/location.rb
  db/migrate/20250816113617_add_systm_one_code_to_locations.rb
  db/schema.rb
  spec/factories/locations.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Display site next to URN
  app/components/app_session_summary_component.rb
  app/controllers/sessions_controller.rb
  app/models/location.rb
  app/views/parent_interface/consent_forms/edit/school.html.erb
Owners: @nhsuk/mavis-devs-application

Add `site` column to locations
  app/models/location.rb
  db/migrate/20250814170010_add_site_to_locations.rb
  db/schema.rb
  spec/factories/locations.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Find locations by URN and site
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/mavis_cli/schools/add_to_team.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/lib/mavis_cli/schools/remove_programme_year_group.rb
  app/models/cohort_import_row.rb
  app/models/immunisation_import_row.rb
  app/models/location.rb
  app/models/onboarding.rb
  docs/ops-tasks.md
  script/generate_model_office_data.rb
  spec/features/cli_gias_import_spec.rb
  spec/models/cohort_import_row_spec.rb
  spec/models/cohort_import_spec.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Add setting SystmOne code on creation
  app/lib/mavis_cli/schools/create.rb
Owners: @nhsuk/mavis-devs-application

design: follow design guidance for conflict with deleted vaccination record
  app/views/imports/issues/show.html.erb
  config/locales/en.yml
  config/locales/helpers.en.yml
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
Owners: @nhsuk/mavis-devs-application

fix: treat re-upload of deleted vaccination as conflicting &:discarded?
  app/models/immunisation_import_row.rb
  app/views/imports/issues/show.html.erb
Owners: @nhsuk/mavis-devs-application

design: rename deleting vaccination record to archive
  app/components/app_activity_log_component.rb
  app/components/app_vaccination_record_summary_component.rb
  app/controllers/imports/issues_controller.rb
  app/controllers/vaccination_records_controller.rb
  app/views/vaccination_records/destroy.html.erb
  app/views/vaccination_records/show.html.erb
  config/locales/en.yml
  spec/components/app_activity_log_component_spec.rb
  spec/features/archive_vaccination_record_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application
