Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Update sample_patient function to return nil when no comparison option is selected
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Add timeline UI with configurable filters for patient events
  app/components/app_timeline_component.rb
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  config/routes.rb
  lib/timeline_records.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add ability to show PII related information on the timeline
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `requires_notes?`
  app/controllers/draft_consents_controller.rb
  app/models/draft_consent.rb
  app/models/health_answer.rb
  app/views/draft_consents/questions.html.erb
  app/views/parent_interface/consent_forms/edit/health_question.html.erb
Owners: @nhsuk/mavis-devs-application

Rename `notes_required?`
  app/models/consent.rb
  app/models/draft_consent.rb
Owners: @nhsuk/mavis-devs-application

Encrypt `notes` on `ConsentForm`
  app/models/consent_form.rb
  config/application.rb
  db/migrate/20250922201759_encrypt_consent_form_notes.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Add `Notable` concern
  app/forms/triage_form.rb
  app/models/concerns/notable.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/gillick_assessment.rb
  app/models/health_answer.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Don't support unencrypted data
  config/application.rb
Owners: @nhsuk/mavis-devs-application

Add `Refusable`
  app/models/concerns/refusable.rb
  app/models/consent.rb
Owners: @nhsuk/mavis-devs-application

Update `ProgrammeGrouper` to be more flexible
  app/lib/programme_grouper.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Move refusal reasons to each programme
  app/components/app_consent_form_card_component.rb
  app/controllers/draft_consents_controller.rb
  app/controllers/parent_interface/consent_forms/edit_controller.rb
  app/lib/govuk_notify_personalisation.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/consent_form_programme.rb
  app/models/draft_consent.rb
  app/views/draft_consents/reason_for_refusal.html.erb
  app/views/parent_interface/consent_forms/confirm.html.erb
  app/views/parent_interface/consent_forms/edit/reason_for_refusal.html.erb
  app/views/parent_interface/consent_forms/edit/reason_for_refusal_notes.html.erb
  app/views/parent_interface/consent_forms/edit/reason_notes.html.erb
  config/locales/en.yml
  db/migrate/20250922194253_add_reason_for_refusal_to_consent_form_programmes.rb
  db/schema.rb
  spec/components/app_consent_form_card_component_spec.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consent_forms.rb
  spec/features/parental_consent_clinic_spec.rb
  spec/models/consent_form_spec.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Add support user type to User model
  app/models/cis2_info.rb
  app/models/user.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Limit access to ops tools to support users only
  app/controllers/concerns/authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/views/inspect/dashboard/index.html.erb
  app/views/users/errors/unauthorized.html.erb
  config/routes.rb
  spec/features/user_cis2_authentication_inspect_non_support_spec.rb
  spec/features/user_cis2_authentication_inspect_support_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Align deploy-application to data-replication task
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Create ECS deployment specific role in AWS
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Remove unnecessary -replace check
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Standardizing conventions/setup
  .github/workflows/build-and-push-image.yml
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-data-replication.yml
  .tool-versions
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove migrated variables out of tfvars
  bin/docker-start
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Use latest python in data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Move export of ENV_VARS
  bin/docker-entrypoint
  bin/docker-start
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Update deployment workflows
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .tool-versions
  config/templates/appspec.yaml
  script/populate_ssm_parameters.py
  script/requirements.txt
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Update deployment permissions to work with new template structure
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update shell script to default to web service
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Align refresh-data-replication to conventions
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Fix potential script injection by using env variables
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Inject task definition arn directly into appspec yaml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-data-replication.yml
  config/templates/appspec.yaml.tpl
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Tweak data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Include missing overwrite variables
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Fix missing newlines from infrastructure files
  .github/workflows/data-replication-pipeline.yml
  script/populate_ssm_parameters.py
  script/requirements.txt
  terraform/account/deployment_permissions.tf
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Change container startup variable definitions
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .tool-versions
  bin/docker-entrypoint
  config/container_variables.yml
  script/populate_ssm_parameters.py
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/app/ecs.tf
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove good-job references from container vars
  config/container_variables.yml
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Implement template task definition mechanism
  config/container_variables.yml
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/outputs.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Also update deployment of data replication
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Clean up empty files
  terraform/app/db_migration_configuration.tf
Owners: @nhsuk/mavis-devs-infrastructure

Ensure grafana can access vpc endpoints
  terraform/app/modules/vpc_endpoint/main.tf
  terraform/data_replication/network.tf
  terraform/monitoring/aws/workspace.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add postgres data source
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Introduce a read-only user for data-replication
  bin/data-replication
  bin/docker-start
  terraform/data_replication/ecs.tf
  terraform/data_replication/iam.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Working postgress connection
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/network.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
  terraform/monitoring/aws/variables.tf
  terraform/monitoring/aws/workspace.tf
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add necessary permissions for data replication deployment
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Expand out names
  terraform/data_replication/iam.tf
  terraform/data_replication/ssm_parameters.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure
