Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Update reporting view for new model
  db/migrate/20251120151321_update_reporting_api_patient_programme_statuses_to_version6.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v06.sql
Owners: @nhsuk/mavis-devs-application

Remove `DataMigrations::SetTeamLocation`
  app/lib/data_migration/set_team_location.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_team_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `DataMigrations::SetTeamLocation`
  app/lib/data_migration/set_team_location.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_team_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Set `team_location` on sessions and consent forms
  app/controllers/api/testing/teams_controller.rb
  app/controllers/parent_interface/consent_forms_controller.rb
  app/lib/mavis_cli/schools/add_to_team.rb
  app/lib/team_location_sessions_factory.rb
  app/lib/team_sessions_factory.rb
  app/models/location.rb
  app/models/onboarding.rb
  app/models/team.rb
  spec/factories/consent_forms.rb
  spec/factories/locations.rb
  spec/factories/sessions.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/lib/team_location_sessions_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Add team-location reference to sessions and consent forms
  app/models/consent_form.rb
  app/models/session.rb
  db/migrate/20251119085240_add_team_location_to_consent_forms_and_sessions.rb
  db/schema.rb
  spec/factories/consent_forms.rb
  spec/factories/sessions.rb
  spec/models/consent_form_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Migration to create ImportantNotice table
  db/migrate/20251017133425_create_important_notices.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Create ImportantNotice model and policy
  app/models/important_notice.rb
  app/policies/important_notice_policy.rb
  spec/factories/important_notices.rb
  spec/models/important_notice_spec.rb
  spec/policies/important_notice_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow the onboarding CLI to run in data replication environment
  app/models/onboarding.rb
Owners: @nhsuk/mavis-devs-application

Add option to remove parent details from an import in bulk
  app/controllers/imports/bulk_remove_parents_controller.rb
  app/forms/bulk_remove_parents_form.rb
  app/models/patient_import.rb
  app/views/imports/bulk_remove_parents/show.html.erb
  app/views/imports/show.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/features/bulk_remove_parents_spec.rb
Owners: @nhsuk/mavis-devs-application

Create ImportantNoticeGeneratorJob to create notices for patients
  app/jobs/important_notice_generator_job.rb
  app/models/patient.rb
  app/models/team.rb
  app/models/vaccination_record.rb
  spec/jobs/important_notice_generator_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Migrate old notice generator function to new model
  app/components/app_imports_navigation_component.rb
  app/components/app_notices_table_component.html.erb
  app/components/app_patient_card_component.rb
  app/controllers/dashboard_controller.rb
  app/controllers/imports/notices_controller.rb
  app/jobs/important_notice_generator_job.rb
  app/lib/important_notices.rb
  app/policies/notices_policy.rb
  spec/components/app_patient_card_component_spec.rb
  spec/factories/patients.rb
  spec/jobs/important_notice_generator_job_spec.rb
  spec/lib/important_notices_spec.rb
Owners: @nhsuk/mavis-devs-application

Avoid creating import notices for vaccination records
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Add feature flag for Imms API Sentry errors
  app/lib/nhs/immunisations_api.rb
  config/feature_flags.yml
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove locations that could not be uploaded
  config/onboarding/haringey.yaml
  config/onboarding/islington.yaml
  config/onboarding/york.yaml
Owners: @nhsuk/mavis-devs-application

Add dockerized dev-image setup to assurance testing environment
  terraform/account/deployment_permissions.tf
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create workflow for running regression tests
  .github/workflows/build-and-push-image.yml
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Regression image based of the standard docker image
  Procfile.regression
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
Owners: @nhsuk/mavis-devs-application

run gias import to populate database
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

test
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Create workflow for running regression tests
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

store db data inside the docker image
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

include redis image
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Simplify dev setup
  .github/workflows/create_dockerized_db.yml
  .github/workflows/regression-test-run.yml
  Dockerfile
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

update monitoring to be able to tell how a running test is performing
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Setup for dockerized db run -- todo: fix run test setup
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

try reverting changes to db yaml
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

test gpt workflow
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

ensure correct startup order
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create notices when patient moves teams
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient_team.rb
  spec/factories/vaccination_records.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Document data to be backed up
  docs/backup.md
Owners: @nhsuk/vaccine-digital-service

Improve searching patients by name
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

test: the new scenario of searching by only the start of a name
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `StatusGenerator::Programme`
  app/lib/status_generator/programme.rb
  app/lib/status_generator/triage.rb
  spec/factories/vaccination_records.rb
  spec/lib/status_generator/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Patient::ProgrammeStatus`
  app/models/patient.rb
  app/models/patient/programme_status.rb
  db/migrate/20251112110128_create_patient_programme_status.rb
  db/schema.rb
  spec/factories/patient_programme_statuses.rb
  spec/models/patient/programme_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Update programme statuses
  app/lib/status_updater.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Patient::ProgrammeStatus#assign`
  app/models/patient/programme_status.rb
  spec/models/patient/programme_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Show new programme statuses
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  spec/components/app_patient_search_result_card_component_spec.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add programme to status resolver
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  config/locales/status.en.yml
  spec/factories/patient_programme_statuses.rb
  spec/factories/patients.rb
  spec/factories/triages.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Update tallying for new programme statuses
  app/assets/stylesheets/components/_card.scss
  app/components/app_session_overview_component.html.erb
  app/components/app_session_overview_component.rb
  app/forms/patient_search_form.rb
  app/helpers/application_helper.rb
  app/lib/stats/session.rb
  app/models/patient/programme_status.rb
  spec/components/app_session_overview_component_spec.rb
  spec/factories/patient_programme_statuses.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add feature flag for programme statuses
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
