Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add location type step
  app/controllers/draft_sessions_controller.rb
  app/models/draft_session.rb
  app/views/draft_sessions/location_type.html.erb
  config/locales/helpers.en.yml
  config/locales/wicked.en.yml
Owners: @nhsuk/mavis-devs-application

wip
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_vaccination_component.rb
  app/components/app_session_actions_component.rb
  app/components/app_session_overview_component.rb
  app/controllers/draft_consents_controller.rb
  app/lib/stats/session.rb
  app/models/patient.rb
  app/views/sessions/_header.html.erb
  config/feature_flags.yml
  spec/components/app_patient_search_result_card_component_spec.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/components/app_patient_session_vaccination_component_spec.rb
  spec/components/app_session_overview_component_spec.rb
  spec/lib/stats/session_spec.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

wip
  spec/components/app_session_overview_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure MMRV health questions get created due vaccine:seed
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Fix MMRV health questions appearing in MMR consent forms
  app/models/concerns/belongs_to_programme.rb
  app/models/programme.rb
  app/models/programme_variant.rb
  spec/factories/vaccines.rb
  spec/models/programme_variant_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix MMRV health questions appearing in MMR parent consent forms
  app/lib/vaccine_criteria.rb
  app/models/concerns/belongs_to_programme.rb
  app/models/programme.rb
  app/models/programme_variant.rb
  app/models/vaccine.rb
  spec/factories/consent_form_programmes.rb
  spec/models/consent_form_programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Re-add MMRV vaccines
  config/vaccines.yml
  spec/support/programme_helper.rb
Owners: @nhsuk/mavis-devs-application

Actively ignore excess fields for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assume all bulk HPV records are administered
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Use `SCHOOL_URN` as `location` for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `source` correctly for bulk upload records
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `BATCH_NUMBER` and `BATCH_EXPIRY_DATE` in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `ANATOMICAL_SITE` in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't require `SHOOL_NAME` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore "not given" rows in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `PERFORMING_PROFESSIONAL_...NAME` for flu bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `LOCAL_PATIENT_ID` and `...URI` for bulk uploads
  app/models/immunisation_import_row.rb
  app/models/vaccination_record.rb
  db/migrate/20251127092933_add_local_patient_id_and_uri_to_vaccination_record.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/immunisation_import_row_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `programme` based on import type for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't require `CLINIC_NAME` for bulk uploads
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Require `SCHOOL_URN` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Bulk upload vaccs date must be in this academic year
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Reqire `VACCINE_GIVEN` for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `DOSE_SEQUENCE` for HPV bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `ORGANISATION_CODE` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `...POSTCODE`, even if `NHS_NUMBER` is populated
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve validation error messages for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Add support for pseudo-postcodes
  app/lib/csv_parser.rb
  app/validators/postcode_validator.rb
  spec/models/class_import_row_spec.rb
  spec/models/immunisation_import_row_spec.rb
  spec/validators/postcode_validator_spec.rb
Owners: @nhsuk/mavis-devs-application

Display CSV row number on import review screen
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/views/imports/issues/index.html.erb
  app/views/imports/show.html.erb
  spec/components/app_import_review_issues_summary_component_spec.rb
  spec/components/app_import_review_records_summary_component_spec.rb
  spec/components/app_import_review_school_moves_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

delete vaccination records referring to triages before deleting triages
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Override phase in GIAS import
  app/lib/mavis_cli/gias/import.rb
  spec/features/cli_gias_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Pipeline setup for regression tests
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
  terraform/account/resources/iam_policy_RunECSTask.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Infrastructure setup for regression test tasks
  Dockerfile
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Create a dockerized database on tag push
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/deployment_permissions.tf
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Properly initialize database and avoid external calls
  .github/workflows/create_dockerized_db.yml
  app/models/pds/patient.rb
  config/settings/development.yml
  lib/tasks/feature_flags.rake
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Rename workflow and add sidekiq
  .github/workflows/end-to-end-tests.yml
  .github/workflows/test.yml
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Content changes for Import flow
  app/components/app_import_review_component.rb
  app/components/app_imports_navigation_component.rb
  app/views/imports/index.html.erb
  app/views/imports/issues/index.html.erb
  app/views/imports/notices/index.html.erb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/features/vaccination_offline_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix N+1 issue loading year groups
  app/controllers/sessions_controller.rb
  app/models/session.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `programme` based on import type for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Actively ignore excess fields for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Use `SCHOOL_URN` as `location` for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
