Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add `rspec-sidekiq`
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Owners: @nhsuk/mavis-devs-application

Convert `SyncVaccinationRecordToNHSJob` to `Sidekiq::Job`
  app/jobs/concerns/immunisations_api_throttling_concern.rb
  app/jobs/sync_vaccination_record_to_nhs_job.rb
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  spec/features/archive_vaccination_record_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/invalidate_consent_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/patient_invalidation_spec.rb
  spec/jobs/sync_vaccination_record_to_nhs_job_spec.rb
  spec/lib/patient_merger_spec.rb
  spec/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern_spec.rb
  spec/models/immunisation_import_spec.rb
  spec/spec_helper.rb
Owners: @nhsuk/mavis-devs-application

Queue `SyncVaccinationRecordToNHSJob` in bulk
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
Owners: @nhsuk/mavis-devs-application

Ensure sync job runs after transaction
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  app/models/vaccination_record.rb
  spec/features/patient_invalidation_spec.rb
  spec/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add toggle for `show_pii` mode in the UI
  app/controllers/inspect/graphs_controller.rb
Owners: @nhsuk/mavis-devs-application

Add controller, route and view for the frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Improve graph_records.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Update functional test
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Adjust displayed fields for new team/subteam structure
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Create feature test
  spec/features/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `rspec-sidekiq` to `test` group
  Gemfile
Owners: @nhsuk/mavis-devs-application

Add digest to manifest path to enable long-lived caching
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Rename `SessionAttendance`
  app/components/app_activity_log_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/api/testing/teams_controller.rb
  app/controllers/patient_sessions/attendances_controller.rb
  app/controllers/patients_controller.rb
  app/controllers/sessions/register_controller.rb
  app/lib/generate/vaccination_records.rb
  app/lib/patient_merger.rb
  app/lib/status_generator/registration.rb
  app/lib/status_generator/session.rb
  app/lib/status_updater.rb
  app/models/attendance_record.rb
  app/models/patient.rb
  app/models/patient/registration_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_session.rb
  app/models/session.rb
  app/models/session_date.rb
  app/policies/attendance_record_policy.rb
  app/views/patient_sessions/_header.html.erb
  app/views/patient_sessions/attendances/edit.html.erb
  config/routes.rb
  db/migrate/20250908112554_rename_session_attendance.rb
  db/schema.rb
  spec/factories/attendance_records.rb
  spec/factories/patient_sessions.rb
  spec/factories/patients.rb
  spec/features/manage_attendance_spec.rb
  spec/lib/patient_merger_spec.rb
  spec/lib/status_generator/registration_spec.rb
  spec/lib/status_generator/session_spec.rb
  spec/models/attendance_record_spec.rb
  spec/models/patient/registration_status_spec.rb
  spec/models/patient_session_spec.rb
  spec/models/session_date_spec.rb
  spec/policies/attendance_record_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSession#todays_attendance`
  app/controllers/sessions/register_controller.rb
  app/models/patient_session.rb
  app/views/patient_sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Remove session association from `AttendanceRecord`
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/patient_sessions/attendances_controller.rb
  app/controllers/sessions/register_controller.rb
  app/lib/generate/vaccination_records.rb
  app/lib/status_updater.rb
  app/models/attendance_record.rb
  app/models/location.rb
  app/models/patient/registration_status.rb
  app/models/patient_session.rb
  app/models/session.rb
  app/models/session_date.rb
  app/policies/attendance_record_policy.rb
  app/views/patient_sessions/_header.html.erb
  db/migrate/20250908125713_remove_session_from_attendance_record.rb
  db/schema.rb
  spec/factories/attendance_records.rb
  spec/lib/status_generator/registration_spec.rb
  spec/models/attendance_record_spec.rb
  spec/models/patient/registration_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `ImmunisationsAPIJob`
  app/jobs/immunisations_api_job.rb
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/jobs/sync_vaccination_record_to_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `dump.rdb` to Git ignore
  .gitignore
Owners: @nhsuk/mavis-devs-application

WIP Index by actual first date of request
  app/lib/mavis_cli/stats/consents_by_school.rb
  app/lib/stats/consents_by_school.rb
Owners: @nhsuk/mavis-devs-application

Add PDS match rate validation for patient imports
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_details.scss
  app/components/app_import_errors_component.rb
  app/components/app_import_pds_unmatched_summary_component.rb
  app/components/app_import_status_component.rb
  app/jobs/commit_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  app/models/patient_import.rb
  app/views/imports/show.html.erb
  config/feature_flags.yml
  spec/components/app_import_pds_unmatched_summary_component_spec.rb
  spec/factories/patient_changesets.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/models/class_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix AppImportErrorsComponent spec
  spec/components/app_import_errors_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Use I18n pluralisation for PSD eligibility message
  app/views/sessions/patient_specific_directions/show.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Display tallies on record vaccinations tab
  Gemfile
  Gemfile.lock
  app/components/app_vaccinations_summary_table_component.html.erb
  app/components/app_vaccinations_summary_table_component.rb
  app/views/sessions/record/show.html.erb
  config/environments/test.rb
  spec/features/tallying_spec.rb
  spec/features/todays_batch_spec.rb
  spec/spec_helper.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppPatientSessionRecordComponent#render?`
  app/components/app_patient_session_record_component.rb
  spec/components/app_patient_session_record_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Prevent deletion of vaccination records from NHS immunisations API
  app/models/vaccination_record.rb
  app/policies/vaccination_record_policy.rb
  spec/policies/vaccination_record_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Order team workgroups by name in output
  app/lib/mavis_cli/stats/consents_by_school.rb
  app/lib/mavis_cli/stats/organisations.rb
  app/lib/mavis_cli/stats/vaccinations.rb
Owners: @nhsuk/mavis-devs-application

Tidy up CLI stats tests
  app/lib/mavis_cli/stats/consents_by_school.rb
  app/lib/mavis_cli/stats/organisations.rb
  app/lib/mavis_cli/stats/vaccinations.rb
  spec/features/cli_stats_consents_by_school_spec.rb
  spec/features/cli_stats_organisations_spec.rb
  spec/features/cli_stats_vaccinations_spec.rb
Owners: @nhsuk/mavis-devs-application

Delete school moves when archiving patients
  app/lib/patient_archiver.rb
  spec/lib/patient_archiver_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `PatientArchiver`
  app/controllers/patients/archive_controller.rb
  app/forms/patient_archive_form.rb
  app/lib/patient_archiver.rb
  spec/factories/sessions.rb
  spec/lib/patient_archiver_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `remove_school_moves_from_archived_patients`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Add MenQuadfi SystmOne code
  app/lib/reports/systm_one_exporter.rb
  spec/lib/reports/systm_one_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable SystmOne for all programmes
  app/models/vaccination_report.rb
  app/views/vaccination_reports/file_format.html.erb
  spec/models/vaccination_report_spec.rb
Owners: @nhsuk/mavis-devs-application

Don’t reserve space for non-existent actions on app patient session search result cards
  app/components/app_patient_session_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Update method for adjusting space between summary list and button group
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_summary-list.scss
Owners: @nhsuk/mavis-devs-application

Fix styling of button_to within button groups
  app/assets/stylesheets/components/_button.scss
Owners: @nhsuk/mavis-devs-application

Don’t render a list if there is only one next activity
  app/components/app_patient_session_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Link patient session search result card component when not shown within registration context
  app/components/app_patient_session_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Update Reporting API credentials in staging
  config/credentials/staging.yml.enc
Owners: @nhsuk/mavis-devs-application

Clean up empty files
  terraform/app/db_migration_configuration.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update deployment workflows
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .tool-versions
  config/templates/appspec.yaml
  script/populate_ssm_parameters.py
  script/requirements.txt
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Implement template task definition mechanism
  config/container_variables.yml
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/outputs.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
