Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add `session_dates`
  app/components/app_session_card_component.rb
  app/helpers/sessions_helper.rb
  spec/components/app_session_card_component_spec.rb
  spec/helpers/sessions_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify session status content
  app/components/app_session_card_component.rb
  app/helpers/sessions_helper.rb
  spec/components/app_session_card_component_spec.rb
  spec/helpers/sessions_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor navigation items
  app/controllers/application_controller.rb
  app/controllers/concerns/app_navigation_concern.rb
  app/controllers/concerns/navigation_concern.rb
  app/controllers/parent_interface/consent_forms/base_controller.rb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor dashboard items
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_dashboard_cards_default.html.erb
  app/views/dashboard/_dashboard_cards_upload_only.html.erb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Update `AppSessionCardComponent`
  app/components/app_session_card_component.rb
  app/views/sessions/index.html.erb
  spec/components/app_session_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add schools section feature flag
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Add schools pages
  app/components/app_school_card_component.rb
  app/controllers/concerns/app_navigation_concern.rb
  app/controllers/concerns/school_search_form_concern.rb
  app/controllers/schools_controller.rb
  app/views/dashboard/index.html.erb
  app/views/schools/_header.html.erb
  app/views/schools/index.html.erb
  app/views/schools/patients.html.erb
  app/views/schools/sessions.html.erb
  config/locales/en.yml
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Pass secrets to child workflow
  .github/workflows/deploy.yml
Owners: @nhsuk/vaccine-digital-service

Track original session on consent forms
  app/controllers/parent_interface/consent_forms_controller.rb
  app/models/consent_form.rb
  db/migrate/20251129110524_add_original_session_to_consent_forms.rb
  db/schema.rb
  spec/factories/consent_forms.rb
  spec/features/parental_consent_hpv_spec.rb
  spec/models/consent_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Migration to add school move log entry reference to important notice
  app/models/important_notice.rb
  db/migrate/20251125162341_add_school_move_log_entry_to_important_notices.rb
  db/schema.rb
  spec/factories/important_notices.rb
  spec/models/important_notice_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor dashboard items
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_dashboard_cards_default.html.erb
  app/views/dashboard/_dashboard_cards_upload_only.html.erb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor navigation items
  app/controllers/application_controller.rb
  app/controllers/concerns/app_navigation_concern.rb
  app/controllers/concerns/navigation_concern.rb
  app/controllers/parent_interface/consent_forms/base_controller.rb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Update content in programme status changes banner
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Flag when patient is moved across teams
  app/components/app_import_review_component.rb
  app/components/app_import_review_school_moves_summary_component.rb
  app/components/app_patient_card_component.rb
  app/components/app_status_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/controllers/school_moves_controller.rb
  app/jobs/important_notice_generator_job.rb
  app/models/important_notice.rb
  app/models/patient_changeset.rb
  app/models/school_move.rb
  app/views/imports/re_review.html.erb
  app/views/imports/show.html.erb
  app/views/school_moves/index.html.erb
  app/views/school_moves/show.html.erb
  spec/components/app_patient_card_component_spec.rb
  spec/factories/important_notices.rb
  spec/features/import_class_lists_move_spec.rb
  spec/models/important_notice_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove unneeded instanceof check
  app/assets/javascripts/components/timeoutWarning.js
Owners: @nhsuk/mavis-devs-application

Fix duplicate schools appear in consent form
  app/models/consent_form.rb
Owners: @nhsuk/mavis-devs-application

Reintroduce custom polling mechanism
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Ensure accessible timer warning is initialised correctly
  app/assets/javascripts/components/timeoutWarning.js
  app/assets/javascripts/components/timeoutWarning.spec.js
  app/views/layouts/_timeout_warning.html
Owners: @nhsuk/mavis-devs-application

Scope school moves between teams to current academic year
  app/components/app_import_review_school_moves_summary_component.rb
  app/components/app_patient_card_component.rb
  app/jobs/important_notice_generator_job.rb
  app/models/important_notice.rb
  app/models/location.rb
  app/models/school_move.rb
  app/views/school_moves/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add `vaccination_and_dates` personalisation
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Tweak content on programme status changes banner
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Reconstruct cis2_info from token in reporting API
  app/controllers/api/reporting/one_time_tokens_controller.rb
  spec/controllers/api/reporting/one_time_tokens_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Document data to be backed up
  docs/backup.md
Owners: @nhsuk/vaccine-digital-service

Add vaccination history warning when adding a programme to a session
  app/controllers/draft_sessions_controller.rb
  app/models/draft_session.rb
  app/views/draft_sessions/_catch_up_warning.html.erb
  app/views/draft_sessions/dates_check.html.erb
  app/views/draft_sessions/programmes_check.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  spec/features/edit_session_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Configure SCSS linting with Stylelint
  .stylelintrc
  .tool-versions
  bin/stylelint
  hk.pkl
  package.json
  yarn.lock
Owners: @nhsuk/mavis-devs-application

Format SCSS files according to NHS.UK frontend Stylelint rules
  app/assets/stylesheets/components/_action-list.scss
  app/assets/stylesheets/components/_add-another.scss
  app/assets/stylesheets/components/_autocomplete.scss
  app/assets/stylesheets/components/_button.scss
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_count.scss
  app/assets/stylesheets/components/_dev-tools.scss
  app/assets/stylesheets/components/_environment.scss
  app/assets/stylesheets/components/_filters.scss
  app/assets/stylesheets/components/_header.scss
  app/assets/stylesheets/components/_heading-group.scss
  app/assets/stylesheets/components/_highlight.scss
  app/assets/stylesheets/components/_search-input.scss
  app/assets/stylesheets/components/_secondary-navigation.scss
  app/assets/stylesheets/components/_status.scss
  app/assets/stylesheets/components/_sticky-navigation.scss
  app/assets/stylesheets/components/_summary-list.scss
  app/assets/stylesheets/components/_tables.scss
  app/assets/stylesheets/components/_tag.scss
  app/assets/stylesheets/components/_timeline.scss
  app/assets/stylesheets/components/_vaccine-criteria.scss
  app/assets/stylesheets/core/elements/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/file-upload/_index.scss
Owners: @nhsuk/mavis-devs-application

Ensure duplicate important notices are not created
  app/models/school_move.rb
Owners: @nhsuk/mavis-devs-application

Fix bug in dismissing team_changed notices
  app/jobs/important_notice_generator_job.rb
Owners: @nhsuk/mavis-devs-application

Restrict access to logs
  terraform/account/resources/iam_policy_DenyPIIAccess.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Fix flaky test related to one time token
  spec/models/reporting_api/one_time_token_spec.rb
Owners: @nhsuk/mavis-devs-application

Add editorconfig
  .editorconfig
Owners: @nhsuk/mavis-devs-application

Bump nhsuk-frontend from 10.1.0 to 10.2.0
  yarn.lock
Owners: @nhsuk/mavis-devs-application

Use nhsuk-button--small
  app/assets/stylesheets/components/_button.scss
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_session_search_form_component.rb
  app/components/app_timeline_filter_component.html.erb
  app/views/draft_sessions/dates.html.erb
Owners: @nhsuk/mavis-devs-application

Use nhsuk-button-style mixin
  app/assets/stylesheets/components/_button.scss
Owners: @nhsuk/mavis-devs-application

Update references to deprecated card class modifiers
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_filters.scss
  app/components/app_card_component.rb
  app/components/app_card_heading_component.rb
  spec/components/app_card_heading_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add upcoming styles for icon buttons
  app/assets/stylesheets/components/_button.scss
  spec/components/app_card_heading_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Add AppSearchInputComponent
  app/assets/stylesheets/components/_search-input.scss
  app/components/app_patient_search_form_component.html.erb
  app/components/app_search_input_component.html.erb
  app/components/app_search_input_component.rb
  app/components/app_session_search_form_component.rb
Owners: @nhsuk/mavis-devs-application

Replace app-u-monospace with app-u-code
  app/assets/stylesheets/components/_timeline.scss
  app/assets/stylesheets/core/utilities/_typography.scss
  app/components/app_vaccination_record_summary_component.rb
  app/helpers/patients_helper.rb
  app/views/draft_vaccination_records/batch.html.erb
  app/views/sessions/record/batch.html.erb
  spec/helpers/patients_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Add missing code style for batch ID
  app/views/vaccines/index.html.erb
Owners: @nhsuk/mavis-devs-application

Add nhsuk-input--code modifier class for text inputs that accept codes and sequences
  app/views/batches/new.html.erb
  app/views/patients/archive/new.html.erb
  app/views/patients/edit/nhs_number.html.erb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
