Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Update workflows
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-data-replication.yml
  terraform/data_replication/ecs.tf
  terraform/data_replication/outputs.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add function to make `search` requests
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/fixtures/fhir/search_response_0_results.json
  spec/fixtures/fhir/search_response_1_result.json
  spec/fixtures/fhir/search_response_2_results.json
  spec/fixtures/fhir/search_response_operation_outcome_entry.json
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve Sidekiq error reporting
  Gemfile
  Gemfile.lock
  config/initializers/sentry.rb
Owners: @nhsuk/mavis-devs-application

Take on-demand DB snapshot
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Add request time to info logs
  app/lib/nhs/immunisations_api.rb
Owners: @nhsuk/mavis-devs-application

MVP Reporting API controller for VaccinationEvents
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/api/reporting/vaccination_events_controller.rb
  app/controllers/concerns/reporting_api/token_authentication_concern.rb
  app/lib/reporting_api/event_filter.rb
  app/models/concerns/denormalizing_concern.rb
  app/models/concerns/reporting_api/event_concern.rb
  app/models/reporting_api/one_time_token.rb
  app/models/reporting_api/vaccination_event.rb
  app/models/vaccination_record.rb
  config/routes.rb
  db/migrate/20250827100519_add_reporting_api_vaccination_events.rb
  db/schema.rb
  spec/factories/reporting_api/vaccination_events.rb
  spec/models/concerns/denormalizing_concern_spec.rb
  spec/models/concerns/reporting_api/event_concern_spec.rb
  spec/models/reporting_api/one_time_token_spec.rb
  spec/models/reporting_api/vaccination_event_spec.rb
Owners: @nhsuk/mavis-devs-application

add specs for count_sql_where method
  app/models/concerns/reporting_api/event_concern.rb
  spec/models/concerns/reporting_api/event_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Re-raise TooManyRequestsError from PDS
  app/jobs/process_patient_changesets_job.rb
  spec/jobs/process_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor group_clause onto vaccination_events_controller, and add spec
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/vaccination_events_controller.rb
  spec/controllers/api/reporting/vaccination_events_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Use dedicated role for taking the snapshot
  .github/workflows/data-replication-pipeline.yml
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DatabaseSnapshotPolicy.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add count of distinct patients vaccinated to the totals, add school_local_authority_ fields, and organisation_id
  app/controllers/api/reporting/vaccination_events_controller.rb
  app/models/reporting_api/vaccination_event.rb
  app/models/vaccination_record.rb
  db/migrate/20250827100519_add_reporting_api_vaccination_events.rb
  db/schema.rb
  spec/factories/reporting_api/vaccination_events.rb
  spec/models/reporting_api/vaccination_event_spec.rb
Owners: @nhsuk/mavis-devs-application

add patients vaccinated field to CSV
  app/controllers/api/reporting/vaccination_events_controller.rb
  spec/models/concerns/denormalizing_concern_spec.rb
  spec/models/concerns/reporting_api/event_concern_spec.rb
  spec/models/reporting_api/one_time_token_spec.rb
  spec/models/reporting_api/vaccination_event_spec.rb
Owners: @nhsuk/mavis-devs-application

linting
  .rubocop.yml
  spec/controllers/api/reporting/vaccination_events_controller_spec.rb
  spec/factories/reporting_api/vaccination_events.rb
Owners: @nhsuk/mavis-devs-application

linting
  app/models/concerns/denormalizing_concern.rb
  app/models/concerns/reporting_api/event_concern.rb
  app/models/reporting_api/one_time_token.rb
  app/models/reporting_api/vaccination_event.rb
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

linting
  .rubocop.yml
  app/models/reporting_api/vaccination_event.rb
  db/migrate/20250827100519_add_reporting_api_vaccination_events.rb
  db/schema.rb
  spec/factories/reporting_api/vaccination_events.rb
  spec/models/reporting_api/vaccination_event_spec.rb
Owners: @nhsuk/mavis-devs-application

Add PSD filters to PSDs tab page
  app/components/app_patient_search_form_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  app/models/patient_session.rb
  app/views/sessions/patient_specific_directions/show.html.erb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Disable Sentry in sandbox environments
  config/initializers/sentry.rb
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Update ECS dependencies
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Rename school to location on VaccinationEvents & in the params/CSV headers.
  app/controllers/api/reporting/vaccination_events_controller.rb
  app/models/reporting_api/vaccination_event.rb
  app/models/vaccination_record.rb
  db/migrate/20250827100519_add_reporting_api_vaccination_events.rb
  db/schema.rb
  spec/factories/reporting_api/vaccination_events.rb
  spec/models/reporting_api/vaccination_event_spec.rb
Owners: @nhsuk/mavis-devs-application

full spec for group_clause
  app/controllers/api/reporting/vaccination_events_controller.rb
  spec/controllers/api/reporting/vaccination_events_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix `Location` reference
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/fhir/from-fhir-record-full.json
  spec/fixtures/fhir/from-fhir-record-unknown-location.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

refactor - extract JWT & feature flag tests for reporting api controllers into a shared example
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/vaccination_events_controller.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/controllers/api/reporting/vaccination_events_controller_spec.rb
  spec/support/reporting_api_helper.rb
  spec/support/shared_examples/a_reporting_api_controller.rb
Owners: @nhsuk/mavis-devs-application

Always run imports in the background
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/controllers/immunisation_imports_controller.rb
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
  spec/features/e2e_journey_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_child_records_with_twins_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
  spec/features/import_vaccination_records_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/features/triage_partially_vaccinated_spec.rb
  spec/jobs/process_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor waiting for imports to finish
  spec/features/e2e_journey_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_slow_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_child_records_with_twins_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
  spec/features/import_vaccination_records_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/features/triage_partially_vaccinated_spec.rb
  spec/fixtures/cohort_import/valid_1000_rows.csv
  spec/spec_helper.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Implement template task definition mechanism
  config/container_variables.yml
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
  terraform/data_replication/ecs.tf
  terraform/data_replication/outputs.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove migrated variables out of tfvars
  bin/docker-start
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Create ECS deployment specific role in AWS
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update deployment workflows
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .tool-versions
  config/templates/appspec.yaml
  script/populate_ssm_parameters.py
  script/requirements.txt
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Also update deployment of data replication
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Clean up empty files
  terraform/app/db_migration_configuration.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create ECS reporting service
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Set up resources needed for reporting service
  terraform/account/main.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/rds.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update permissions
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

WIP Create job to make search request, and handle response
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/lib/fhir_mapper/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Create CLI tool to send `search` request
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/vaccination_records/search.rb
Owners: @nhsuk/mavis-devs-application

Rename `enqueue_sync_vaccination_records_to_nhs` to `imms_api_enqueue_write`
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  config/feature_flags.yml
  spec/features/archive_vaccination_record_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/invalidate_consent_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/menacwy_vaccination_administered_spec.rb
  spec/features/patient_invalidation_spec.rb
  spec/features/td_ipv_vaccination_administered_spec.rb
  spec/lib/patient_merger_spec.rb
  spec/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

add specs for index
  app/controllers/api/reporting/vaccination_events_controller.rb
  app/models/reporting_api/vaccination_event.rb
  spec/controllers/api/reporting/vaccination_events_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Don’t precompile unused assets from GOV.UK Frontend
  config/application.rb
Owners: @nhsuk/mavis-devs-application

Exclude SCSS stylesheets from asset precompilation
  config/application.rb
Owners: @nhsuk/mavis-devs-application

Remove service worker
  Procfile.dev
  app/javascript/application.js
  app/javascript/serviceworker-companion.js
  app/javascript/serviceworker/cache.spec.ts
  app/javascript/serviceworker/cache.ts
  app/javascript/serviceworker/child-route.js
  app/javascript/serviceworker/child-route.spec.js
  app/javascript/serviceworker/main.js
  app/javascript/serviceworker/messages.js
  app/javascript/serviceworker/messages.spec.js
  app/javascript/serviceworker/network.spec.ts
  app/javascript/serviceworker/network.ts
  app/javascript/serviceworker/online-status.js
  app/javascript/serviceworker/online-status.spec.js
  app/javascript/serviceworker/record-route.js
  app/javascript/serviceworker/record-route.spec.js
  app/javascript/serviceworker/setup-offline-route.spec.ts
  app/javascript/serviceworker/setup-offline-route.ts
  app/javascript/serviceworker/simple-crypto.test.ts
  app/javascript/serviceworker/simple-crypto.ts
  app/javascript/serviceworker/store.spec.ts
  app/javascript/serviceworker/store.ts
  lib/tasks/serviceworker.rake
  package.json
  yarn.lock
Owners: @nhsuk/mavis-devs-application
