Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add necessary account-level resources
  terraform/account/deployment_permissions.tf
  terraform/account/main.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Modify variable and digest population for reporting service
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Reference variable for port numbers
  terraform/app/ecs.tf
  terraform/app/loadbalancer.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Include a shared secret for jwt signing
  terraform/account/deployment_permissions.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/main.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/ssm_parameters.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add rake task to update `notify_parents`
  lib/tasks/vaccination_records.rake
Owners: @nhsuk/mavis-devs-application

Trigger changes to `notify_parents` when consents are changed
  app/controllers/draft_consents_controller.rb
  app/controllers/patient_sessions/consents_controller.rb
  app/models/consent.rb
  spec/features/invalidate_consent_spec.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

style: run prettier on data-replication-pipeline.yml
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

feat: Create overview page
  app/controllers/sessions/manage_consent_reminders_controller.rb
  app/models/session.rb
  app/policies/consent_reminder_policy.rb
  app/views/sessions/manage_consent_reminders/show.html.erb
  config/locales/en.yml
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

refactor: Let send_consent_reminders return all dates, not just the next
  app/models/session.rb
  app/views/sessions/edit.html.erb
Owners: @nhsuk/mavis-devs-application

feat: rework session overview page to point to manual consent page
  app/models/session.rb
  app/views/sessions/manage_consent_reminders/show.html.erb
Owners: @nhsuk/mavis-devs-application

refactor: extract methods from should_send_notification
  app/jobs/send_school_consent_reminders_job.rb
Owners: @nhsuk/mavis-devs-application

refactor: use new methods to improve readability and reduce repetition
  app/views/sessions/edit.html.erb
Owners: @nhsuk/mavis-devs-application

feat: Add button to manually send consent requests
  app/controllers/sessions/manage_consent_reminders_controller.rb
  app/policies/consent_reminder_policy.rb
  app/views/sessions/manage_consent_reminders/show.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

refactor: extract common consent notification behavior
  app/jobs/send_school_consent_notification_job.rb
  app/jobs/send_school_consent_reminders_job.rb
  app/jobs/send_school_consent_requests_job.rb
  spec/jobs/send_school_consent_requests_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add drafting stage for session dates
  app/controllers/session_dates_controller.rb
  app/models/draft_session_dates.rb
  app/views/session_dates/show.html.erb
Owners: @nhsuk/mavis-devs-application

feat: Make reminders actually send
  app/controllers/sessions/manage_consent_reminders_controller.rb
  app/jobs/enqueue_school_consent_reminders_job.rb
  app/jobs/send_automatic_school_consent_reminders_job.rb
  app/jobs/send_manual_school_consent_reminders_job.rb
  app/jobs/send_school_consent_reminders_job.rb
  app/models/consent_notification.rb
  spec/jobs/enqueue_school_consent_reminders_job_spec.rb
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/models/consent_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

feat: Skip automatic reminders when a manual reminder was sent
  app/jobs/send_automatic_school_consent_reminders_job.rb
  app/models/consent_notification.rb
Owners: @nhsuk/mavis-devs-application

test: prepare tests for next feature
  spec/features/edit_vaccination_record_spec.rb
  spec/features/td_ipv_already_had_spec.rb
Owners: @nhsuk/mavis-devs-application

refactor: use STATUSES_FOR_RECORDING_VACCINATION also elsewhere
  app/components/app_session_actions_component.rb
Owners: @nhsuk/mavis-devs-application

test: validation of patient attendance.
  spec/forms/vaccinate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

feat: fail confirmation when child is not attending.
  app/models/draft_vaccination_record.rb
  app/models/patient.rb
  app/models/patient_session/registration_status.rb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Add tests for session date drafting
  spec/features/draft_session_dates_spec.rb
  spec/models/draft_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

test: Add tests for manual consent reminder behavior
  package.json
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/jobs/send_manual_school_consent_reminders_job_spec.rb
Owners: @nhsuk/mavis-devs-application

WIP adding VaccinationRecord#from_fhir_record
  app/lib/fhir_mapper/vaccination_record.rb
  app/models/vaccination_record.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

fix: hide 'register attendance' when session not accepting registration
  app/components/app_session_actions_component.rb
Owners: @nhsuk/mavis-devs-application

Create PDS experiments scripts
  lib/pds_experiments/pds_background.rb
  lib/pds_experiments/pds_experiment_analyzer.rb
  lib/pds_experiments/pds_experiment_job.rb
  lib/pds_experiments/pds_experiment_runner.rb
  lib/pds_experiments/pds_experiment_searcher.rb
Owners: @nhsuk/mavis-devs-application

Add metrics to PDS experiments
  lib/pds_experiments/pds_background.rb
  lib/pds_experiments/pds_experiment_analyzer.rb
  lib/pds_experiments/pds_experiment_job.rb
  lib/pds_experiments/pds_experiment_runner.rb
  lib/pds_experiments/pds_experiment_searcher.rb
Owners: @nhsuk/mavis-devs-application

Log PDS returned NHS number
  lib/pds_experiments/pds_experiment_analyzer.rb
  lib/pds_experiments/pds_experiment_job.rb
Owners: @nhsuk/mavis-devs-application

Add CIS2Info
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/errors_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/teams_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/views/users/errors/role_not_found.html.erb
  app/views/users/errors/team_not_found.html.erb
  app/views/users/errors/workgroup_not_found.html.erb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Rename team not found error
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/errors_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/views/users/errors/organisation_not_found.html.erb
  config/routes.rb
  spec/features/user_cis2_authentication_with_redirect_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Choose team when signing in
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/errors_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/teams_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/views/users/teams/new.html.erb
  spec/factories/users.rb
  spec/features/e2e_journey_spec.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/features/parental_consent_spec.rb
  spec/features/triage_spec.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/features/user_cis2_authentication_from_start_page_spec.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
  spec/forms/select_team_form_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Remove schoolagedimmunisations workgroup
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  app/views/users/errors/workgroup_not_found.html.erb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/features/user_cis2_authentication_from_start_page_spec.rb
  spec/features/user_cis2_authentication_with_empty_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Skip selecting a team if there is only one
  app/controllers/users/teams_controller.rb
  app/forms/select_team_form.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/features/user_cis2_authentication_from_start_page_spec.rb
  spec/features/user_cis2_authentication_select_team_spec.rb
  spec/requests/patient_sessions/activity_spec.rb
  spec/support/cis2_auth_helper.rb
  tests/accessibility.spec.ts
Owners: @nhsuk/mavis-devs-application

Use concatenations rather than array join
  app/helpers/patients_helper.rb
Owners: @nhsuk/mavis-devs-application

Update formatting of year group with registration
  app/helpers/patients_helper.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/helpers/patients_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Show academic year during preparation period
  app/helpers/patients_helper.rb
  spec/helpers/patients_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass academic year to `Patient#year_group`
  app/lib/govuk_notify_personalisation.rb
  app/lib/reports/offline_session_exporter.rb
  app/lib/reports/programme_vaccinations_exporter.rb
  app/models/patient.rb
  spec/lib/govuk_notify_personalisation_spec.rb
  spec/lib/reports/offline_session_exporter_spec.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
  spec/models/class_import_row_spec.rb
  spec/models/class_import_spec.rb
  spec/models/cohort_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `Patient#in_generic_clinic?`
  app/controllers/patients_controller.rb
  app/models/patient.rb
  app/views/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Use pending academic year instead of current
  app/components/app_child_summary_component.rb
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/forms/patient_search_form.rb
  spec/features/archive_children_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/parental_consent_manual_matching_spec.rb
  spec/features/patient_search_spec.rb
  spec/features/vaccination_programmes_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Update deployment permissions
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/app/ecs.tf
  terraform/app/loadbalancer.tf
Owners: @nhsuk/mavis-devs-infrastructure
