Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Change `school` definition in spec
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add basic test to demonstrate MMR import
  spec/fixtures/immunisation_import/valid_mmr.csv
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add basic tests for MMR reports
  spec/lib/reports/offline_session_exporter_spec.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
  spec/lib/reports/systm_one_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Add missing MMR health question association
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Fix incorrect MMR health question
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Fix programme outcome card showing incorrectly
  app/components/app_patient_session_outcome_component.rb
  spec/components/app_patient_session_outcome_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve handling of dose volume units
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_unexpected_dose_unit.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Display PDS search results for NHS numbers found in daily job
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove "(UK) Ltd" from vaccine manufacturers
  config/vaccines.yml
Owners: @nhsuk/mavis-devs-application

Queue PDSCascadingSearchJobs as imports
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant build job from deploy.yml
  .github/workflows/deploy.yml
Owners: @nhsuk/vaccine-digital-service

Handle missing `vaccinationCode`
  app/lib/fhir_mapper/vaccination_record.rb
  app/lib/fhir_mapper/vaccine.rb
  spec/fixtures/files/fhir/fhir_record_minimum_api_create.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/fhir_mapper/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add test for new minimum record
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add a unit test for another minimum record
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_minimum_bulk_spec.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Location#has_year_groups`
  app/controllers/api/testing/locations_controller.rb
  app/models/location.rb
Owners: @nhsuk/mavis-devs-application

Ensure training team has a mix of schools
  app/lib/training_onboarding_configuration.rb
  spec/lib/training_onboarding_configuration_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure training configuration sets roles
  app/lib/training_onboarding_configuration.rb
  spec/lib/training_onboarding_configuration_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure subsequent PDS searches are also on the imports queue
  app/jobs/pds_cascading_search_job.rb
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Fix queing of import PDS jobs
  app/jobs/pds_cascading_search_job.rb
  spec/jobs/pds_cascading_search_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Use `attr_reader` instead of instance variables
  app/components/app_patient_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Refactor `unmatched` scope
  app/controllers/consent_forms_controller.rb
  app/lib/team_cached_counts.rb
  app/models/consent_form.rb
  spec/models/consent_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `outcome` to `context`
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_programme_status_tags_component.rb
  spec/components/app_programme_status_tags_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `triage_status` to `show_triage_status`
  app/components/app_patient_search_result_card_component.rb
  app/views/programmes/patients/index.html.erb
  spec/components/app_patient_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Clarify programme/vaccination status naming
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_form_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_outcome_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  config/locales/status.en.yml
  spec/components/app_programme_status_tags_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor triage factory
  spec/components/app_triage_table_component_spec.rb
  spec/factories/patients.rb
  spec/factories/triage.rb
  spec/features/invalidate_consent_spec.rb
  spec/features/withdraw_consent_spec.rb
  spec/jobs/invalidate_self_consents_job_spec.rb
  spec/jobs/patient_nhs_number_lookup_job_spec.rb
  spec/lib/patient_merger_spec.rb
  spec/lib/timeline_records_spec.rb
  spec/policies/triage_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove inaccurate comment
  app/lib/reports/systm_one_exporter.rb
Owners: @nhsuk/mavis-devs-application

Add methods for importing year groups
  app/models/location.rb
Owners: @nhsuk/mavis-devs-application

Create `Location::YearGroup`
  app/models/location.rb
  app/models/location/year_group.rb
  db/migrate/20251001070825_create_location_year_group.rb
  db/schema.rb
  spec/factories/location_year_groups.rb
  spec/models/location/year_group_spec.rb
Owners: @nhsuk/mavis-devs-application

Set year groups on schools
  app/lib/mavis_cli/schools/add_to_team.rb
  app/models/onboarding.rb
  db/migrate/20251001070825_create_location_year_group.rb
Owners: @nhsuk/mavis-devs-application

Update `GenericClinicFactory`
  app/lib/generic_clinic_factory.rb
  app/models/location.rb
  app/models/location/year_group.rb
  spec/factories/locations.rb
  spec/lib/generic_clinic_factory_spec.rb
  spec/models/onboarding_spec.rb
Owners: @nhsuk/mavis-devs-application

Stop using `gias_year_groups`
  app/controllers/api/testing/locations_controller.rb
  app/jobs/patients_aged_out_of_school_job.rb
  app/lib/generic_clinic_factory.rb
  app/lib/training_onboarding_configuration.rb
  app/models/location.rb
  app/models/location_programme_year_group.rb
  spec/factories/locations.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
  spec/lib/generic_clinic_factory_spec.rb
  spec/lib/stats/organisations_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `HasProgrammeYearGroups`
  app/components/app_programme_session_table_component.rb
  app/components/app_session_dates_table_component.rb
  app/lib/programme_birth_academic_years.rb
  app/lib/programme_year_groups.rb
  app/models/concerns/has_location_programme_year_groups.rb
  app/models/concerns/has_programme_year_groups.rb
  app/models/draft_session.rb
  app/models/location.rb
  app/models/patient.rb
  app/models/session.rb
  app/models/team.rb
  spec/lib/programme_year_groups_spec.rb
Owners: @nhsuk/mavis-devs-application

Add session_location_id to reporting view
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20251014121341_update_reporting_api_patient_programme_statuses_to_version_2.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v02.sql
Owners: @nhsuk/mavis-devs-application

Add additional cohort test cases
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Filter reporting cohorts by programme year groups
  app/controllers/api/reporting/totals_controller.rb
Owners: @nhsuk/mavis-devs-application

Add programmes to `teams list` command
  app/lib/mavis_cli/teams/list.rb
  spec/features/cli_teams_list_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `PerformableByUser` concern
  app/models/concerns/performable_by_user.rb
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  app/models/triage.rb
Owners: @nhsuk/mavis-devs-application

Remove "Contraindicated" from tallies
  app/components/app_session_overview_tallies_component.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Overwriting zero container values for reporting service in qa environment
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Handle nasal flu records missing `doseQuantity`
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_nasal_missing_dose.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
