Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Update consent given and safe to vaccinate
  app/controllers/sessions/record_controller.rb
  app/models/patient.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/models/patient_spec.rb
  spec/models/session_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix from_another_team? to handle schools with no teams
  app/models/school_move.rb
  spec/models/school_move_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix `VACCINE_GIVEN` error message
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant permission
  terraform/app/iam_policy_documents.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update documentation and add images
  docs/diagrams/images/configure_copy_job.png
  docs/diagrams/images/select_backup_vault.png
  docs/diagrams/images/select_recovery_point.png
  docs/disaster-recovery.md
Owners: @nhsuk/vaccine-digital-service

Extract consent form PDF download to own controller
  app/components/app_session_summary_component.rb
  app/controllers/consent_form_downloads_controller.rb
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Delete `patient_locations:cleanup_post_school_move`
  lib/tasks/patient_locations.rake
Owners: @nhsuk/mavis-devs-application

Add `NextDoseTriageFactory`
  app/controllers/draft_vaccination_records_controller.rb
  app/lib/next_dose_triage_factory.rb
  spec/lib/next_dose_triage_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Call `NextDoseTriageFactory` on import
  app/lib/next_dose_triage_factory.rb
  app/models/immunisation_import.rb
  app/models/vaccination_record.rb
  spec/lib/next_dose_triage_factory_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure `disease_types` is set
  app/models/concerns/belongs_to_programme.rb
  spec/features/mmr_vaccination_administered_spec.rb
  spec/features/mmrv_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `data_migration:set_pre_screening_disease_types`
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Add `disease_types` column
  app/models/pre_screening.rb
  db/migrate/20260107194410_add_disease_types_to_pre_screenings.rb
  db/schema.rb
  spec/factories/pre_screenings.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Determine performed by user from vaccination record
  app/controllers/draft_vaccination_records_controller.rb
  app/lib/next_dose_triage_factory.rb
  app/models/immunisation_import.rb
  spec/lib/next_dose_triage_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Set Team.year_groups statically for upload-only teams
  app/models/team.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure SMS messages correctly state MMR for MMRV-eligible patients
  app/lib/govuk_notify_personalisation.rb
  config/initializers/govuk_notify.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure statuses are included when patients are viewed in a school
  app/controllers/schools_controller.rb
Owners: @nhsuk/mavis-devs-application

Add schools create-site command with optional team assignment
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/schools/create_site.rb
  spec/features/cli_schools_create_site_spec.rb
Owners: @nhsuk/mavis-devs-application

Limit child record to vaccinations and child details for MNR teams
  app/views/patients/show.html.erb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Add source attribute to draft vaccination record
  app/components/app_vaccination_record_summary_component.rb
  app/controllers/patient_sessions/programmes_controller.rb
  app/forms/vaccinate_form.rb
  app/models/draft_vaccination_record.rb
  spec/models/draft_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide protocol on national reporting vaccination records
  app/components/app_vaccination_record_summary_component.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide archived state of children created by bulk upload
  app/components/app_child_summary_component.rb
  app/views/patients/_header.html.erb
  app/views/patients/show.html.erb
  spec/components/app_child_summary_component_spec.rb
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Show "Mavis national reporting upload" for bulk_upload record source
  app/components/app_patient_vaccination_table_component.html.erb
  app/components/app_vaccination_record_summary_component.rb
  app/models/vaccination_record.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide dose volume on national reporting vaccination records
  app/components/app_vaccination_record_summary_component.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Move VaccinationRecord.source_value to a helper method
  app/components/app_patient_vaccination_table_component.html.erb
  app/components/app_patient_vaccination_table_component.rb
  app/components/app_vaccination_record_summary_component.rb
  app/helpers/vaccination_records_helper.rb
  app/models/draft_vaccination_record.rb
  app/models/vaccination_record.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix: programme variant to determine allowed vaccines in offline session exporter
  app/lib/reports/offline_session_exporter.rb
  spec/lib/reports/offline_session_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove programmes link from navigation and dashboard
  app/controllers/concerns/navigation_concern.rb
  app/controllers/dashboard_controller.rb
  app/views/vaccination_reports/dates.html.erb
Owners: @nhsuk/mavis-devs-application

Add reports link to header
  app/controllers/concerns/navigation_concern.rb
Owners: @nhsuk/mavis-devs-application

delete important notices when deleting teams
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Fix logic to check if inter-team move in summary component
  app/components/app_import_review_school_moves_summary_component.rb
Owners: @nhsuk/mavis-devs-application

delete sessions when refreshing teams between test modules
  app/controllers/api/testing/teams_controller.rb
  spec/controllers/api/testing/teams_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix TeamLocation <> PatientLocation association
  app/models/team_location.rb
Owners: @nhsuk/mavis-devs-application

Add schools remove-from-team command for batch team removal
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/schools/remove_from_team.rb
  app/models/team_location.rb
  spec/features/cli_schools_remove_from_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Set Team.year_groups statically for upload-only teams"
  app/models/team.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Set Team.year_groups statically for upload-only teams
  app/models/team.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Tweak bulk upload team seed
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Revert "Tweak team seed"
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Improve search by name for locations
  app/models/location.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

Increase spacing between items in navigation bar
  app/assets/stylesheets/components/_header.scss
Owners: @nhsuk/mavis-devs-application

Allow bulk upload users to edit vaccination records
  app/controllers/draft_vaccination_records_controller.rb
  app/forms/vaccinate_form.rb
  app/models/draft_vaccination_record.rb
  app/policies/vaccination_record_policy.rb
  spec/factories/patients.rb
  spec/factories/vaccination_records.rb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Set Team.year_groups statically for upload-only teams
  app/models/team.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application
