Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Refactor enqueue vaccs search jobs spec
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Update last_searched_at in imms search job
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Make search batch size use entire patient-set
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/factories/patients.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Move perform_now out of begin blocks
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add rolling searches
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  config/feature_flags.yml
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Update vaccs search timestamps as last step
  app/jobs/search_vaccination_records_in_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Tidy up enqueue nhs search job spec
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Keep the order of patients in search batch
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Restrict session search to pending year
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Enqueue vacc syncs for patients in all programmes
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor search vaccs records job for readability
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't enqueue search for patients without nhs no
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add fixture for all-programme search
  spec/fixtures/files/fhir/search_response_all_programmes_mmrv.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@523596589455e185e5f8a29ee2471c9974c6c80a 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Improve test coverage and help text for CLI generate cohort list
  app/lib/mavis_cli/generate/cohort_imports.rb
  spec/features/cli_generate_cohort_imports_spec.rb
Owners: @nhsuk/mavis-devs-application

Add tests for a onboarding a NR team
  spec/features/cli_teams_onboard_spec.rb
  spec/fixtures/files/onboarding/national_reporting_valid.yaml
  spec/fixtures/files/onboarding/poc_valid.yaml
  spec/models/onboarding_spec.rb
  spec/requests/api/testing/onboard_spec.rb
Owners: @nhsuk/mavis-devs-application

Change editable attributes for upload only teams
  app/models/onboarding.rb
Owners: @nhsuk/mavis-devs-application

Make validation rules conditional on type
  app/models/onboarding.rb
  app/models/team.rb
  db/migrate/20260126113704_make_team_privacy_urls_conditionally_nullable.rb
  db/schema.rb
  spec/factories/teams.rb
  spec/fixtures/files/onboarding/national_reporting_valid.yaml
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Update `managing-teams.md` to include national reporting teams
  docs/managing-teams.md
Owners: @nhsuk/vaccine-digital-service

Don't create clinics for national reporting teams
  app/models/onboarding.rb
Owners: @nhsuk/mavis-devs-application

Update `managing-teams.md` with old changes
  docs/managing-teams.md
  spec/fixtures/files/onboarding/poc_valid.yaml
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Improve test coverage and fix bug in CLI generate consents/consent-forms
  spec/factories/consent_forms.rb
  spec/features/cli_generate_consent_forms_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve test coverage for Schools::CreateSite CLI
  spec/features/cli_schools_create_site_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore duplicate vaccination records with missing site if other attributes are unchanged
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Update Team factory with upload_only trait to fix tests
  db/seeds.rb
  spec/components/app_child_summary_component_spec.rb
  spec/factories/teams.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/features/upload_only_team_spec.rb
  spec/models/patient_spec.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@ca84bd812bcf2cd88f8e6144b4840cb900ab9dbc 🚀
  docs/rdoc/next/Onboarding.html
  docs/rdoc/next/Onboarding/ExistingProgramme.html
  docs/rdoc/next/Onboarding/ExistingSchool.html
  docs/rdoc/next/Onboarding/NewSchoolSite.html
  docs/rdoc/next/Team.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/docs/managing-teams_md.html
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Allow training teams to be `upload_only`
  app/lib/mavis_cli/teams/onboard.rb
  app/lib/training_onboarding_configuration.rb
  spec/lib/training_onboarding_configuration_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@4dd1d9e8f53226526aeec4e77459beab3a4d0d94 🚀
  docs/rdoc/next/MavisCLI/Teams/Onboard.html
  docs/rdoc/next/TrainingOnboardingConfiguration.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@69d8b983622f26d7d4df8fb076f7624ad57ed32d 🚀
  docs/rdoc/next/MavisCLI/Generate/CohortImports.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Update: Ignoring duplicate vaccination records with missing site if other attributes are unchanged
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MacOS support for starting Foreman in e2e environment
  bin/e2e
Owners: @nhsuk/mavis-devs-application

Add onboarding files for the teams onboarding in April
  config/onboarding/barking_and_dagenham.yaml
  config/onboarding/barnet.yaml
  config/onboarding/brent.yaml
  config/onboarding/camden.yaml
  config/onboarding/hackney.yaml
  config/onboarding/newham.yaml
  config/onboarding/redbridge.yaml
  config/onboarding/tower_hamlets.yaml
  config/onboarding/waltham_forest.yaml
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@ee99d911798f2ac837152ed416aa857e698a6ae4 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Update statuses of users after bulk-upload reset
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@5436d67924bf2819dc346937f846dd389e5d4a08 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@b6484d54392a20c8405c8093ce64920bb0ab4d8e 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@313fa54d0ba454b4eb8e8190c1bd1ca4a59a8dfd 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Attempt to fix some spec regressions
  spec/components/app_activity_log_component_spec.rb
  spec/features/mmr_triage_spec.rb
  spec/features/mmr_vaccination_administered_spec.rb
  spec/features/mmrv_triage_spec.rb
  spec/features/mmrv_vaccination_administered_spec.rb
  spec/features/parental_consent_send_request_spec.rb
Owners: @nhsuk/mavis-devs-application

Response to PR review: immunisation_import_row.rb
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Improve deduplication during Imms API searches
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application
