Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add interruption panel styles
  app/assets/stylesheets/components/_index.scss
  app/assets/stylesheets/components/_panel.scss
Owners: @nhsuk/mavis-devs-application

Refactor catch up year groups
  app/lib/govuk_notify_personalisation.rb
  app/lib/programme_year_groups.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Add warning banner when adding dates
  app/controllers/draft_sessions_controller.rb
  app/models/draft_session.rb
  app/views/draft_sessions/dates_check.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  spec/features/edit_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MMR programme type
  app/lib/programme_grouper.rb
  app/lib/vaccinated_criteria.rb
  app/models/programme.rb
  spec/factories/vaccines.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't create MMR school sessions
  app/lib/location_sessions_factory.rb
  app/models/programme.rb
  spec/lib/location_sessions_factory_spec.rb
Owners: @nhsuk/mavis-devs-application

Include `triage_statuses`
  app/controllers/sessions/consent_controller.rb
Owners: @nhsuk/mavis-devs-application

Don't store manifest as user location
  app/controllers/manifest_controller.rb
Owners: @nhsuk/mavis-devs-application

Rename `vaccination_discovered`
  app/lib/already_had_notification_sender.rb
  config/initializers/govuk_notify.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/already_had_notification_sender_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MMR locale string
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Fix flaky tests related to MMR being added
  spec/models/cohort_import_spec.rb
  spec/models/patient/triage_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Make `ManifestController` an API controller
  app/controllers/manifest_controller.rb
Owners: @nhsuk/mavis-devs-application

Update content on dates warning page
  app/controllers/draft_sessions_controller.rb
  app/views/draft_sessions/dates_check.html.erb
  spec/features/edit_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `year_groups` column
  app/models/location.rb
  db/migrate/20251001065147_remove_year_groups_from_locations.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Add `AcademicYear#previous`
  app/lib/academic_year.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/features/cli_stats_consents_by_school_spec.rb
  spec/features/cli_stats_organisations_spec.rb
  spec/lib/stats/consents_by_school_spec.rb
Owners: @nhsuk/mavis-devs-application

Model patient session eligibility
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/lib/status_generator/vaccination.rb
  app/models/patient.rb
  spec/components/app_session_overview_tallies_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refator vaccine methods in tallies component
  app/components/app_session_overview_tallies_component.rb
  app/controllers/sessions_controller.rb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `TrainingOnboardingConfiguration`
  app/lib/training_onboarding_configuration.rb
  spec/lib/training_onboarding_configuration_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove training onboarding configuration
  config/onboarding/coventry-training.yaml
  config/onboarding/hertfordshire-training.yaml
  config/onboarding/leicestershire-training.yaml
  config/onboarding/smoke-test.yaml
Owners: @nhsuk/mavis-devs-application

Add command to create training teams
  app/lib/mavis_cli/teams/onboard.rb
  spec/features/cli_teams_onboard_spec.rb
Owners: @nhsuk/mavis-devs-application

Export separate CarePlus row per session date
  app/lib/reports/careplus_exporter.rb
  spec/lib/reports/careplus_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Create common variables/secrets for ECS reporting service
  script/requirements.txt
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/loadbalancer.tf
  terraform/app/rds.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Create background resources for reporting service
  terraform/account/main.tf
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/kms.tf
  terraform/app/valkey.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create reporting service
  script/shell.sh
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Fix access logging of visible fields for inspect graph
  app/controllers/inspect/graphs_controller.rb
  app/lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Fix call to PDSCascadingSearch
  app/jobs/patient_update_from_pds_job.rb
  app/lib/update_patients_from_pds.rb
  spec/jobs/patient_update_from_pds_job_spec.rb
  spec/lib/update_patients_from_pds_spec.rb
Owners: @nhsuk/mavis-devs-application

Add deployment permissions for creating Service Connect
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Fix monitoring workflow
  .github/workflows/deploy-monitoring.yml
Owners: @nhsuk/vaccine-digital-service

Update instructions for adding location to team
  docs/ops-tasks.md
Owners: @nhsuk/vaccine-digital-service

Call PDSCascadingSearch for patients without NHS number in daily job
  app/jobs/enqueue_update_patients_from_pds_job.rb
Owners: @nhsuk/mavis-devs-application

Fix only not rendering
  app/views/draft_sessions/dates_check.html.erb
Owners: @nhsuk/mavis-devs-application

Fix access logging of visible fields for inspect timeline
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/lib/timeline_records.rb
  app/views/inspect/timeline/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Fix when "Only" is shown
  app/views/draft_sessions/dates_check.html.erb
  spec/features/edit_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename Reporting API /reset to /refresh-reporting
  app/controllers/api/testing/reporting_refresh_controller.rb
  config/routes.rb
  spec/controllers/api/testing/reporting_refresh_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix default consent form traversals
  app/lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add anonymised GP record and tests
  app/lib/fhir_mapper/vaccination_record.rb
  app/lib/fhir_mapper/vaccine.rb
  spec/fixtures/files/fhir/fhir_record_gp.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/fhir_mapper/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `contains_gelatine` to vaccines
  app/models/vaccine.rb
  config/vaccines.yml
  db/migrate/20251010125658_add_contains_gelatine_to_vaccines.rb
  db/schema.rb
  lib/tasks/vaccines.rake
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MMR health questions
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Add MMR vaccines
  app/models/vaccine.rb
  config/vaccines.yml
  spec/factories/programmes.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MMR side effects
  app/models/concerns/has_side_effects.rb
  config/locales/en.yml
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Accept a wider range of dose volume descriptions
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_extended_milliliter.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application
