Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add new programme codes
  app/models/programme.rb
  spec/lib/fhir_mapper/programme_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Default CLI to search for all programmes
  app/lib/mavis_cli/vaccination_records/search_imms_api.rb
Owners: @nhsuk/mavis-devs-application

Refactor tests to better handle more programmes
  spec/features/vaccination_offline_spec.rb
  spec/fixtures/files/fhir/flu/fhir_record_extended_milliliter.json
  spec/fixtures/files/fhir/flu/fhir_record_full.json
  spec/fixtures/files/fhir/flu/fhir_record_gp.json
  spec/fixtures/files/fhir/flu/fhir_record_half_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_im_missing_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum_api_create.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum_bulk_spec.json
  spec/fixtures/files/fhir/flu/fhir_record_nasal_missing_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_short_batch.json
  spec/fixtures/files/fhir/flu/fhir_record_unexpected_dose_unit.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_location.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_vaccine.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/fhir_mapper/vaccine_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor "sends discovery comms" to reuse code better
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add new programme codes
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/fixtures/files/fhir/search_response_0_results.json
  spec/fixtures/files/fhir/search_response_1_result.json
  spec/fixtures/files/fhir/search_response_1_result_mavis.json
  spec/fixtures/files/fhir/search_response_2_results.json
  spec/fixtures/files/fhir/search_response_2_results_mavis_duplicate.json
  spec/fixtures/files/fhir/search_response_duplicate.json
  spec/fixtures/files/fhir/search_response_full_bundle.json
  spec/fixtures/files/fhir/search_response_operation_outcome_entry.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor tests to use `file_name`
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix per-programme unit tests
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add full dose check
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add search job tests for different programmes
  spec/fixtures/files/fhir/search_response_all_programmes.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add basic tests for all new programme types
  spec/fixtures/files/fhir/hpv/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/menacwy/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/mmr/fhir_record_from_mavis.json
  spec/fixtures/files/fhir/td_ipv/fhir_record_from_mavis.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Normalize order of `Bundle.link`'s `-immunization.target`
  app/lib/nhs/immunisations_api.rb
Owners: @nhsuk/mavis-devs-application

Remove scope `can_search_from_immunisations_api`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/lib/mavis_cli/vaccination_records/search_imms_api.rb
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `session_date_id` columns
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  db/migrate/20251112203653_remove_session_date_from_gillick_assessments_and_pre_screenings.rb
  db/schema.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetSessionDates`
  app/lib/data_migration/set_session_dates.rb
  spec/lib/data_migration/set_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Make session `dates` not nullable
  app/models/session.rb
  db/migrate/20251113130126_make_session_dates_not_null.rb
  db/schema.rb
  spec/components/app_consent_confirmation_component_spec.rb
  spec/factories/sessions.rb
  spec/lib/reports/careplus_exporter_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix issue when running seeds
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Sync `SessionProgrammeYearGroup`
  app/controllers/draft_sessions_controller.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/team_sessions_factory.rb
  app/models/onboarding.rb
  app/models/session.rb
  app/models/team.rb
  spec/factories/sessions.rb
  spec/models/draft_session_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Create `SessionProgrammeYearGroup`
  app/models/session.rb
  app/models/session_programme_year_group.rb
  db/migrate/20251113162617_create_session_programme_year_groups.rb
  db/schema.rb
  spec/factories/session_programme_year_groups.rb
  spec/models/session_programme_year_group_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `sync_location_programme_year_groups`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Move `return` to less misleading place
  app/jobs/sync_vaccination_record_to_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Hides the synced row on the vaccination record for external sources
  app/components/app_vaccination_record_summary_component.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide `Synced with NHSE?` row if not recorded in Mavis
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/components/app_vaccination_record_summary_component.rb
  spec/components/app_vaccination_record_api_sync_status_component_spec.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Deduplicate more records
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/fixtures/files/fhir/search_response_2_results_mavis_duplicate_primary_source.json
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

fix: school moves not updating after consent form gets matched
  app/controllers/consent_forms_controller.rb
  app/jobs/consent_form_matching_job.rb
Owners: @nhsuk/mavis-devs-application

Remove `can_sync` and `can_search` from programmes
  app/models/programme.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

test: that team cached counts are updated
  spec/controllers/api/testing/teams_controller_spec.rb
  spec/controllers/consent_forms_controller_spec.rb
  spec/forms/import_duplicate_form_spec.rb
  spec/forms/school_move_form_spec.rb
  spec/jobs/commit_import_job_spec.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
  spec/jobs/consent_form_matching_job_spec.rb
  spec/support/shared_examples/a_controller_method_that_updates_team_cached_counts.rb
Owners: @nhsuk/mavis-devs-application

Don't review changesets waiting to be processed
  app/jobs/review_patient_changeset_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Improve searching patients by name
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Validate row count on imports
  app/models/concerns/csv_importable.rb
  config/feature_flags.yml
  config/locales/en.yml
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Setup for dockerized db run -- todo: fix run test setup
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Regression image based of the standard docker image
  Procfile.regression
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
Owners: @nhsuk/mavis-devs-application

Add dockerized dev-image setup to assurance testing environment
  terraform/account/deployment_permissions.tf
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create workflow for running regression tests
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

Create workflow for running regression tests
  .github/workflows/build-and-push-image.yml
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Refactor post-commit tasks
  app/jobs/commit_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Set changesets to committing before enqueueing
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/models/patient_import.rb
Owners: @nhsuk/mavis-devs-application

Run migrations before deployment
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Update permissions
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Revert "Connect the token authentication mechanism to Devise session tracking"
  app/controllers/concerns/reporting_api/token_authentication_concern.rb
  spec/controllers/concerns/reporting_api/token_authentication_concern_spec.rb
  spec/support/reporting_api_helper.rb
  spec/support/shared_examples/a_reporting_api_controller.rb
Owners: @nhsuk/mavis-devs-application

Simplify dev setup
  .github/workflows/create_dockerized_db.yml
  .github/workflows/regression-test-run.yml
  Dockerfile
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure
