Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Hide cancel button on import review screen in some circumstances
  app/components/app_import_review_component.rb
  spec/components/app_import_review_component_spec.rb
  spec/factories/patient_changesets.rb
Owners: @nhsuk/mavis-devs-application

Fix patient count expectation in PDS match rate test
  spec/jobs/commit_import_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor source code to use `upload_name`
  app/components/app_import_format_details_component.rb
  app/lib/graph_records.rb
  app/lib/reports/offline_session_exporter.rb
  app/lib/reports/programme_vaccinations_exporter.rb
  app/models/immunisation_import_row.rb
  lib/tasks/vaccines.rake
  spec/components/app_activity_log_component_spec.rb
  spec/factories/vaccines.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/lib/reports/offline_session_exporter_spec.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Add column `nivs_name` to `Vaccine`
  app/models/vaccine.rb
  db/migrate/20251203165110_add_nivs_name_to_vaccines.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove old column `nivs_name`
  app/models/vaccine.rb
  config/vaccines.yml
  db/migrate/20251203153901_remove_vaccine_nivs_name.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Populate `nivs_name`s in `vaccines.yml`
  config/vaccines.yml
  lib/tasks/vaccines.rake
  spec/factories/vaccines.rb
Owners: @nhsuk/mavis-devs-application

Adjust `upload_name` column
  app/models/vaccine.rb
  db/migrate/20251203145158_make_vaccine_upload_name_not_null.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Send AWS Backup notifications via Slack
  .github/workflows/deploy-backup-infrastructure.yml
  terraform/.gitignore
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/backup/source/alerting.tf
  terraform/backup/source/env/development.tfvars
  terraform/backup/source/env/production.tfvars
  terraform/backup/source/lambda/backup_alert.py
  terraform/backup/source/main.tf
  terraform/backup/source/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Display CSV row number on import review screen
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.rb
  app/views/imports/issues/index.html.erb
  app/views/imports/show.html.erb
  spec/components/app_import_review_issues_summary_component_spec.rb
  spec/components/app_import_review_records_summary_component_spec.rb
  spec/components/app_import_review_school_moves_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide Records column on imports table if no patients imported
  app/components/app_imports_table_component.html.erb
  spec/components/app_imports_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide Records column on imports table if no patients imported
  app/components/app_imports_table_component.html.erb
  spec/components/app_imports_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove default value from `ImmsImport.type`
  app/models/immunisation_import.rb
  db/migrate/20251204102032_remove_default_immunisation_import_type.rb
  db/schema.rb
  spec/factories/immunisation_imports.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Show school moves on completed import page
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/views/imports/show.html.erb
  spec/components/app_import_review_school_moves_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor import screens to use AppDetailsComponent
  app/components/app_details_component.rb
  app/components/app_import_review_component.rb
  app/components/app_patient_pds_discrepancy_table_component.html.erb
  app/components/app_patient_table_component.html.erb
  app/components/app_vaccination_record_table_component.html.erb
  app/views/imports/show.html.erb
  spec/components/app_details_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Prometheus exporter setup with cloudwatch
  Gemfile
  Gemfile.lock
  config/initializers/cloudwatch_exporter.rb
  config/initializers/sidekiq.rb
  config/puma.rb
Owners: @nhsuk/mavis-devs-application

Add fast path for patient lookup when patient_id is present
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/jobs/commit_import_job.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/review_class_import_school_move_job.rb
  app/models/class_import.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

test: the patient_id is included in the logs
  spec/controllers/consent_forms_controller_spec.rb
  spec/controllers/draft_consents_controller_spec.rb
  spec/controllers/draft_vaccination_records_controller_spec.rb
  spec/controllers/imports/issues_controller_spec.rb
  spec/controllers/parent_relationships_controller_spec.rb
  spec/controllers/patient_sessions/activities_controller_spec.rb
  spec/controllers/patients/archive_controller_spec.rb
  spec/controllers/patients/edit_controller_spec.rb
  spec/controllers/patients_controller_spec.rb
  spec/controllers/vaccination_records_controller_spec.rb
  spec/factories/patients.rb
  spec/support/logging_helper.rb
  spec/support/shared_examples/a_controller_that_logs_the_patient_id.rb
Owners: @nhsuk/mavis-devs-application

Assume all bulk HPV records are administered
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `source` correctly for bulk upload records
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `programme` based on import type for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve performnace of inter_team_move check
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Remove unused SIDEKIQ_CONCURRENCY
  config/database.yml
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Use RAILS_MAX_THREADS to set sidekiq threads
  config/sidekiq.yml
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Set sidekiq to 10 threads
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Fix MMRV health questions appearing in MMR consent forms
  app/models/concerns/belongs_to_programme.rb
  app/models/programme.rb
  app/models/programme_variant.rb
  config/vaccines.yml
  lib/tasks/vaccines.rake
  spec/factories/vaccines.rb
  spec/models/programme_variant_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore "not given" rows in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `DOSE_SEQUENCE` for HPV bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `BATCH_NUMBER` and `BATCH_EXPIRY_DATE` in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `PERFORMING_PROFESSIONAL_...NAME` for flu bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `ORGANISATION_CODE` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `LOCAL_PATIENT_ID` and `...URI` for bulk uploads
  app/models/immunisation_import_row.rb
  app/models/vaccination_record.rb
  db/migrate/20251127092933_add_local_patient_id_and_uri_to_vaccination_record.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/immunisation_import_row_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't require `CLINIC_NAME` for bulk uploads
  app/models/immunisation_import_row.rb
Owners: @nhsuk/mavis-devs-application

Require `SCHOOL_URN` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `ANATOMICAL_SITE` in bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't require `SHOOL_NAME` for bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Actively ignore excess fields for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve validation error messages for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Bulk upload vaccs date must be in this academic year
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Eager load associations to prevent N+1 queries in review screen
  app/components/app_import_review_school_moves_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
Owners: @nhsuk/mavis-devs-application

Increase location matching threshold
  app/models/location.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
