Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Migration to create ImportantNotice table
  db/migrate/20251017133425_create_important_notices.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Create ImportantNotice model and policy
  app/models/important_notice.rb
  app/policies/important_notice_policy.rb
  spec/factories/important_notices.rb
  spec/models/important_notice_spec.rb
  spec/policies/important_notice_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

run gias import to populate database
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Add script to fix which schools are attributed to BLMK and N&W
  app/lib/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Add method to validate the schools are in the right state now
  app/lib/data_migration/school_removal_for_blmk_and_nw.rb
Owners: @nhsuk/mavis-devs-application

Create ImportantNoticeGeneratorJob to create notices for patients
  app/jobs/important_notice_generator_job.rb
  app/models/patient.rb
  app/models/team.rb
  app/models/vaccination_record.rb
  spec/jobs/important_notice_generator_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Migrate old notice generator function to new model
  app/components/app_imports_navigation_component.rb
  app/components/app_notices_table_component.html.erb
  app/components/app_patient_card_component.rb
  app/controllers/dashboard_controller.rb
  app/controllers/imports/notices_controller.rb
  app/jobs/important_notice_generator_job.rb
  app/lib/important_notices.rb
  app/policies/notices_policy.rb
  spec/components/app_patient_card_component_spec.rb
  spec/factories/patients.rb
  spec/jobs/important_notice_generator_job_spec.rb
  spec/lib/important_notices_spec.rb
Owners: @nhsuk/mavis-devs-application

Avoid creating import notices for vaccination records
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Create notices when patient moves teams
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient_team.rb
  spec/factories/vaccination_records.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Add Dismiss link on Important notices table
  app/components/app_notices_table_component.html.erb
  app/controllers/imports/notices_controller.rb
  app/policies/important_notice_policy.rb
  app/views/imports/notices/dismiss.html.erb
  config/routes.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Always apply year group filter in reporting API
  app/controllers/api/reporting/totals_controller.rb
Owners: @nhsuk/mavis-devs-application

Use `pluck` instead of `map`
  app/models/concerns/contributes_to_patient_teams.rb
Owners: @nhsuk/mavis-devs-application

Use `ConsentForm#session` directly
  app/controllers/consent_forms_controller.rb
Owners: @nhsuk/mavis-devs-application

Create workflow for running regression tests
  .github/workflows/build-and-push-image.yml
  .github/workflows/regression-test-run.yml
  .github/workflows/test.yml
Owners: @nhsuk/vaccine-digital-service

Add dockerized dev-image setup to assurance testing environment
  terraform/account/deployment_permissions.tf
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/iam.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Setup for dockerized db run -- todo: fix run test setup
  .github/workflows/create_dockerized_db.yml
  config/database.yml
  terraform/account/ecr.tf
  terraform/account/resources/ecr_lifecycle_policy_keep_10.json
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Regression image based of the standard docker image
  Procfile.regression
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
Owners: @nhsuk/mavis-devs-application

Create workflow for running regression tests
  .github/workflows/regression-test-run.yml
Owners: @nhsuk/vaccine-digital-service

Simplify dev setup
  .github/workflows/create_dockerized_db.yml
  .github/workflows/regression-test-run.yml
  Dockerfile
  bin/docker-entrypoint-regression.sh
  regression.Dockerfile
  terraform/account/resources/iam_policy_RunECSTask.json
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

test
  .github/workflows/create_dockerized_db.yml
Owners: @nhsuk/vaccine-digital-service

Only create school moves for patients currently in school during class import
  app/jobs/review_class_import_school_move_job.rb
  app/models/class_import.rb
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure any new school moves out of the school are flagged for review
  app/controllers/class_imports_controller.rb
  app/jobs/commit_patient_changesets_job.rb
  app/models/class_import.rb
  app/models/patient_changeset.rb
  spec/features/import_class_list_review_spec.rb
  spec/fixtures/class_import/review_two.csv
Owners: @nhsuk/mavis-devs-application

Convert class import list review to use pds lookup
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove unused step in class list test
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove programme ID indexes
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114439_remove_programme_id_indexes.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove audits on programmes
  app/models/programme.rb
  app/models/vaccine.rb
Owners: @nhsuk/mavis-devs-application

Remove programme scopes
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/models/programme.rb
  app/models/session.rb
  app/policies/programme_policy.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow programme IDs to be null
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/notify_log_entry.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114440_make_programme_ids_null.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/notify_log_entries.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/notify_log_entry_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove programme associations
  app/controllers/consent_forms_controller.rb
  app/controllers/dev/random_consent_form_controller.rb
  app/controllers/parent_interface/consent_forms/base_controller.rb
  app/controllers/patient_sessions/consents_controller.rb
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions/consent_controller.rb
  app/controllers/sessions_controller.rb
  app/jobs/consent_form_matching_job.rb
  app/lib/generate/vaccination_records.rb
  app/lib/govuk_notify_personalisation.rb
  app/lib/mavis_cli/generate/vaccination_records.rb
  app/models/concerns/belongs_to_programme.rb
  app/models/concerns/has_many_programmes.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/consent_form_programme.rb
  app/models/immunisation_import_row.rb
  app/models/programme.rb
  app/models/session.rb
  app/models/team.rb
  app/policies/programme_policy.rb
  spec/factories/consents.rb
  spec/factories/programmes.rb
  spec/factories/vaccination_records.rb
  spec/forms/vaccinate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Drop session dates
  db/migrate/20251113145629_drop_session_dates.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Create `TeamLocation`
  app/models/location.rb
  app/models/subteam.rb
  app/models/team.rb
  app/models/team_location.rb
  db/migrate/20251115065009_create_team_location.rb
  db/schema.rb
  spec/factories/team_locations.rb
  spec/models/team_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Sync `TeamLocation`
  app/controllers/api/testing/teams_controller.rb
  app/lib/generic_clinic_factory.rb
  app/lib/mavis_cli/clinics/add_to_team.rb
  app/lib/mavis_cli/schools/add_to_team.rb
  app/models/location.rb
  app/models/onboarding.rb
  spec/features/cli_clinics_add_to_team_spec.rb
  spec/features/cli_schools_add_to_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `DataMigration::SetTeamLocation`
  app/lib/data_migration/set_team_location.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_team_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Add Slack notifications to workflow
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Prevent incorrect school moves being created from review job
  app/controllers/class_imports_controller.rb
  app/models/class_import.rb
  spec/features/import_class_list_review_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `type` to `ImmunisationImport` and `...Row`
  app/models/immunisation_import.rb
  app/models/immunisation_import_row.rb
  db/migrate/20251117144500_add_type_to_immunisation_imports.rb
  db/schema.rb
  spec/factories/immunisation_imports.rb
  spec/models/immunisation_import_row_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Require `PERFORMING_PROFESSIONAL_...NAME` for flu bulk uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Assign `programme` based on import type for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Reqire `VACCINE_GIVEN` for bulk upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass `type` to `ImmunisationImport`
  app/controllers/immunisation_imports_controller.rb
Owners: @nhsuk/mavis-devs-application
