Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Disable PDS lookup extravaganza spec
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable PDS lookup during import for patient import
  app/models/concerns/csv_importable.rb
Owners: @nhsuk/mavis-devs-application

Auto-save new nhs numbers on import
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Search for patient if an NHS number isn't provided
  app/jobs/process_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Use VaccinationStatus model rather than converting to hash
  app/components/app_patient_programmes_table_component.rb
Owners: @nhsuk/mavis-devs-application

Ensure we handle a triage not existing
  app/components/app_patient_programmes_table_component.rb
Owners: @nhsuk/mavis-devs-application

Update content on "Do not vaccinate"
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Update extravaganza test for PDS search only
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
  spec/support/pds_helper.rb
Owners: @nhsuk/mavis-devs-application

Add access logging for PII mode in timeline and graphs
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/models/access_log_entry.rb
  lib/graph_records.rb
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Add column to access log to store request details
  app/models/access_log_entry.rb
  db/migrate/20250814093321_add_request_details_to_access_log_entry.rb
  db/schema.rb
  spec/factories/access_log_entries.rb
  spec/models/access_log_entry_spec.rb
Owners: @nhsuk/mavis-devs-application

Log request details for PII accesses in timeline
  app/controllers/inspect/timeline/patients_controller.rb
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Log PII access for graph view
  app/controllers/inspect/graphs_controller.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add unit tests for PII access logging
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

Increase database pool for Sidekiq
  config/database.yml
Owners: @nhsuk/mavis-devs-application

Install sidekiq and sidekiq-throttled
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Add Sidekiq configuration
  config/initializers/sidekiq.rb
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Rename NHSAPIConcurrencyConcern
  app/jobs/concerns/nhs_api_concurrency_concern_good_job.rb
  app/jobs/consent_form_matching_job.rb
  app/jobs/patient_nhs_number_lookup_job.rb
  app/jobs/patient_update_from_pds_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/jobs/sync_vaccination_record_to_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Use Sidekiq for PDS jobs
  app/jobs/concerns/nhs_api_concurrency_concern_sidekiq.rb
  app/jobs/consent_form_matching_job.rb
  app/jobs/patient_nhs_number_lookup_job.rb
  app/jobs/patient_update_from_pds_job.rb
  app/jobs/process_patient_changesets_job.rb
  config/initializers/sidekiq.rb
Owners: @nhsuk/mavis-devs-application

Add Sidekiq monitoring
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Don't customise PDS job queue
  app/jobs/enqueue_update_patients_from_pds_job.rb
  app/lib/update_patients_from_pds.rb
  app/models/concerns/csv_importable.rb
  spec/lib/update_patients_from_pds_spec.rb
Owners: @nhsuk/mavis-devs-application

Run Sidekiq server
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
  bin/docker-start
  bin/sidekiq
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Don't schedule PDS jobs with gaps
  app/lib/update_patients_from_pds.rb
  config/settings.yml
  spec/lib/update_patients_from_pds_spec.rb
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Rename job throttling concerns
  app/jobs/concerns/immunisations_api_throttling_concern.rb
  app/jobs/concerns/pds_api_throttling_concern.rb
  app/jobs/consent_form_matching_job.rb
  app/jobs/patient_nhs_number_lookup_job.rb
  app/jobs/patient_update_from_pds_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/jobs/sync_vaccination_record_to_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Use StatusGenerator::Consent
  app/lib/status_generator/consent.rb
  app/lib/status_generator/session.rb
  app/models/team.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass programme to StatusGenerator::Session
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add conflicting session status
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  config/locales/status.en.yml
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass patient to StatusGenerator::Session
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove team migration scripts
  app/lib/team_migration/base.rb
  app/lib/team_migration/coventry.csv
  app/lib/team_migration/coventry.rb
  app/lib/team_migration/east_of_england.csv
  app/lib/team_migration/east_of_england.rb
  app/lib/team_migration/leicestershire.csv
  app/lib/team_migration/leicestershire.rb
  lib/tasks/migrate_team.rake
  spec/lib/team_migration/coventry_spec.rb
  spec/lib/team_migration/east_of_england_spec.rb
  spec/lib/team_migration/leicestershire_spec.rb
Owners: @nhsuk/mavis-devs-application

Change to default academic year preparation period
  terraform/app/env/production.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Add missing newlines at ends of file
  config/settings.yml
  config/settings/test.yml
  terraform/app/env/preview.tfvars
  terraform/app/env/test.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Increase PDS rate limit to 50 req/s
  config/initializers/sidekiq.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/staging.yml
  terraform/app/env/production.tfvars
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Pass patient to StatusGenerator::Session
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass programme to StatusGenerator::Session
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Use StatusGenerator::Consent
  app/lib/status_generator/consent.rb
  app/lib/status_generator/session.rb
  app/models/team.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add conflicting session status
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  config/locales/status.en.yml
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Use renamed SCSS colour variables
  app/assets/stylesheets/components/_action-list.scss
  app/assets/stylesheets/components/_add-another.scss
  app/assets/stylesheets/components/_autocomplete.scss
  app/assets/stylesheets/components/_button.scss
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_count.scss
  app/assets/stylesheets/components/_dev-tools.scss
  app/assets/stylesheets/components/_filters.scss
  app/assets/stylesheets/components/_header.scss
  app/assets/stylesheets/components/_highlight.scss
  app/assets/stylesheets/components/_secondary-navigation.scss
  app/assets/stylesheets/components/_status.scss
  app/assets/stylesheets/components/_tables.scss
  app/assets/stylesheets/components/_tag.scss
  app/assets/stylesheets/core/elements/_index.scss
  app/assets/stylesheets/core/settings/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/base/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/file-upload/_index.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_summary-list.scss
Owners: @nhsuk/mavis-devs-application

Use renamed nhsuk-u-secondary-text-colour class
  app/assets/stylesheets/components/_tag.scss
  app/components/app_activity_log_component.rb
  app/components/app_import_status_component.html.erb
  app/components/app_imports_table_component.html.erb
  app/components/app_log_event_component.rb
  app/components/app_patient_table_component.html.erb
  app/components/app_patient_vaccination_table_component.html.erb
  app/components/app_programme_session_table_component.html.erb
  app/components/app_programme_status_tags_component.rb
  app/components/app_timestamped_entry_component.rb
  app/components/app_triage_table_component.html.erb
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/helpers/consents_helper.rb
  app/helpers/parents_helper.rb
  app/helpers/triages_helper.rb
  app/views/consent_forms/index.html.erb
  app/views/layouts/application.html.erb
  app/views/school_moves/index.html.erb
  app/views/session_dates/show.html.erb
  app/views/sessions/edit.html.erb
  spec/components/app_import_status_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Update inline SVG icon paths
  app/components/app_consent_status_component.rb
  app/components/app_gillick_assessment_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_secondary_navigation_component.html.erb
  app/components/app_session_search_form_component.rb
  app/components/app_status_component.rb
Owners: @nhsuk/mavis-devs-application

Only produce template task definition in tf apply
  .github/workflows/deploy-application.yml
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Fix bug where parents weren't being imported correctly
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application
