Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Fix issue saving session dates
  app/controllers/draft_sessions_controller.rb
  spec/features/manage_school_sessions_spec.rb
Owners: @nhsuk/mavis-devs-application

Determine correct image to deploy
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Use correct terraform version
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Add migration necessary variable
  .github/workflows/deploy-infrastructure.yml
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/loadbalancer.tf
  terraform/app/variables.tf
  terraform/scripts/check-for-running-deployments.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Capture error output from test
  app/lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow passing session to `appear_in_programmes`
  app/components/app_session_overview_tallies_component.rb
  app/forms/patient_search_form.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Reverse logic for patient lookups
  app/controllers/programmes/base_controller.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Fix data replication refresh workflow
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Rename "Decision" to "Response"
  app/components/app_consent_card_component.rb
  app/components/app_consent_summary_component.rb
  app/helpers/consents_helper.rb
  spec/components/app_consent_card_component_spec.rb
  spec/components/app_consent_summary_component_spec.rb
  spec/features/verbal_consent_given_spec.rb
  spec/features/verbal_consent_refused_personal_choice_spec.rb
  spec/features/verbal_consent_refused_spec.rb
Owners: @nhsuk/mavis-devs-application

Show triage status as consent status
  app/components/app_patient_session_search_result_card_component.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Show triage vaccine method in heading
  app/components/app_patient_session_consent_component.rb
  spec/components/app_patient_session_consent_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix race condition
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
Owners: @nhsuk/vaccine-digital-service

Fix comparing timeline of patient to anothe rpatient from import
  app/controllers/inspect/timeline/patients_controller.rb
  app/lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add missing variable to task definition
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add `Delegatable` concern
  app/models/concerns/delegatable.rb
  app/models/draft_session.rb
  app/models/session.rb
Owners: @nhsuk/mavis-devs-application

Ensure invalid session dates are ignored
  app/controllers/draft_sessions_controller.rb
Owners: @nhsuk/mavis-devs-application

Redesign session overview tallies for clarity
  app/assets/stylesheets/application.scss
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  config/locales/components.en.yml
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor authentication methods
  app/controllers/concerns/authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  spec/factories/users.rb
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

App_version was not picking up passed values
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Implement session dates tally table for the new session overview page
  app/components/app_patient_search_form_component.rb
  app/components/app_session_dates_table_component.html.erb
  app/components/app_session_dates_table_component.rb
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  spec/components/app_session_dates_table_component_spec.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Add rake task to create ops organisation
  lib/tasks/ops_support.rake
Owners: @nhsuk/mavis-devs-application

Add missing styling for hint text in filters
  app/assets/stylesheets/components/_filters.scss
Owners: @nhsuk/mavis-devs-application

Allow `GovukNotifyPersonalisation` to handle `session = nil`
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Pass `consent` to Email and SMS jobs
  app/lib/already_had_notification_sender.rb
Owners: @nhsuk/mavis-devs-application

Fix being unable to add new programmes
  app/controllers/draft_sessions_controller.rb
  app/models/draft_session.rb
  spec/features/manage_school_sessions_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `patient_location` objects to graph
  app/lib/graph_records.rb
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Put "Still to vaccinate" filter under tallying feature flag
  app/components/app_patient_search_form_component.rb
Owners: @nhsuk/mavis-devs-application

Add service connect configuration for ECS deployment to task definition
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Move vaccination count text to locale for proper pluralisation
  app/components/app_session_overview_tallies_component.html.erb
  config/locales/components.en.yml
Owners: @nhsuk/mavis-devs-application

Update active loadbalancer target groups
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Refactor `NotificationParentSelector`
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/lib/already_had_notification_sender.rb
  app/lib/govuk_notify_personalisation.rb
  app/lib/notification_parent_selector.rb
  spec/lib/already_had_notification_sender_spec.rb
  spec/lib/notification_parent_selector_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix pagination for "Still to vaccinate" filter on patients tab
  app/components/app_patient_search_form_component.rb
  app/controllers/sessions/patients_controller.rb
  app/views/sessions/patients/show.html.erb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `NotificationParentSelector`
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/lib/already_had_notification_sender.rb
  app/lib/notification_parent_selector.rb
  spec/lib/already_had_notification_sender_spec.rb
  spec/lib/notification_parent_selector_spec.rb
Owners: @nhsuk/mavis-devs-application

Return totals from reporting API
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Track patient's current organisation for reporting
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Add scenic to Gemfile
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Remove cross-programme reporting not vaxxed count
  app/models/reporting_api/patient_programme_status.rb
Owners: @nhsuk/mavis-devs-application

Separate vaccinated_elsewhere
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Temporarily disable concurrent refresh
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Fix duplicate IDs in view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application
