Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Standardizing conventions/setup
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-data-replication.yml
  .tool-versions
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Use latest python in data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Remove migrated variables out of tfvars
  bin/docker-start
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove unnecessary -replace check
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Create ECS deployment specific role in AWS
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Also update deployment of data replication
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Move export of ENV_VARS
  bin/docker-entrypoint
  bin/docker-start
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Fix missing newlines from infrastructure files
  .github/workflows/data-replication-pipeline.yml
  script/populate_ssm_parameters.py
  script/requirements.txt
  terraform/account/deployment_permissions.tf
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Align refresh-data-replication to conventions
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Align deploy-application to data-replication task
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Remove good-job deployment from deploy-application
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Remove good-job references from container vars
  config/container_variables.yml
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Use dashes for inputs to data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Tweak data-replication-pipeline
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Remove deprecated sidekiq_replicas
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Create ECS reporting service
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Simplify Reporting app JWT setup
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/app/ecs.tf
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/iam_policy_documents.tf
  terraform/app/main.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Allow access to MISE_SOPS_AGE_KEY secret
  terraform/app/iam_policy_documents.tf
Owners: @nhsuk/mavis-devs-infrastructure

Set up resources needed for reporting service
  terraform/account/main.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/rds.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update permissions
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Infrastructure tweaks
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Improve patient_session lookup speed
  app/models/patient_session.rb
Owners: @nhsuk/mavis-devs-application

Fix NoMethodError in vaccination tally when session data is inconsistent
  app/components/app_vaccinations_summary_table_component.rb
  spec/components/app_vaccinations_summary_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

ACU were increased to 64 for operational requirements
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Trigger an Imms API search on NHS number change
  app/models/patient.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Trigger an Imms API search during bulk imports
  app/jobs/commit_patient_changesets_job.rb
  app/models/patient_import.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
  spec/models/patient_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky check import test
  spec/features/cli_gias_check_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow tests to exist in spec/support
  spec/spec_helper.rb
Owners: @nhsuk/mavis-devs-application

Add EnqueueVaccinationsSearchInNHSSJob
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add within_academic_year rspec helper
  spec/support/spec/within_academic_year_spec.rb
  spec/support/within_academic_year.rb
Owners: @nhsuk/mavis-devs-application

Add EnqueueVaccinationsSearchInNHSJob Sidekiq cron
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Filter vaccination tallies to show only today's records
  app/components/app_vaccinations_summary_table_component.rb
  spec/features/tallying_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove remaining code related to offline working
  app/controllers/offline_passwords_controller.rb
  app/models/offline_password.rb
  app/views/offline_passwords/new.html.erb
  config/feature_flags.yml
  config/routes.rb
  db/migrate/20250912134432_drop_offline_passwords.rb
  db/schema.rb
  spec/factories/offline_passwords.rb
Owners: @nhsuk/mavis-devs-application

Add failing tests for updated_at field changing with imms API syncs
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

Use update_columns to prevent updated_at changing
  app/lib/nhs/immunisations_api.rb
Owners: @nhsuk/mavis-devs-application

Refactor AppVaccinationsSummaryTableComponent
  app/components/app_vaccinations_summary_table_component.html.erb
  app/components/app_vaccinations_summary_table_component.rb
  app/controllers/sessions/record_controller.rb
  spec/features/tallying_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide discontinued vaccines from summary table
  app/components/app_vaccinations_summary_table_component.rb
  spec/components/app_vaccinations_summary_table_component_spec.rb
  spec/features/tallying_spec.rb
Owners: @nhsuk/mavis-devs-application

Call `StatusUpdater` after Imms API search
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove duplicate code
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky PDS import test
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_spec.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
