Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Make `date` and `location_id` not nullable
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  db/migrate/20251112193811_make_date_and_location_not_null.rb
  db/schema.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Switch to `date` and `location_id` columns
  app/components/app_activity_log_component.rb
  app/components/app_gillick_assessment_component.rb
  app/components/app_patient_session_record_component.rb
  app/controllers/patient_sessions/gillick_assessments_controller.rb
  app/controllers/patient_sessions/vaccinations_controller.rb
  app/forms/vaccinate_form.rb
  app/lib/reports/offline_session_exporter.rb
  app/lib/reports/programme_vaccinations_exporter.rb
  app/models/attendance_record.rb
  app/models/concerns/belongs_to_location_and_date.rb
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/location.rb
  app/models/patient_location.rb
  app/models/pre_screening.rb
  app/models/session.rb
  app/models/session_date.rb
  app/views/draft_consents/who.html.erb
  spec/components/app_vaccinate_form_component_spec.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/forms/vaccinate_form_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetProgrammeType`
  app/lib/data_migration/set_programme_type.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_programme_type_spec.rb
Owners: @nhsuk/mavis-devs-application

Add index on programme types
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114437_add_programme_type_indexes.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Add tests for vaccination records
  app/models/concerns/csv_importable.rb
  spec/features/import_vaccination_records_spec.rb
  spec/fixtures/immunisation_import/invalid_rows.csv
  spec/fixtures/immunisation_import/valid_hpv_with_instruction_row.csv
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore instruction row in CSV imports
  app/models/concerns/csv_importable.rb
  spec/fixtures/class_import/invalid_instruction_row.csv
  spec/fixtures/class_import/invalid_minimal.csv
  spec/fixtures/class_import/valid_instruction_row.csv
  spec/fixtures/cohort_import/invalid_instruction_row.csv
  spec/fixtures/cohort_import/invalid_minimal.csv
  spec/fixtures/cohort_import/valid_instruction_row.csv
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove tallying feature flag
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_session_details_summary_component.rb
  app/components/app_session_overview_component.html.erb
  app/components/app_session_overview_component.rb
  app/helpers/application_helper.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/show.html.erb
  config/feature_flags.yml
  config/locales/components.en.yml
  spec/components/app_session_details_summary_component_spec.rb
  spec/components/app_session_overview_component_spec.rb
  spec/features/filter_state_persistence_spec.rb
  spec/features/filtering_by_eligible_children_spec.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Minor updates to releasing docs
  docs/releasing.md
Owners: @nhsuk/vaccine-digital-service

Revert "Bump js-yaml from 3.14.1 to 3.14.2 in the npm_and_yarn group across 1 directory"
  yarn.lock
Owners: @nhsuk/mavis-devs-application

Add `DataMigration::SetSessionDates`
  app/lib/data_migration/set_session_dates.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Set session date
  app/lib/location_sessions_factory.rb
  app/models/draft_session.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Add `dates` column
  app/models/session.rb
  db/migrate/20251113123648_add_dates_to_sessions.rb
  db/schema.rb
  spec/factories/sessions.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Add type enum field to Team model
  app/models/onboarding.rb
  app/models/team.rb
  db/migrate/20251105213843_add_type_to_team.rb
  db/schema.rb
  spec/factories/teams.rb
  spec/fixtures/files/onboarding/valid.yaml
  spec/models/onboarding_spec.rb
  spec/models/team_spec.rb
  spec/requests/api/testing/onboard_spec.rb
Owners: @nhsuk/mavis-devs-application

Add tests for Team model methods
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Add bulk upload feature flag
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Add upload-only team to db seeds
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Change navigation based on team type
  app/controllers/application_controller.rb
  app/controllers/concerns/app_navigation_concern.rb
  app/controllers/dashboard_controller.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Change homepage layout based on team type
  app/assets/stylesheets/components/_card.scss
  app/components/app_card_component.rb
  app/controllers/dashboard_controller.rb
  app/models/team.rb
  app/views/dashboard/_dashboard_cards_default.html.erb
  app/views/dashboard/_dashboard_cards_upload_only.html.erb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Rename Team type methods
  app/controllers/dashboard_controller.rb
  app/models/team.rb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Remove bulk_upload feature flag
  app/models/team.rb
  config/feature_flags.yml
  spec/features/upload_only_team_spec.rb
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Use explicit test subject for Team model upload_only tests
  spec/models/team_spec.rb
Owners: @nhsuk/mavis-devs-application

Return empty navigation items when no team
  app/controllers/concerns/app_navigation_concern.rb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Add feature tests for homepage and navigation changes
  spec/features/e2e_journey_spec.rb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Configure production secrets for Reporting app
  config/credentials/production.yml.enc
Owners: @nhsuk/mavis-devs-application

Update reporting view to use programme types
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20251110114438_update_reporting_api_patient_programme_statuses_to_version5.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v05.sql
Owners: @nhsuk/mavis-devs-application

Create onboarding yaml files for new Vaccs UK teams
  config/onboarding/haringey.yaml
  config/onboarding/harrogate.yaml
  config/onboarding/harrow.yaml
  config/onboarding/havering.yaml
  config/onboarding/herefordshire.yaml
  config/onboarding/islington.yaml
  config/onboarding/scarborough.yaml
  config/onboarding/thirsk.yaml
  config/onboarding/worcestershire.yaml
  config/onboarding/york.yaml
Owners: @nhsuk/mavis-devs-application

Create onboarding yaml files for Birmingham Teams
  config/onboarding/birmingham.yaml
Owners: @nhsuk/mavis-devs-application

Correct broken health question chain for MMR
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Replace (not_)arcived check with patient_teams check
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Update MMR paper consent form
  public/consent_forms/mmr.pdf
Owners: @nhsuk/mavis-devs-application

Fix per-programme sync feature flag
  app/components/app_vaccination_record_summary_component.rb
  app/forms/triage_form.rb
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/features/archive_vaccination_record_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/invalidate_consent_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/menacwy_vaccination_administered_spec.rb
  spec/features/patient_invalidation_spec.rb
  spec/features/td_ipv_vaccination_administered_spec.rb
  spec/features/vaccination_offline_spec.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/jobs/sync_vaccination_record_to_nhs_job_spec.rb
  spec/lib/patient_merger_spec.rb
  spec/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Update tests to reflect new use of patient_teams
  spec/factories/patient_teams.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Align ops service variables
  terraform/app/ecs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create partial index on patient_teams for not archived
  app/models/patient_team.rb
  db/migrate/20251119131731_partial_index_on_patient_team_relationship_not_archived.rb
  db/schema.rb
  spec/factories/patient_teams.rb
Owners: @nhsuk/mavis-devs-application

Improve performance on review screen
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Create onboarding yaml files for new Vaccs UK teams
  config/onboarding/haringey.yaml
  config/onboarding/harrogate.yaml
  config/onboarding/harrow.yaml
  config/onboarding/havering.yaml
  config/onboarding/herefordshire.yaml
  config/onboarding/islington.yaml
  config/onboarding/scarborough.yaml
  config/onboarding/thirsk.yaml
  config/onboarding/worcestershire.yaml
  config/onboarding/york.yaml
Owners: @nhsuk/mavis-devs-application

Create onboarding yaml files for Birmingham Teams
  config/onboarding/birmingham.yaml
Owners: @nhsuk/mavis-devs-application

Remove scope `can_sync_to_immunisations_api`
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/components/app_vaccination_record_summary_component.rb
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  spec/components/app_vaccination_record_api_sync_status_component_spec.rb
  spec/lib/nhs/immunisations_api_spec.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Let programmes have multiple target diseases
  app/lib/fhir_mapper/programme.rb
  app/lib/fhir_mapper/vaccination_record.rb
  app/models/programme.rb
  spec/lib/fhir_mapper/programme_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle `dose_sequence: nil`
  app/lib/fhir_mapper/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
