Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add `CachedProgramme`
  spec/support/cached_programme.rb
Owners: @nhsuk/mavis-devs-application

PatientTeams sync was still enqueued within a transaction
  app/jobs/commit_import_job.rb
  app/jobs/commit_patient_changesets_job.rb
  app/models/class_import.rb
  app/models/cohort_import.rb
  app/models/concerns/csv_importable.rb
  app/models/immunisation_import.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Programme#triage_on_vaccination_history?`
  app/models/programme.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't triage MMR based on vaccination history
  app/lib/status_generator/triage.rb
  spec/jobs/send_school_session_reminders_job_spec.rb
  spec/lib/status_generator/triage_spec.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Associate attendance records to patient location by academic year
  app/models/attendance_record.rb
  app/models/patient_location.rb
  spec/models/patient_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Avoid "Vaccinated elsewhere" wording"
  app/components/app_patient_session_search_result_card_component.rb
  app/lib/patient_status_resolver.rb
Owners: @nhsuk/mavis-devs-application

Rename `context_location` to `context_location_id`
  app/components/app_patient_session_search_result_card_component.rb
  app/lib/patient_status_resolver.rb
Owners: @nhsuk/mavis-devs-application

Show location in status when vaccinated elsewhere
  app/components/app_patient_session_section_component.rb
  app/controllers/patient_sessions/base_controller.rb
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `includes_statuses` scope
  app/components/app_session_actions_component.rb
  app/components/app_session_overview_tallies_component.rb
  app/controllers/programmes/patients_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions/register_controller.rb
  app/jobs/send_clinic_initial_invitations_job.rb
  app/jobs/send_clinic_subsequent_invitations_job.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/generate/vaccination_records.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky test related to session timings
  spec/features/session_time_remaining_spec.rb
Owners: @nhsuk/mavis-devs-application

Make `key_suffix` optional
  app/jobs/status_updater_job.rb
  spec/jobs/status_updater_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "MAV-2484: Swap complicated logic in patient_policy for new table join"
  app/policies/patient_policy.rb
Owners: @nhsuk/mavis-devs-application

Revert "Merge pull request #5001 from nhsuk/edit-vaccination-record-cli"
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/vaccination_records/bulk_edit.rb
  app/lib/mavis_cli/vaccination_records/edit.rb
  app/lib/vaccination_record_technical_fields_updater.rb
  spec/features/cli_vaccination_records_bulk_edit_spec.rb
  spec/features/cli_vaccination_records_edit_spec.rb
  spec/lib/vaccination_record_technical_fields_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

refactor: has_auto_confirmable_school_move method
  app/jobs/commit_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

feat: remove open school move when new school move confirms original school
  app/jobs/commit_patient_changesets_job.rb
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

test: that class and cohort imports can remove school moves
  spec/jobs/commit_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `Patient#teams`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

update endpoint to delete orphan consents
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Split `immunisations_api` queue
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  app/jobs/immunisations_api_job.rb
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/jobs/sync_vaccination_record_to_nhs_job.rb
  config/sidekiq.yml
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

use parent instead of parent_id
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Create CLI command `vaccination-records edit`
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/vaccination_records/edit.rb
  spec/features/cli_vaccination_records_edit_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `bulk_edit` command
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/vaccination_records/bulk_edit.rb
  spec/features/cli_vaccination_records_bulk_edit_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor into service class
  app/lib/mavis_cli/vaccination_records/bulk_edit.rb
  app/lib/mavis_cli/vaccination_records/edit.rb
  app/lib/vaccination_record_technical_fields_updater.rb
  spec/lib/vaccination_record_technical_fields_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

try calling the testing workflow to see what will happen
  .github/workflows/test-calling-automation.yml
Owners: @nhsuk/vaccine-digital-service

Move all perform_later calls outside transaction
  app/jobs/commit_import_job.rb
  app/jobs/commit_patient_changesets_job.rb
  app/lib/location_sessions_factory.rb
  app/models/class_import.rb
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient.rb
  app/models/school_move.rb
Owners: @nhsuk/mavis-devs-application

Scale reporting service to normal values for test environment
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Create ImportantNotice model and policy
  app/models/important_notice.rb
  app/policies/important_notice_policy.rb
  spec/factories/important_notices.rb
  spec/models/important_notice_spec.rb
  spec/policies/important_notice_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Migration to create ImportantNotice table
  db/migrate/20251017133425_create_important_notices.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Migrate old notice generator function to new model
  app/components/app_imports_navigation_component.rb
  app/components/app_notices_table_component.html.erb
  app/components/app_patient_card_component.rb
  app/controllers/dashboard_controller.rb
  app/controllers/imports/notices_controller.rb
  app/lib/important_notices.rb
  app/policies/notices_policy.rb
  spec/components/app_patient_card_component_spec.rb
  spec/factories/patients.rb
  spec/lib/important_notices_spec.rb
Owners: @nhsuk/mavis-devs-application

Create ImportantNoticeGeneratorJob to create notices for patients
  app/jobs/important_notice_generator_job.rb
  app/models/patient.rb
  app/models/team.rb
  app/models/vaccination_record.rb
  spec/jobs/important_notice_generator_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Make `ImportantNoticeGeneratorJob` idempotent
  app/jobs/important_notice_generator_job.rb
  spec/jobs/important_notice_generator_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable parallel test execution in CI
  .github/workflows/test.yml
  config/database.yml
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Add parallel_tests gem for faster test execution
  Gemfile
  Gemfile.lock
  README.md
  config/database.yml
Owners: @nhsuk/mavis-devs-application

Ensure MenACWY triages on vaccination history
  app/models/programme.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Search even if `Patient` has no `Organisation`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Avoid creating import notices for vaccination records
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Migration for PatientChangeset table
  app/models/patient_changeset.rb
  db/migrate/20251104222328_add_data_to_patient_changesets.rb
  db/schema.rb
  spec/factories/patient_changesets.rb
  spec/models/patient_changeset_spec.rb
Owners: @nhsuk/mavis-devs-application

Add column to PatientChangeset table
  app/models/patient_changeset.rb
  spec/components/app_import_pds_unmatched_summary_component_spec.rb
  spec/factories/patient_changesets.rb
  spec/jobs/commit_import_job_spec.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/jobs/process_patient_changeset_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix grafana access for NonPIIAdmins
  terraform/monitoring/aws/variables.tf
  terraform/monitoring/grafana/README.md
Owners: @nhsuk/mavis-devs-infrastructure

Fix `eligible_for_programmes` scope to exclude vaccinations with unknown location
  app/models/patient.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/features/tallying_session_overview_spec.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
