Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add `mavis_cli stats vaccinations` command for vaccination statistics
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/stats/vaccinations.rb
  lib/stats/vaccinations.rb
  spec/features/cli_stats_vaccinations_spec.rb
  spec/lib/stats/vaccinations_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `mavis stats consents-by-school` command for consent response analysis
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/stats/consents_by_school.rb
  lib/stats/consents_by_school.rb
  spec/features/cli_stats_consents_by_school_spec.rb
  spec/lib/stats/consents_by_school_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `mavis_cli stats organisations` command for organisation statistics
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/stats/organisations.rb
  lib/stats/organisations.rb
  spec/features/cli_stats_organisations_spec.rb
  spec/lib/stats/organisations_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Bump activerecord from 8.0.2 to 8.0.2.1 in the bundler group across 1 directory"
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Closer alignment with OAUTH2.0 spec
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/one_time_tokens_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/views/users/sessions/new.html.erb
  config/feature_flags.yml
  config/initializers/devise.rb
  config/routes.rb
  config/settings.yml
  db/migrate/20250722121803_rename_pwd_auth_session_token_to_reporting_app_session_token.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
  spec/controllers/one_time_tokens_controller_spec.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
Owners: @nhsuk/mavis-devs-application

Add PlantUML diagrams for auth flow between Mavis and the reporting app
  docs/architecture.adoc
  docs/diagrams/reporting_auth/user-visits-the-reporting-app.puml
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

stop the user getting caught in an infinite redirect loop when the reporting_app feature flag is disabled but they log in with a reporting app redirect param
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/one_time_tokens_controller.rb
  app/controllers/reporting_api/totals_controller.rb
  app/models/one_time_token.rb
  config/initializers/devise.rb
  db/schema.rb
  spec/controllers/one_time_tokens_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

move the OneTimeToken model/controller under the Reporting:: scope move /tokens/authorize to /reporting-api/authorize use new /api/reporting routes for all reporting endpoints including authorization.
  Dockerfile
  Gemfile.lock
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/api/reporting/totals_controller.rb
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/reporting_api/totals_controller.rb
  app/models/reporting/one_time_token.rb
  config/feature_flags.yml
  config/routes.rb
  config/settings/test.yml
  spec/controllers/api/reporting/one_time_tokens_controller_spec.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
Owners: @nhsuk/mavis-devs-application

schema update after migrate
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Create a service discovery setup for cross service communication
  terraform/account/deployment_permissions.tf
  terraform/account/main.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
  terraform/account/variables.tf
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/rds.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

fix missing bracket (merge artefact?)
  terraform/account/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create a service discovery setup for cross service communication
  terraform/app/loadbalancer.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add necessary account-level resources
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Modify variable and digest population for reporting service
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Include a shared secret for jwt signing
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update deployment permissions
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/app/ecs.tf
  terraform/app/loadbalancer.tf
Owners: @nhsuk/mavis-devs-infrastructure

update environment variables
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

use new ReportingAPI:: scope for TokenAuthConcern, and spec fix to implement the new session cis2_info structure after the org -> team refactor
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/concerns/token_authentication_concern.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

remove redundant duplicated ensure_reporting_api_feature_enabled
  app/controllers/api/reporting/one_time_tokens_controller.rb
Owners: @nhsuk/mavis-devs-application

correct repo in adoc
  docs/architecture.adoc
  docs/diagrams/reporting_auth/user-visits-the-reporting-app.puml
  docs/ops-tasks.md
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

tidy up after rebase
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/users/sessions/new.html.erb
  spec/features/user_password_authentication_spec.rb
Owners: @nhsuk/mavis-devs-application

Make rails/log volume path absolute in the Dockerfile
  Dockerfile
Owners: @nhsuk/mavis-devs-application

Add function to authenticate ops users with PII access
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Allow writing to db/data
  Dockerfile
Owners: @nhsuk/mavis-devs-application

Add TeamMigration::Base
  app/lib/team_migration/base.rb
Owners: @nhsuk/mavis-devs-application

Add script to prepare Coventry for flu
  app/lib/team_migration/coventry.csv
  app/lib/team_migration/coventry.rb
  lib/tasks/migrate_team.rake
  spec/lib/team_migration/coventry_spec.rb
Owners: @nhsuk/mavis-devs-application

Add consenting parent details to matching summary
  app/assets/stylesheets/components/_summary-list.scss
  app/helpers/parents_helper.rb
  app/views/consent_forms/search.html.erb
Owners: @nhsuk/mavis-devs-application

Allow PDS stub to accept a specific NHS number
  spec/support/pds_helper.rb
Owners: @nhsuk/mavis-devs-application

Add Child import PDS extravaganza test
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Extend PDS test to invalidated patient records
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
  spec/support/pds_helper.rb
Owners: @nhsuk/mavis-devs-application

Add script to prepare Leicestershire for flu
  app/lib/team_migration/leicestershire.csv
  app/lib/team_migration/leicestershire.rb
  lib/tasks/migrate_team.rake
  spec/lib/team_migration/leicestershire_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle closing Coventry school
  app/lib/team_migration/base.rb
  app/lib/team_migration/coventry.rb
  spec/lib/team_migration/coventry_spec.rb
Owners: @nhsuk/mavis-devs-application

Sort Coventry URNs
  app/lib/team_migration/coventry.csv
Owners: @nhsuk/mavis-devs-application

Add script to prepare East of England for flu
  app/lib/team_migration/east_of_england.csv
  app/lib/team_migration/east_of_england.rb
  lib/tasks/migrate_team.rake
  spec/lib/team_migration/east_of_england_spec.rb
Owners: @nhsuk/mavis-devs-application

Support patients with invalid NHS numbers during import.
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
  spec/support/pds_helper.rb
Owners: @nhsuk/mavis-devs-application

Remove superfluous comment in spec
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Enforce timeline PII access controls on frontend
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Enforce graph PII access controls on frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
Owners: @nhsuk/mavis-devs-application

Restrict PII access to eligible ops users
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Add feature tests for support access to tools
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
