Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

feat: Skip automatic reminders when a manual reminder was sent
  app/jobs/send_automatic_school_consent_reminders_job.rb
Owners: @nhsuk/mavis-devs-application

test: Add tests for manual consent reminder behavior
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/jobs/send_manual_school_consent_reminders_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow fallback_role to be nil
  app/models/user.rb
Owners: @nhsuk/mavis-devs-application

Only set parent_relationships when present in import
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Create a service discovery setup for cross service communication
  terraform/account/deployment_permissions.tf
  terraform/account/main.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_policy_DeployMavisResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
  terraform/account/variables.tf
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/main.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/rds.tf
  terraform/app/resources/.gitignore
  terraform/app/resources/rotate_secret.py
  terraform/app/ssm_parameters.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

use new ReportingAPI:: scope for TokenAuthConcern, and spec fix to implement the new session cis2_info structure after the org -> team refactor
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/views/users/sessions/new.html.erb
  docs/architecture.adoc
  docs/diagrams/reporting_auth/user-visits-the-reporting-app.puml
  docs/ops-tasks.md
  docs/reporting-component-authentication.adoc
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
  spec/features/user_password_authentication_spec.rb
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

spec fix after rebase
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Validate child names on import
  app/models/patient_import_row.rb
  spec/fixtures/cohort_import/invalid_fields.csv
  spec/models/cohort_import_row_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add missing validations to patient import
  app/models/patient_import_row.rb
  spec/models/cohort_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Convert fancy apostrophes on import
  app/models/patient_import_row.rb
  spec/models/cohort_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix fuzzy with history search parameters
  app/jobs/consent_form_matching_job.rb
  app/jobs/patient_nhs_number_lookup_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/lib/mavis_cli/pds/search.rb
  app/models/pds/patient.rb
Owners: @nhsuk/mavis-devs-application

Replace session attendance patient session foreign key
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/patient_sessions/session_attendances_controller.rb
  app/lib/generate/vaccination_records.rb
  app/models/patient.rb
  app/models/patient_session.rb
  app/models/patient_session/registration_status.rb
  app/models/session.rb
  app/models/session_attendance.rb
  app/policies/session_attendance_policy.rb
  db/migrate/20250821135954_remove_patient_session_from_session_attendances.rb
  db/schema.rb
  spec/factories/patient_sessions.rb
  spec/factories/patients.rb
  spec/features/manage_attendance_spec.rb
  spec/lib/status_generator/registration_spec.rb
  spec/lib/status_generator/session_spec.rb
  spec/models/patient_session/registration_status_spec.rb
  spec/models/patient_session_spec.rb
  spec/models/session_attendance_spec.rb
  spec/policies/session_attendance_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename PatientSession::RegistrationStatus
  app/controllers/sessions/register_controller.rb
  app/lib/status_updater.rb
  app/models/patient/registration_status.rb
  app/models/patient_session.rb
  db/migrate/20250822153422_rename_patient_session_registration_status.rb
  db/schema.rb
  spec/factories/patient_registration_statuses.rb
  spec/factories/patient_sessions.rb
  spec/factories/patients.rb
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/lib/status_updater_spec.rb
  spec/models/patient/registration_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Finish processing patient changeset on error
  app/jobs/process_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Add step name to logging
  app/jobs/process_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Prescribers can create PSD instructions in bulk
  app/assets/stylesheets/components/_action-list.scss
  app/components/app_patient_session_psd_search_result_card_component.rb
  app/components/app_search_results_component.rb
  app/controllers/concerns/patient_specific_direction_concern.rb
  app/controllers/sessions/bulk_patient_specific_directions_controller.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/models/patient_session.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/bulk_patient_specific_directions/show.html.erb
  app/views/sessions/patient_specific_directions/show.html.erb
  config/locales/en.yml
  config/locales/status.en.yml
  config/routes.rb
  spec/features/buld_add_patient_specific_directions_spec.rb
Owners: @nhsuk/mavis-devs-application

Add VaccinationRecord#from_fhir_record
  app/lib/fhir_mapper/vaccination_record.rb
  app/lib/fhir_mapper/vaccine.rb
  app/models/vaccination_record.rb
  spec/fixtures/fhir/from-fhir-record-full.json
  spec/fixtures/fhir/from-fhir-record-minimum.json
  spec/fixtures/fhir/from-fhir-record-unknown-vaccine.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add tests for search request
  app/lib/nhs/immunisations_api.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

WIP make API request
  app/lib/nhs/immunisations_api.rb
  app/models/programme.rb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Add CLI command `create-from-fhir`
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/vaccination_records/create_from_fhir.rb
Owners: @nhsuk/mavis-devs-application

WIP Handle API response body
  app/lib/fhir_mapper/vaccination_record.rb
  app/lib/nhs/immunisations_api.rb
  spec/fixtures/fhir/search_response_0_results.json
  spec/fixtures/fhir/search_response_1_result.json
  spec/fixtures/fhir/search_response_2_results.json
Owners: @nhsuk/mavis-devs-application

Import issues text based on NHS number match
  app/helpers/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

WIP parse search results
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/lib/nhs/immunisations_api.rb
  spec/lib/nhs/immunisations_api_spec.rb
Owners: @nhsuk/mavis-devs-application

WIP create job to handle search response
  app/jobs/search_vaccination_record_in_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

Replace registration status patient session foreign key
  app/lib/status_generator/registration.rb
  app/lib/status_updater.rb
  app/models/patient.rb
  app/models/patient/registration_status.rb
  app/models/patient_session.rb
  db/migrate/20250822153747_remove_patient_session_from_patient_registration_statuses.rb
  db/schema.rb
  spec/factories/patient_registration_statuses.rb
  spec/factories/patient_sessions.rb
  spec/factories/patients.rb
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/lib/status_generator/registration_spec.rb
  spec/models/patient/registration_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Use renamed nhsuk-u-secondary-text-colour class
  app/assets/stylesheets/components/_tag.scss
  app/components/app_activity_log_component.rb
  app/components/app_import_status_component.html.erb
  app/components/app_imports_table_component.html.erb
  app/components/app_log_event_component.rb
  app/components/app_patient_table_component.html.erb
  app/components/app_patient_vaccination_table_component.html.erb
  app/components/app_programme_session_table_component.html.erb
  app/components/app_programme_status_tags_component.rb
  app/components/app_timestamped_entry_component.rb
  app/components/app_triage_table_component.html.erb
  app/components/app_vaccination_record_api_sync_status_component.rb
  app/helpers/consents_helper.rb
  app/helpers/parents_helper.rb
  app/helpers/triages_helper.rb
  app/views/consent_forms/index.html.erb
  app/views/layouts/application.html.erb
  app/views/school_moves/index.html.erb
  app/views/session_dates/show.html.erb
  app/views/sessions/edit.html.erb
  spec/components/app_import_status_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Update inline SVG icon paths
  app/components/app_consent_status_component.rb
  app/components/app_gillick_assessment_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_secondary_navigation_component.html.erb
  app/components/app_session_search_form_component.rb
  app/components/app_status_component.rb
  app/views/layouts/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Use renamed SCSS colour variables
  app/assets/stylesheets/components/_action-list.scss
  app/assets/stylesheets/components/_add-another.scss
  app/assets/stylesheets/components/_autocomplete.scss
  app/assets/stylesheets/components/_button.scss
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_count.scss
  app/assets/stylesheets/components/_dev-tools.scss
  app/assets/stylesheets/components/_filters.scss
  app/assets/stylesheets/components/_header.scss
  app/assets/stylesheets/components/_highlight.scss
  app/assets/stylesheets/components/_secondary-navigation.scss
  app/assets/stylesheets/components/_status.scss
  app/assets/stylesheets/components/_tables.scss
  app/assets/stylesheets/components/_tag.scss
  app/assets/stylesheets/core/elements/_index.scss
  app/assets/stylesheets/core/settings/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/base/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/file-upload/_index.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/overrides/_summary-list.scss
Owners: @nhsuk/mavis-devs-application

fix: prevent uploads of excessively old patients
  app/models/patient_import_row.rb
Owners: @nhsuk/mavis-devs-application

test: that basic validation on DOB is done even when CHILD_YEAR_GROUP is defined
  spec/models/cohort_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix tests that fail during preparation period
  spec/features/parental_consent_school_session_completed_spec.rb
  spec/features/triage_then_parental_consent_refused_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Finish processing patient changeset on error
  app/jobs/process_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Add step name to logging
  app/jobs/process_patient_changesets_job.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant PDS fuzzy search with history
  app/jobs/process_patient_changesets_job.rb
  app/models/pds_search_result.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/jobs/process_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure patients with PDS search results can be merged
  app/lib/patient_merger.rb
  spec/factories/pds_search_results.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

Prevent deleting sessions if Gillick assessment was performed
  app/models/session_date.rb
  app/views/session_dates/show.html.erb
  spec/models/session_date_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable autoscaling for sidekiq service
  terraform/app/ecs.tf
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add source field for vaccination record
  app/controllers/draft_vaccination_records_controller.rb
  app/jobs/patients_refused_consent_already_vaccinated_job.rb
  app/models/immunisation_import_row.rb
  app/models/vaccination_record.rb
  db/migrate/20250826093705_add_source_to_vaccination_record.rb
  db/schema.rb
  spec/components/app_vaccination_record_table_component_spec.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add healthcare assistant to seeds
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Allow signing in as healthcare assistant
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application
