Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Use `mail_to` helper
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/parent_interface/consent_forms/deadline_passed.html.erb
Owners: @nhsuk/mavis-devs-application

Fix half doses for flu records
  app/lib/fhir_mapper/vaccination_record.rb
  spec/fixtures/files/fhir/fhir_record_half_dose.json
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide vaccination tallies table for admins
  app/components/app_vaccinations_summary_table_component.html.erb
  app/components/app_vaccinations_summary_table_component.rb
  app/policies/vaccination_record_policy.rb
  app/views/sessions/record/show.html.erb
  spec/components/app_vaccinations_summary_table_component_spec.rb
  spec/features/tallying_spec.rb
Owners: @nhsuk/mavis-devs-application

Change container startup variable definitions
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .tool-versions
  bin/docker-entrypoint
  config/container_variables.yml
  script/populate_ssm_parameters.py
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/app/ecs.tf
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Add valkey instance to data replication
  terraform/data_replication/valkey.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Handle merging patients with PSDs
  app/lib/patient_merger.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

Increase memory allocation for web service
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Disable enqueue_vaccinations_search_in_nhs_job until the implementation can be fixed
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Remove `academic_year` from `programmes_for`
  app/lib/status_generator/registration.rb
  app/models/patient_session.rb
  app/models/session.rb
  app/policies/attendance_record_policy.rb
Owners: @nhsuk/mavis-devs-application

Move `next_activity` to `Patient`
  app/components/app_patient_session_search_result_card_component.rb
  app/models/patient.rb
  app/models/patient_session.rb
  spec/models/patient_session_spec.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Move `outstanding_programmes` to helper
  app/helpers/patients_helper.rb
  app/models/patient.rb
  app/models/patient_session.rb
  app/views/patient_sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor `AppActivityLogComponent`
  app/components/app_activity_log_component.rb
  app/controllers/patients_controller.rb
  app/views/patient_sessions/activities/show.html.erb
  app/views/patients/log.html.erb
  spec/components/app_activity_log_component_spec.rb
  spec/lib/status_generator/registration_spec.rb
  spec/lib/status_generator/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSession#has_patient_specific_direction?`
  app/models/patient_session.rb
  app/views/patient_sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Add `BelongsToSessionDate` concern
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSession#programmes`
  app/components/app_activity_log_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_table_component.rb
  app/controllers/consent_forms_controller.rb
  app/controllers/patient_sessions/attendances_controller.rb
  app/controllers/patient_sessions/base_controller.rb
  app/jobs/concerns/send_clinic_invitations_concern.rb
  app/jobs/concerns/send_school_consent_notification_concern.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/reports/offline_session_exporter.rb
  app/models/patient_session.rb
  app/models/session_notification.rb
  app/views/patient_sessions/_header.html.erb
  app/views/patient_sessions/attendances/edit.html.erb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSession#registration_status`
  app/components/app_patient_session_record_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/sessions/register_controller.rb
  app/models/patient_session.rb
  app/views/patient_sessions/_header.html.erb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppGillickAssessmentComponent`
  app/components/app_gillick_assessment_component.rb
  app/components/app_patient_session_consent_component.html.erb
  app/views/draft_consents/who.html.erb
  spec/components/app_gillick_assessment_component_spec.rb
  spec/factories/patient_sessions.rb
Owners: @nhsuk/mavis-devs-application

Remove `AppConsentStatusComponent`
  app/components/app_consent_status_component.rb
  spec/components/app_consent_status_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor patient session components
  app/components/app_patient_session_consent_component.rb
  app/components/app_patient_session_outcome_component.rb
  app/components/app_patient_session_record_component.rb
  app/components/app_patient_session_triage_component.rb
  app/views/patient_sessions/programmes/show.html.erb
  config/locales/en.yml
  spec/components/app_patient_session_consent_component_spec.rb
  spec/components/app_patient_session_record_component_spec.rb
  spec/components/app_patient_session_triage_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `TriageForm`
  app/components/app_patient_session_triage_component.rb
  app/components/app_triage_form_component.rb
  app/controllers/draft_consents_controller.rb
  app/controllers/patient_sessions/triages_controller.rb
  app/forms/triage_form.rb
  spec/components/app_triage_form_component_spec.rb
  spec/forms/triage_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppTriageTableComponent`
  app/components/app_patient_session_triage_component.html.erb
  app/components/app_triage_table_component.rb
  spec/components/app_triage_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `DraftConsent`
  app/controllers/draft_consents_controller.rb
  app/controllers/patient_sessions/base_controller.rb
  app/controllers/patient_sessions/consents_controller.rb
  app/models/draft_consent.rb
  spec/models/draft_consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppPatientSessionTableComponent`
  app/components/app_patient_session_table_component.rb
  app/controllers/patients_controller.rb
  app/views/patients/show.html.erb
  spec/components/app_patient_session_table_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `send_triage_confirmation`
  app/controllers/concerns/triage_mailer_concern.rb
  app/controllers/draft_consents_controller.rb
  app/controllers/patient_sessions/triages_controller.rb
  spec/controllers/concerns/triage_mailer_concern_spec.rb
  spec/factories/patient_sessions.rb
Owners: @nhsuk/mavis-devs-application

Refactor email jobs
  app/controllers/sessions/invite_to_clinic_controller.rb
  app/jobs/concerns/send_clinic_invitations_concern.rb
  app/jobs/send_clinic_initial_invitations_job.rb
  app/jobs/send_clinic_subsequent_invitations_job.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/clinic_patient_sessions_factory.rb
  app/models/patient_session.rb
  app/models/session_notification.rb
  spec/jobs/send_clinic_initial_invitations_job_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
  spec/jobs/send_school_session_reminders_job_spec.rb
  spec/models/session_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSessionPolicy`
  app/policies/patient_session_policy.rb
  spec/policies/patient_session_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `Reports::OfflineSessionExporter`
  app/lib/reports/offline_session_exporter.rb
Owners: @nhsuk/mavis-devs-application

Refactor patient session factory
  app/controllers/patients_controller.rb
  db/seeds.rb
  spec/components/app_programme_session_table_component_spec.rb
  spec/components/app_session_actions_component_spec.rb
  spec/components/app_session_details_summary_component_spec.rb
  spec/components/app_vaccinate_form_component_spec.rb
  spec/factories/patient_sessions.rb
  spec/factories/patients.rb
  spec/factories/sessions.rb
  spec/features/cli_stats_consents_by_school_spec.rb
  spec/features/cli_stats_organisations_spec.rb
  spec/features/filter_state_persistence_spec.rb
  spec/features/manage_attendance_spec.rb
  spec/features/manage_batches_spec.rb
  spec/features/tallying_spec.rb
  spec/features/triage_delay_vaccination_spec.rb
  spec/features/triage_spec.rb
  spec/features/triage_then_parental_consent_refused_spec.rb
  spec/features/verbal_consent_given_when_previously_refused_spec.rb
  spec/forms/patient_search_form_spec.rb
  spec/jobs/enqueue_clinic_session_invitations_job_spec.rb
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/jobs/send_school_consent_requests_job_spec.rb
  spec/jobs/send_school_session_reminders_job_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
  spec/lib/reports/careplus_exporter_spec.rb
  spec/lib/reports/programme_vaccinations_exporter_spec.rb
  spec/lib/stats/organisations_spec.rb
  spec/models/consent_notification_spec.rb
  spec/models/patient_session_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `AppPatientSessionSearchResultCardComponent`
  app/components/app_patient_session_search_result_card_component.rb
  app/controllers/sessions/consent_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/sessions/register_controller.rb
  app/controllers/sessions/triage_controller.rb
  app/models/patient_session.rb
  app/views/sessions/consent/show.html.erb
  app/views/sessions/patient_specific_directions/show.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/record/show.html.erb
  app/views/sessions/register/show.html.erb
  app/views/sessions/triage/show.html.erb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/models/patient_session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove Good Job tables
  db/migrate/20250909100315_drop_good_job.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Remove Good Job from infrastructure
  .github/workflows/deploy-application.yml
  .github/workflows/deploy.yml
  Dockerfile
  bin/docker-start
  bin/good_job
  config/database.yml
  docs/terraform.md
  terraform/app/ecs.tf
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/outputs.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove Good Job from application
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/good_job.rb
  config/puma.rb
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Add index on `pending_changes <> '{}'`
  app/models/patient.rb
  app/models/vaccination_record.rb
  db/migrate/20250916074716_add_index_on_pending_changes_not_empty.rb
  db/schema.rb
  spec/factories/patients.rb
  spec/factories/vaccination_records.rb
  spec/models/patient_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `data_migrations`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Remove `distinct` in `import_issues_count`
  app/helpers/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Ensure patients with attendance records can be merged
  app/lib/patient_merger.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure `NotifyLogEntry` is deleted in testing
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Ensure "Session activity and notes" only shows once
  app/views/patient_sessions/_header.html.erb
  spec/features/doubles_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace CTE with exists
  app/policies/patient_policy.rb
Owners: @nhsuk/mavis-devs-application

Automate draft release creation
  .github/workflows/draft-new-release.yml
  script/draft_new_release.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
