Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add enhanced triage status filtering
  app/controllers/sessions/triage_controller.rb
  app/forms/patient_search_form.rb
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  app/views/parent_interface/consent_forms/confirm.html.erb
  app/views/sessions/triage/show.html.erb
  config/locales/status.en.yml
  spec/features/triage_required_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename "Safe to vaccinate with gelatine-free vaccine"
  app/views/parent_interface/consent_forms/confirm.html.erb
  config/locales/en.yml
  config/locales/helpers.en.yml
  config/locales/status.en.yml
  spec/components/app_vaccine_criteria_label_component_spec.rb
  spec/features/triage_without_gelatine_spec.rb
Owners: @nhsuk/mavis-devs-application

Use ordinalised number for dose number
  app/components/app_vaccination_record_summary_component.rb
  app/lib/govuk_notify_personalisation.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide dose number row in certain circumstances
  app/components/app_vaccination_record_summary_component.rb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/features/menacwy_vaccination_administered_spec.rb
  spec/features/td_ipv_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove extra Gillick line in consent emails
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow ecs deployment role to be assumed from reporting service repository
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Prevent import PDS flags from being in awkward configuration
  app/jobs/commit_patient_changesets_job.rb
  spec/jobs/commit_patient_changesets_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add trailing comma
  docs/ops-tasks.md
Owners: @nhsuk/vaccine-digital-service

Create patient_teams table
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient.rb
  app/models/patient_team.rb
  app/models/team.rb
  db/migrate/20251017133712_create_patient_teams_table.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Include concern in relvant models
  .rubocop.yml
  app/models/archive_reason.rb
  app/models/location.rb
  app/models/organisation.rb
  app/models/patient_location.rb
  app/models/school_move.rb
  app/models/session.rb
  app/models/subteam.rb
  app/models/team.rb
  app/models/vaccination_record.rb
  config/brakeman.ignore
  docs/ops-tasks.md
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Migration script for populating patient_teams table
  db/migrate/20251027190936_populate_patient_teams_table.rb
Owners: @nhsuk/mavis-devs-application

Create job for handling imports
  app/controllers/api/testing/teams_controller.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/status_updater_job.rb
  app/jobs/sync_patient_team_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/generate/vaccination_records.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/models/class_import.rb
  app/models/immunisation_import.rb
  app/models/patient.rb
  app/models/school_move.rb
  config/sidekiq.yml
  db/seeds.rb
  spec/factories/patient_teams.rb
  spec/models/patient_location_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure PSDs are invalidated correctly
  app/controllers/draft_consents_controller.rb
  app/models/consent.rb
  app/models/consent_form.rb
  spec/features/parental_consent_flu_spec.rb
  spec/features/verbal_consent_given_spec.rb
Owners: @nhsuk/mavis-devs-application

Use correct class for reverse button style on interruption card
  app/views/draft_sessions/dates_check.html.erb
Owners: @nhsuk/mavis-devs-application

Hide programme filters from children page
  app/views/patients/index.html.erb
  spec/features/archive_children_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Search: Default CLI to search for all programmes
  app/lib/mavis_cli/vaccination_records/search_imms_api.rb
Owners: @nhsuk/mavis-devs-application

CUD: Refactor snomed const names
  app/lib/fhir_mapper/programme.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

CUD: handle multiple target diseases
  app/lib/fhir_mapper/programme.rb
  app/lib/fhir_mapper/vaccination_record.rb
  spec/lib/fhir_mapper/programme_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Search: Handle vaccines with multiple programmes
  app/lib/fhir_mapper/vaccination_record.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Search: Add new programme codes
  app/models/programme.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

CUD: Handle `dose_sequence: nil`
  app/lib/fhir_mapper/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

CUD: Add new programme codes
  app/models/programme.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Associate delayed triage with vaccination record for date updates
  app/models/vaccination_record.rb
  db/migrate/20251103182041_add_next_dose_delay_triage_id_to_vaccination_records.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Update vaccination record association when creating delayed MMR triage
  app/forms/triage_form.rb
  spec/forms/triage_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove 28-day vaccination delay validation from MMR triage
  app/components/app_triage_form_component.html.erb
  app/components/app_triage_form_component.rb
  app/forms/triage_form.rb
  spec/features/mmr_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Add email template for delayed vaccination triage
  app/controllers/concerns/triage_mailer_concern.rb
  app/lib/govuk_notify_personalisation.rb
  config/initializers/govuk_notify.rb
  spec/factories/triages.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Update delayed triage if vaccination date is change
  app/controllers/draft_vaccination_records_controller.rb
  app/models/vaccination_record.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/mmr_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Invalidate delayed triage immediately when backdating causes expiration
  app/models/concerns/invalidatable.rb
  app/models/vaccination_record.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Set trailing comma behaviour in config
  .prettierrc
Owners: @nhsuk/mavis-devs-application

Change ProcessPatientChangesetJob to accept changeset id
  app/jobs/pds_cascading_search_job.rb
  app/jobs/process_patient_changeset_job.rb
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/jobs/process_patient_changeset_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix `delay_vaccination_review_context` personalisation
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Increase timeouts for Redis cache
  config/environments/production.rb
Owners: @nhsuk/mavis-devs-application

Fix db:seed and vaccination_record contribution to patient_teams
  app/lib/location_sessions_factory.rb
  app/lib/team_sessions_factory.rb
  app/models/concerns/contributes_to_patient_teams.rb
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

Update gender, LA, school name in Reporting view
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v03.sql
Owners: @nhsuk/mavis-devs-application

Optimize reporting view performance
  app/models/vaccination_record.rb
  db/migrate/20251016030639_update_reporting_api_patient_programme_statuses_to_version_3.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v03.sql
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add consent information to reporting API
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20251016030639_update_reporting_api_patient_programme_statuses_to_version_3.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v03.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore line length cop for lines with idx_
  .rubocop.yml
Owners: @nhsuk/mavis-devs-application

Fix flaky test for vaccination records
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Create keep in triage record when delay triage expires
  app/jobs/invalidate_delay_triages_job.rb
  app/models/vaccination_record.rb
  spec/jobs/invalidate_delay_triages_job_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't invalidate triages when they expire
  app/jobs/invalidate_delay_triages_job.rb
  app/lib/status_generator/triage.rb
  app/models/concerns/invalidatable.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  config/sidekiq.yml
  spec/factories/triages.rb
  spec/jobs/invalidate_delay_triages_job_spec.rb
  spec/lib/status_generator/triage_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
