Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Fix ecs service deployment
  terraform/data_masking/ecs.tf
  terraform/data_masking/env/development.tfvars
  terraform/data_masking/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

require sanitized tag on data replication snapshot
  .github/workflows/refresh-data-replication.yml
  terraform/data_replication/rds.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Create data masking environment
  terraform/data_masking/ecs.tf
  terraform/data_masking/env/development-backend.hcl
  terraform/data_masking/env/development.tfvars
  terraform/data_masking/env/production-backend.hcl
  terraform/data_masking/env/production.tfvars
  terraform/data_masking/iam.tf
  terraform/data_masking/main.tf
  terraform/data_masking/network.tf
  terraform/data_masking/outputs.tf
  terraform/data_masking/rds.tf
  terraform/data_masking/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add github workflow
  .github/workflows/mask-db-snapshot.yml
  terraform/data_masking/env/training-backend.hcl
  terraform/data_masking/env/training.tfvars
  terraform/data_masking/rds.tf
  terraform/data_masking/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Use dedicated IAM role
  .github/workflows/mask-db-snapshot.yml
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployDataMaskingResources.json
  terraform/account/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Remove `patient_appears_in_programme?`
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_table_component.rb
  app/controllers/patients_controller.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Add README
  terraform/data_masking/README.md
  terraform/data_replication/README.md
Owners: @nhsuk/mavis-devs-infrastructure

anonymise first and last names
  .github/workflows/mask-db-snapshot.yml
  lib/tasks/anonymize_child_names.rake
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Add new fields to v04 reporting API view
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Create v04 reporting API view
  db/migrate/20251110113103_update_reporting_api_patient_programme_statuses_to_version_4.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Filter vaccinations_given by current team
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Add vaccination counts and URN to reporting API
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle archived patients in reporting totals
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Correctly handle child moving in with a record
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Add test for historic flu vaccination
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Update historic record uploaded test
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle historic vaccination records in reporting
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Add test for HPV record uploaded in current academic year
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Update existing tests to match expected behaviour
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Handle historic flu vaccinations in reporting view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Filter reporting view by outside_cohort flag
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify reporting view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Fix monthly vaccinations in reporting view
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor all_vaccinations_by_year subquery in view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Replace multiple vaccination subqueries in view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetProgrammeType`
  app/lib/data_migration/set_programme_type.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_programme_type_spec.rb
Owners: @nhsuk/mavis-devs-application

Add index on programme types
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114437_add_programme_type_indexes.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Update reporting view to use programme types
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20251110114438_update_reporting_api_patient_programme_statuses_to_version4.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v04.sql
Owners: @nhsuk/mavis-devs-application

Allow programme IDs to be null
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/notify_log_entry.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114440_make_programme_ids_null.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/notify_log_entries.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/notify_log_entry_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove audits on programmes
  app/models/programme.rb
  app/models/vaccine.rb
Owners: @nhsuk/mavis-devs-application

Remove programme associations
  app/controllers/consent_forms_controller.rb
  app/controllers/dev/random_consent_form_controller.rb
  app/controllers/parent_interface/consent_forms/base_controller.rb
  app/controllers/patient_sessions/consents_controller.rb
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions/consent_controller.rb
  app/controllers/sessions_controller.rb
  app/jobs/consent_form_matching_job.rb
  app/lib/generate/vaccination_records.rb
  app/lib/govuk_notify_personalisation.rb
  app/lib/mavis_cli/generate/vaccination_records.rb
  app/models/concerns/belongs_to_programme.rb
  app/models/concerns/has_many_programmes.rb
  app/models/consent.rb
  app/models/consent_form.rb
  app/models/consent_form_programme.rb
  app/models/immunisation_import_row.rb
  app/models/programme.rb
  app/models/session.rb
  app/models/team.rb
  app/policies/programme_policy.rb
  spec/factories/consents.rb
  spec/factories/programmes.rb
  spec/factories/vaccination_records.rb
  spec/forms/vaccinate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove programme ID indexes
  app/models/consent.rb
  app/models/consent_form_programme.rb
  app/models/gillick_assessment.rb
  app/models/location/programme_year_group.rb
  app/models/patient/consent_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_specific_direction.rb
  app/models/pre_screening.rb
  app/models/triage.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  db/migrate/20251110114439_remove_programme_id_indexes.rb
  db/schema.rb
  spec/factories/consent_form_programmes.rb
  spec/factories/consents.rb
  spec/factories/gillick_assessments.rb
  spec/factories/location_programme_year_groups.rb
  spec/factories/patient_consent_statuses.rb
  spec/factories/patient_specific_directions.rb
  spec/factories/patient_triage_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/factories/pre_screenings.rb
  spec/factories/triages.rb
  spec/factories/vaccination_records.rb
  spec/factories/vaccines.rb
  spec/models/consent_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/patient/consent_status_spec.rb
  spec/models/patient/triage_status_spec.rb
  spec/models/patient/vaccination_status_spec.rb
  spec/models/patient_specific_direction_spec.rb
  spec/models/pre_screening_spec.rb
  spec/models/triage_spec.rb
  spec/models/vaccination_record_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove programme scopes
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/programme.rb
  app/models/session.rb
  app/policies/programme_policy.rb
  spec/models/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Patient::ProgrammeStatus`
  app/models/patient.rb
  app/models/patient/programme_status.rb
  db/migrate/20251112110128_create_patient_programme_status.rb
  db/schema.rb
  spec/factories/patient_programme_statuses.rb
  spec/models/patient/programme_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `Patient::ProgrammeStatus#assign`
  app/models/patient/programme_status.rb
  spec/models/patient/programme_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Add programme to status resolver
  app/lib/patient_status_resolver.rb
  app/models/patient.rb
  config/locales/status.en.yml
  spec/factories/patient_programme_statuses.rb
  spec/factories/patients.rb
  spec/factories/triages.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `StatusGenerator::Programme`
  app/lib/status_generator/programme.rb
  app/lib/status_generator/triage.rb
  spec/factories/vaccination_records.rb
  spec/lib/status_generator/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Add feature flag for programme statuses
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Update programme statuses
  app/lib/status_updater.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide consent and triage tabs
  app/views/sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
