Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Show programme status for searched MNR users
  app/components/app_patient_search_result_card_component.rb
  app/controllers/patients_controller.rb
  app/lib/patient_status_resolver.rb
  app/views/patients/index.html.erb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove reports card from national reporting dashboard
  app/controllers/dashboard_controller.rb
  config/locales/en.yml
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `update_hpv_health_questions` task
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Update hint text on UI for uploading vaccs records
  app/views/draft_imports/type.html.erb
Owners: @nhsuk/mavis-devs-application

Never show session-based breadcrumb in national reporting vaccs records
  app/controllers/vaccination_records_controller.rb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove empty sidekiq queue
  config/sidekiq.yml
Owners: @nhsuk/mavis-devs-application

Include vaccination name(s) on parental consent start page title
  app/views/parent_interface/consent_forms/start.html.erb
  config/locales/en.yml
  spec/features/parental_consent_doubles_spec.rb
  spec/features/parental_consent_flu_spec.rb
  spec/features/parental_consent_mmr_spec.rb
  spec/features/parental_consent_refused_spec.rb
Owners: @nhsuk/mavis-devs-application

Add patient import flow chart
  docs/patient-import-flow-chart.md
Owners: @nhsuk/vaccine-digital-service

Add tests for MMR variant in Imms API search
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Standardise content to use "Batch number"
  app/components/app_vaccination_record_summary_component.rb
  app/views/batches/new.html.erb
  app/views/vaccines/index.html.erb
  spec/components/app_vaccination_record_summary_component_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_clinic_spec.rb
  spec/features/import_vaccination_records_with_duplicates_spec.rb
  spec/features/manage_batches_spec.rb
  spec/features/menacwy_vaccination_administered_spec.rb
  spec/features/td_ipv_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Add AppSubNavigationComponent
  app/assets/stylesheets/components/_index.scss
  app/assets/stylesheets/components/_sub-navigation.scss
  app/components/app_sub_navigation_component.html.erb
  app/components/app_sub_navigation_component.rb
  spec/components/app_sub_navigation_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow bulk upload users to edit vaccinator
  app/components/app_vaccination_record_summary_component.rb
  app/controllers/draft_vaccination_records_controller.rb
  app/models/draft_vaccination_record.rb
  app/views/draft_vaccination_records/confirm.html.erb
  app/views/draft_vaccination_records/vaccinator.html.erb
  config/locales/en.yml
  config/locales/wicked.en.yml
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow bulk upload users to edit dose sequence
  app/components/app_vaccination_record_summary_component.rb
  app/controllers/draft_vaccination_records_controller.rb
  app/models/draft_vaccination_record.rb
  app/views/draft_vaccination_records/confirm.html.erb
  app/views/draft_vaccination_records/dose_sequence.html.erb
  config/locales/wicked.en.yml
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Disallow bulk upload users from changing `outcome`
  app/models/draft_vaccination_record.rb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow bulk upload users to edit location
  app/controllers/draft_vaccination_records_controller.rb
  app/models/draft_vaccination_record.rb
  app/views/draft_vaccination_records/location.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor edit vaccination record tests
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Tweak content for bulk upload users when editing notes
  app/views/draft_vaccination_records/notes.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Redesign "Your team" tab
  app/components/app_team_navigation_component.rb
  app/controllers/concerns/navigation_concern.rb
  app/controllers/dashboard_controller.rb
  app/controllers/teams_controller.rb
  app/policies/team_policy.rb
  app/views/teams/clinics.html.erb
  app/views/teams/contact_details.html.erb
  app/views/teams/schools.html.erb
  app/views/teams/sessions.html.erb
  app/views/teams/show.html.erb
  config/routes.rb
  spec/features/e2e_journey_spec.rb
  spec/features/manage_teams_spec.rb
  spec/features/scheduled_consent_requests_spec.rb
  spec/policies/team_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't skip `verify_authorized` on `index`
  app/controllers/consent_forms_controller.rb
  app/controllers/school_moves_controller.rb
Owners: @nhsuk/mavis-devs-application

Fix update to Ruby 4.0 breaking prometheus_exporter
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Fix SNOMED procedure term for flu vaccinations
  app/lib/fhir_mapper/vaccine.rb
  app/models/vaccination_record.rb
  app/models/vaccine.rb
  spec/lib/fhir_mapper/vaccine_spec.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Update SNOMED display term for flu vaccination across multiple JSON fixtures
  spec/fixtures/files/fhir/flu/fhir_record_full.json
  spec/fixtures/files/fhir/flu/fhir_record_half_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_im_missing_dose.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum.json
  spec/fixtures/files/fhir/flu/fhir_record_minimum_api_create.json
  spec/fixtures/files/fhir/flu/fhir_record_unexpected_dose_unit.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_location.json
  spec/fixtures/files/fhir/flu/fhir_record_unknown_vaccine.json
  spec/fixtures/files/fhir/search_response_1_result.json
  spec/fixtures/files/fhir/search_response_1_result_mavis.json
  spec/fixtures/files/fhir/search_response_2_results.json
  spec/fixtures/files/fhir/search_response_2_results_mavis_duplicate.json
  spec/fixtures/files/fhir/search_response_2_results_mavis_duplicate_primary_source.json
  spec/fixtures/files/fhir/search_response_all_programmes.json
  spec/fixtures/files/fhir/search_response_bad_immunization_target_1.json
  spec/fixtures/files/fhir/search_response_bad_immunization_target_2.json
  spec/fixtures/files/fhir/search_response_bad_immunization_target_3.json
  spec/fixtures/files/fhir/search_response_full_bundle.json
  spec/fixtures/files/fhir/search_response_good_immunization_target.json
  spec/fixtures/files/fhir/search_response_mismatching_bundle_link.json
  spec/fixtures/files/fhir/search_response_operation_outcome_error.json
  spec/fixtures/files/fhir/search_response_operation_outcome_fatal.json
  spec/fixtures/files/fhir/search_response_operation_outcome_success.json
  spec/fixtures/files/fhir/search_response_operation_outcome_warning.json
Owners: @nhsuk/mavis-devs-application

Show GIAS year groups and other sites in CLI Schools::Show
  app/lib/mavis_cli/schools/show.rb
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Create a basic setup for a WAF
  terraform/app/variables.tf
  terraform/app/waf.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update permissions to allow for deploying WAF
  terraform/account/resources/iam_policy_DeployMavisResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Fix historic school moves showing correct URN for unknown/home educated
  app/lib/reports/school_moves_exporter.rb
  spec/lib/reports/school_moves_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `has_triage_status` scope
  app/components/app_programme_session_table_component.rb
  app/components/app_session_actions_component.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/models/patient.rb
  spec/features/cli_generate_consents_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `has_vaccination_status` scope
  app/jobs/invalidate_self_consents_job.rb
  app/jobs/patients_refused_consent_already_vaccinated_job.rb
  app/lib/stats/organisations.rb
  app/models/patient.rb
  spec/features/cli_generate_vaccination_records_spec.rb
  spec/jobs/invalidate_self_consents_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Update `has_vaccine_criteria` scope
  app/models/patient.rb
  spec/features/filtering_by_vaccine_type_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `has_consent_status` scope
  app/components/app_programme_session_table_component.rb
  app/components/app_session_actions_component.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/lib/generate/vaccination_records.rb
  app/lib/stats/organisations.rb
  app/models/concerns/has_vaccine_methods.rb
  app/models/patient.rb
  app/models/session.rb
  spec/factories/patients.rb
  spec/features/cli_generate_consents_spec.rb
Owners: @nhsuk/mavis-devs-application

Use `safe_join` instead of `join(...).html_safe`
  app/helpers/parents_helper.rb
Owners: @nhsuk/mavis-devs-application

Add `joins_teams_on_performed_ods_code` scope
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Add `patient_team:update` tasks
  lib/tasks/patient_team.rake
  lib/tasks/patient_teams.rake
  lib/tasks/status.rake
Owners: @nhsuk/mavis-devs-application

Install `sidekiq-unique-jobs`
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Add `PatientTeamUpdater`
  app/lib/patient_team_updater.rb
  app/models/patient_location.rb
  spec/factories/vaccination_records.rb
  spec/lib/patient_team_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `update_all_and_sync_patient_teams`
  app/lib/mavis_cli/schools/move_patients.rb
  app/models/concerns/contributes_to_patient_teams.rb
  docs/ops-tasks.md
  spec/models/patient_location_spec.rb
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Add `PatientTeamUpdaterJob`
  app/jobs/patient_team_updater_job.rb
  spec/jobs/patient_team_updater_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Configure `sidekiq-unique-jobs`
  config/initializers/sidekiq.rb
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Replace usage of `SyncPatientTeamJob`
  app/jobs/commit_import_job.rb
  app/jobs/commit_patient_changesets_job.rb
  app/jobs/sync_patient_team_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/generate/vaccination_records.rb
  app/models/class_import.rb
  app/models/immunisation_import.rb
  app/models/patient.rb
  app/models/school_move.rb
  db/seeds.rb
  spec/controllers/api/testing/teams_controller_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/manage_children_spec.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Remove `sync_patient_teams_table_on_patient_ids`
  app/models/concerns/contributes_to_patient_teams.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application
