Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

design: rename deleting vaccination record to archive
  app/components/app_activity_log_component.rb
  app/components/app_vaccination_record_summary_component.rb
  app/controllers/imports/issues_controller.rb
  app/controllers/vaccination_records_controller.rb
  app/views/vaccination_records/destroy.html.erb
  app/views/vaccination_records/show.html.erb
  config/locales/en.yml
  spec/components/app_activity_log_component_spec.rb
  spec/features/archive_vaccination_record_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

test: that a change to the discarded_at is staged as a difference
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix header role description
  app/models/user.rb
  app/views/layouts/_header.html.erb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `patient_changeset` factory
  app/models/patient.rb
  app/models/patient_changeset.rb
  spec/factories/patient_changesets.rb
Owners: @nhsuk/mavis-devs-application

Ensure patients with changesets can be merged
  app/lib/patient_merger.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

Double max ACU capacity
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Fix failing test during preparation period
  spec/components/app_consent_confirmation_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide patient and vaccination counts
  app/views/programmes/index.html.erb
Owners: @nhsuk/mavis-devs-application

Ensure registration isn't staged when importing a class list
  app/models/patient_changeset.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/class_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Fix bug in postprocessing imports
  app/jobs/commit_patient_changesets_job.rb
  app/models/class_import.rb
  app/models/cohort_import.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Idea 2: Render new task definition based on latest one
  .github/workflows/deploy-application.yml
  config/container_variables.yml
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Cleanup
  .github/workflows/deploy-application.yml
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Create fully independent application deployment flow
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-mavis.yml
  config/task-definitions/good-job-task-definition.json
  config/task-definitions/web-task-definition.json
  config/templates/appspec.yaml.tpl
  config/templates/task-definition.json.tpl
  script/populate_task_definition.sh
  terraform/app/codedeploy.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/outputs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Cleanup deployment
  .github/workflows/deploy-application.yml
  config/container_variables.yml
  config/templates/appspec.yaml
  config/templates/task-definition.json.tpl
  script/populate_task_definition.py
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Only recreate task definition in infrastructure on critical chances
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  script/populate_ssm_parameters.py
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Only produce template task definition in tf apply
  .github/workflows/deploy-application.yml
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Replace mechanism for cloud-based-variables
  .github/workflows/deploy-application.yml
  bin/docker-start
  config/container_variables.yml
  script/populate_ssm_parameters.py
  script/populate_task_definition.py
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Improve new flow
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-mavis.yml
  .tool-versions
  config/container_variables.yml
  config/task-definitions/good-job-task-definition.json
  config/task-definitions/web-task-definition.json
  config/templates/task-definition.json.tpl
  script/populate_task_definition.py
  script/populate_task_definition.sh
  script/requirements.txt
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Idea: Create individual task definitions in app repo
  .github/workflows/deploy-application.yml
  config/environments/sandbox-beta-good-job-task-definition.json
  config/environments/sandbox-beta-web-task-definition.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Remove redundant terraform configuration
  .github/workflows/deploy-application.yml
  script/populate_task_definition.py
  terraform/app/codedeploy.tf
  terraform/app/db_migration_configuration.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Include sidekiq deployment
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

fix environment variable parsing
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Update task definition variables
  config/container_variables.yml
  terraform/app/iam_policy_documents.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Create role with reduced permissions for ECS deploy
  .github/workflows/deploy-application.yml
  terraform/account/deployment_permissions.tf
  terraform/account/resources/iam_policy_DeployECSServiceResources.json
  terraform/account/resources/iam_role_github_trust_policy_development.json.tftpl
  terraform/account/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Remove `CIS2Info#reset_unused_fields`
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Add a test for uploading twins
  spec/features/import_child_records_with_twins_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix NHS API access token test
  spec/features/cli_nhs_api_access_token_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `:admin_staff` symbol
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/td_ipv_already_had_spec.rb
  spec/features/verbal_consent_but_no_triage_for_admin_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_superuser?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/policies/notices_policy.rb
  app/policies/vaccination_record_policy.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow fallback_role to be nil
  app/models/user.rb
  db/migrate/20250818104453_make_user_fallback_role_nullable.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_nurse?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  app/policies/gillick_assessment_policy.rb
  app/policies/triage_policy.rb
  app/policies/vaccination_record_policy.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Add prescriber fallback role
  app/models/user.rb
Owners: @nhsuk/mavis-devs-application

Rename `is_admin?`
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
  app/models/user.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't check for nurse or admin
  app/policies/application_policy.rb
  app/policies/programme_policy.rb
  app/policies/session_policy.rb
Owners: @nhsuk/mavis-devs-application

Use CIS2 role name in header
  app/models/user.rb
  app/views/layouts/_header.html.erb
  spec/features/doubles_vaccination_cannot_record_as_admin_spec.rb
  spec/features/e2e_journey_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky consent matching test
  spec/features/parental_consent_manual_matching_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `is_healthcare_assistant?`
  app/models/cis2_info.rb
  app/models/user.rb
Owners: @nhsuk/mavis-devs-application

Fix incorrect test condition
  spec/features/import_child_records_with_twins_spec.rb
Owners: @nhsuk/mavis-devs-application

Only set parent_relationships when present in import
  app/jobs/commit_patient_changesets_job.rb
  app/models/patient_changeset.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza.csv
Owners: @nhsuk/mavis-devs-application

Handle `nil` vaccination record location
  app/lib/reports/systm_one_exporter.rb
  spec/factories/vaccination_records.rb
  spec/lib/reports/systm_one_exporter_spec.rb
Owners: @nhsuk/mavis-devs-application
