Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add Children page to navigation and dashboard
  app/controllers/concerns/navigation_concern.rb
  app/controllers/dashboard_controller.rb
  config/locales/en.yml
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Update patient search result card for upload only teams
  app/components/app_patient_search_result_card_component.rb
  app/controllers/patients_controller.rb
  app/views/patients/index.html.erb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Restrict filters on Children page for upload-only teams
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/controllers/patients_controller.rb
  app/views/patients/index.html.erb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix dashboard card widths for upload-only teams
  app/controllers/dashboard_controller.rb
  app/views/dashboard/index.html.erb
Owners: @nhsuk/mavis-devs-application

Update hint text for MMRV consent journey
  app/views/draft_consents/mmrv_vaccine_availability.html.erb
Owners: @nhsuk/mavis-devs-application

Move school_name, vaccinated and local_patiend_id into functions for consistency
  app/components/app_import_format_details_component.rb
Owners: @nhsuk/mavis-devs-application

Fix ODS portal link
  app/components/app_import_format_details_component.rb
Owners: @nhsuk/mavis-devs-application

Prometheus exporter setup with cloudwatch
  Gemfile
  Gemfile.lock
  bin/docker-start
  bin/prometheus_exporter
  config/initializers/sidekiq.rb
  config/puma.rb
  terraform/account/iam.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/ssm_parameters.tf
  terraform/app/templates/cloudwatch_agent_config.json.tpl
  terraform/app/templates/prometheus_exporter_config.yaml.tpl
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Only export metrics for relevant environments and services
  config/initializers/sidekiq.rb
  config/puma.rb
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Skip already-deleted parents in bulk removal
  app/models/patient_import.rb
  spec/features/bulk_remove_parents_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't paginate when bulk removing parent-child ...
  app/controllers/imports/bulk_remove_parents_controller.rb
  app/models/patient_import.rb
Owners: @nhsuk/mavis-devs-application

Change imms import format content following design review
  app/components/app_import_format_details_component.rb
  app/views/immunisation_imports/new.html.erb
Owners: @nhsuk/mavis-devs-application

Remove mention of class-list and cohort uploads from import index
  app/views/imports/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Allow adding parents or guardians to patient records
  app/components/app_child_summary_component.rb
  app/components/app_patient_card_component.rb
  app/controllers/parent_relationships_controller.rb
  app/models/parent_relationship.rb
  app/views/parent_relationships/new.html.erb
  app/views/patients/edit.html.erb
  config/routes.rb
  spec/features/manage_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename "Change parent" to "Edit parent"
  app/components/app_child_summary_component.rb
  spec/features/edit_parent_spec.rb
Owners: @nhsuk/mavis-devs-application

Feature flag bulk removal of parent relationship
  app/controllers/imports/bulk_remove_parents_controller.rb
  app/models/parent_relationship.rb
  app/views/imports/show.html.erb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Fix: Use MMR instead of MMRV in catch-up consent SMS reminders
  app/lib/govuk_notify_personalisation.rb
  config/initializers/govuk_notify.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix 2nd dose of MMR showing after 1st dose
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Use resolved status prefix in patient results card
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  spec/components/app_patient_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure programme variant is selected for record tab
  app/components/app_patient_session_search_result_card_component.rb
  spec/features/mmrv_vaccination_administered_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove previous onboarding files
  config/onboarding/birmingham.yaml
  config/onboarding/haringey.yaml
  config/onboarding/harrogate.yaml
  config/onboarding/harrow.yaml
  config/onboarding/havering.yaml
  config/onboarding/herefordshire.yaml
  config/onboarding/islington.yaml
  config/onboarding/scarborough.yaml
  config/onboarding/thirsk.yaml
  config/onboarding/worcestershire.yaml
  config/onboarding/york.yaml
Owners: @nhsuk/mavis-devs-application

Create onboarding files for February onboarding teams
  config/onboarding/enfield.yaml
  config/onboarding/hullandeastriding.yaml
  config/onboarding/lincs.yaml
Owners: @nhsuk/mavis-devs-application

Render not found if consented to no programmes
  app/controllers/parent_interface/consent_forms/base_controller.rb
Owners: @nhsuk/mavis-devs-application

Feature flag bulk removal of parent relationship
  app/controllers/imports/bulk_remove_parents_controller.rb
  app/views/imports/show.html.erb
  config/feature_flags.yml
  spec/features/bulk_remove_parents_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow uploading 1P and 1B dose sequences for MMR
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore `REASON_NOT_VACCINATED` in national reporting uploads
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Ignore other unused columns in national reporting upload
  app/models/immunisation_import_row.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Add test for programme year groups
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Add spacing to mavis schools show output
  app/lib/mavis_cli/schools/show.rb
Owners: @nhsuk/mavis-devs-application

Fix mavis cli to show schools with programmes
  app/lib/mavis_cli/schools/create.rb
  app/lib/mavis_cli/schools/show.rb
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Add patient details to mavis schools show cli
  app/lib/mavis_cli/schools/show.rb
  app/lib/mavis_cli_helpers.rb
  spec/features/cli_schools_show_spec.rb
Owners: @nhsuk/mavis-devs-application

Add mavis CLI helpers print_data
  app/lib/mavis_cli.rb
  app/lib/mavis_cli_helpers.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant permission
  terraform/app/iam_policy_documents.tf
Owners: @nhsuk/mavis-devs-infrastructure

Change service name for upload-only teams
  app/controllers/application_controller.rb
  app/views/dashboard/index.html.erb
  app/views/layouts/_header.html.erb
  spec/features/e2e_journey_spec.rb
  spec/features/upload_only_team_spec.rb
Owners: @nhsuk/mavis-devs-application

Update upload-only dashboard card descriptions
  app/controllers/dashboard_controller.rb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Simplify totals CSV
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/total.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix SNOMED programme variants
  app/models/programme/variant.rb
Owners: @nhsuk/mavis-devs-application

Fix label for MMR consent form download
  app/components/app_session_summary_component.rb
  app/controllers/programmes_controller.rb
  app/policies/programme_policy.rb
  config/brakeman.ignore
  spec/components/app_session_summary_component_spec.rb
  spec/requests/programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix link to view online consent form for MMR
  app/components/app_session_summary_component.rb
  spec/components/app_session_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify `Patient#vaccine_criteria`
  app/lib/vaccine_criteria.rb
  app/models/patient.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/components/app_vaccinate_form_component_spec.rb
  spec/factories/patients.rb
  spec/lib/govuk_notify_personalisation_spec.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application
