Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add new vaccine products for 2025/26 flu campaign
  config/vaccines.yml
  spec/factories/programmes.rb
Owners: @nhsuk/mavis-devs-application

update environment variables
  terraform/app/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

Hide patients vaccinated by the same organisation but different team
  app/policies/patient_policy.rb
  app/policies/vaccination_record_policy.rb
  spec/policies/patient_policy_spec.rb
  spec/policies/vaccination_record_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure aged out patients are added to community clinic
  app/jobs/patients_aged_out_of_school_job.rb
  spec/jobs/patients_aged_out_of_school_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Default session form academic year to pending
  app/forms/session_search_form.rb
  spec/features/td_ipv_already_had_spec.rb
  spec/features/triage_delay_vaccination_spec.rb
  spec/forms/session_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Create fully independent application deployment flow
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-mavis.yml
  config/task-definitions/good-job-task-definition.json
  config/task-definitions/web-task-definition.json
  config/templates/appspec.yaml.tpl
  config/templates/task-definition.json.tpl
  script/populate_task_definition.sh
  terraform/app/codedeploy.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/outputs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Improve new flow
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-mavis.yml
  .tool-versions
  config/container_variables.yml
  config/task-definitions/good-job-task-definition.json
  config/task-definitions/web-task-definition.json
  config/templates/task-definition.json.tpl
  script/populate_task_definition.py
  script/populate_task_definition.sh
  script/requirements.txt
  terraform/app/modules/ecs_service/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Remove redundant terraform configuration
  .github/workflows/deploy-application.yml
  script/populate_task_definition.py
  terraform/app/codedeploy.tf
  terraform/app/db_migration_configuration.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/outputs.tf
  terraform/app/outputs.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Replace mechanism for cloud-based-variables
  .github/workflows/deploy-application.yml
  bin/docker-start
  config/container_variables.yml
  script/populate_ssm_parameters.py
  script/populate_task_definition.py
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Cleanup
  .github/workflows/deploy-application.yml
  terraform/app/env/preview.tfvars
  terraform/app/env/production.tfvars
  terraform/app/env/qa.tfvars
  terraform/app/env/sandbox-alpha.tfvars
  terraform/app/env/sandbox-beta.tfvars
  terraform/app/env/test.tfvars
  terraform/app/env/training.tfvars
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Idea 2: Render new task definition based on latest one
  .github/workflows/deploy-application.yml
  config/container_variables.yml
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Idea: Create individual task definitions in app repo
  .github/workflows/deploy-application.yml
  config/environments/sandbox-beta-good-job-task-definition.json
  config/environments/sandbox-beta-web-task-definition.json
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Only recreate task definition in infrastructure on critical chances
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy.yml
  script/populate_ssm_parameters.py
  terraform/app/ecs.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application, @nhsuk/mavis-devs-infrastructure

Cleanup deployment
  .github/workflows/deploy-application.yml
  config/container_variables.yml
  config/templates/appspec.yaml
  config/templates/task-definition.json.tpl
  script/populate_task_definition.py
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

Fix duplication of programme name in notice
  app/lib/important_notices.rb
  spec/lib/important_notices_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Remove schoolagedimmunisations workgroup"
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  app/views/users/errors/workgroup_not_found.html.erb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/features/user_cis2_authentication_from_start_page_spec.rb
  spec/features/user_cis2_authentication_with_empty_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Handle unknown session keys
  app/models/concerns/request_session_persistable.rb
  spec/models/concerns/request_session_persistable_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove .cursorrules
  .cursorrules
Owners: @nhsuk/mavis-devs-application

Allow signing in without a team workgroup
  app/controllers/users/omniauth_callbacks_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
Owners: @nhsuk/mavis-devs-application

Add token_authentication_concern and spec to support the authentication process for the commissioner reporting app, but do not include them in any controllers yet - a future PR will do that
  app/controllers/concerns/token_authentication_concern.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove session outcome filter
  app/components/app_patient_search_form_component.rb
  app/components/app_session_details_summary_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  app/views/sessions/patients/show.html.erb
  spec/features/delete_vaccination_record_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/manage_attendance_spec.rb
  spec/features/parental_consent_refused_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Combine programme and session outcome
  app/components/app_patient_search_form_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_programme_status_tags_component.rb
  app/components/app_session_details_summary_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/forms/patient_search_form.rb
  app/lib/status_generator/session.rb
  app/models/patient/vaccination_status.rb
  app/views/programmes/patients/index.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/register/show.html.erb
  config/locales/status.en.yml
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/components/app_programme_status_tags_component_spec.rb
  spec/features/filtering_by_programme_spec.rb
  spec/features/hpv_vaccination_delayed_spec.rb
  spec/forms/patient_search_form_spec.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't update `PatientSession::SessionStatus`
  app/lib/status_updater.rb
  spec/factories/patient_sessions.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace usage of `has_session_status`
  app/components/app_programme_session_table_component.rb
  app/components/app_session_details_summary_component.rb
  app/models/patient_session.rb
  spec/components/app_programme_session_table_component_spec.rb
  spec/components/app_session_details_summary_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientSession::SessionStatus`
  app/controllers/sessions/patients_controller.rb
  app/models/patient/vaccination_status.rb
  app/models/patient_session.rb
  app/models/patient_session/session_status.rb
  app/views/sessions/patients/show.html.erb
  db/migrate/20250813073648_drop_patient_session_session_statuses.rb
  db/schema.rb
  spec/factories/patient_session_session_statuses.rb
  spec/lib/status_updater_spec.rb
  spec/models/patient_session/session_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename "No outcome yet"
  app/components/app_patient_programmes_table_component.rb
  config/locales/en.yml
  config/locales/status.en.yml
  spec/components/app_patient_search_result_card_component_spec.rb
  spec/components/app_programme_status_tags_component_spec.rb
  spec/features/filtering_by_programme_spec.rb
  spec/features/hpv_vaccination_delayed_spec.rb
  spec/features/hpv_vaccination_offline_spec.rb
  spec/features/parental_consent_spec.rb
  spec/features/triage_delay_vaccination_spec.rb
  tests/offline.spec.ts
Owners: @nhsuk/mavis-devs-application

Replace usage of `session_status`
  app/models/patient_session.rb
Owners: @nhsuk/mavis-devs-application

Enqueue patient aged out of school job
  app/models/class_import.rb
  app/models/cohort_import.rb
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Allow signing in without a team workgroup"
  app/controllers/users/omniauth_callbacks_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove schoolagedimmunisations workgroup
  app/controllers/concerns/authentication_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/forms/select_team_form.rb
  app/models/cis2_info.rb
  app/views/users/errors/workgroup_not_found.html.erb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/features/user_cis2_authentication_from_start_page_spec.rb
  spec/features/user_cis2_authentication_with_empty_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_organisation_spec.rb
  spec/features/user_cis2_authentication_with_wrong_role_spec.rb
  spec/features/user_cis2_authentication_with_wrong_workgroup_spec.rb
  spec/support/cis2_auth_helper.rb
Owners: @nhsuk/mavis-devs-application

Ensure triage and consent tags use the correct status colour
  app/helpers/consents_helper.rb
  app/helpers/triages_helper.rb
Owners: @nhsuk/mavis-devs-application

fetch / slice for jwt hash elements
  app/controllers/concerns/token_authentication_concern.rb
Owners: @nhsuk/mavis-devs-application

move token_authentication_concern under reporting_api namespace
  app/controllers/concerns/reporting_api/token_authentication_concern.rb
  spec/controllers/concerns/reporting_api/token_authentication_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Spoof user agent when downloading GIAS data
  app/lib/mavis_cli/gias/download.rb
Owners: @nhsuk/mavis-devs-application

Add secret for cookie signing
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/ssm_parameters.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Set and clear reporting_api_session_token on login/logout
  app/controllers/users/omniauth_callbacks_controller.rb
  config/initializers/devise.rb
Owners: @nhsuk/mavis-devs-application

Sync vaccs record to API if `notify_parents` has changed due to consent changes
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  spec/features/invalidate_consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Add task for migrating teams
  app/lib/team_migration/base.rb
  app/lib/team_migration/coventry.csv
  app/lib/team_migration/coventry.rb
  app/lib/team_migration/east_of_england.csv
  app/lib/team_migration/east_of_england.rb
  app/lib/team_migration/leicestershire.rb
  lib/tasks/migrate_teams.rake
  spec/lib/team_migration/coventry_spec.rb
  spec/lib/team_migration/east_of_england_spec.rb
  spec/lib/team_migration/leicestershire_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow writing to db/data
  Dockerfile
Owners: @nhsuk/mavis-devs-application

Redirect to a previously-stored redirect_uri parameter if it is safe to do so
  app/controllers/concerns/authentication_concern.rb
  app/controllers/pages_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/users/sessions/new.html.erb
  config/settings/test.yml
  spec/controllers/concerns/authentication_concern_spec.rb
  spec/features/user_cis2_authentication_from_redirect_spec.rb
  spec/support/redirect_helper.rb
Owners: @nhsuk/mavis-devs-application
