Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Re-enable reporting view ID index
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Fix linting errors
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  db/migrate/20250923070550_create_reporting_api_patient_programme_statuses.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Select distinct IDs for PatientProgrammeStatus
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Subtract 5 from patient_year_group for reporting
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Modify vaccinated_elsewhere_declared in view
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Add test for reporting total year groups
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Add school id and name to reporting view
  app/models/reporting_api/patient_programme_status.rb
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Only include vaccinations performed by each team
  db/schema.rb
  db/views/reporting_api_patient_programme_statuses_v01.sql
Owners: @nhsuk/mavis-devs-application

Export CSV from totals reporting endpoint
  app/controllers/api/reporting/totals_controller.rb
  app/models/reporting_api/patient_programme_status.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Refresh reporting data every hour
  app/jobs/reporting_api/refresh_job.rb
  config/sidekiq.yml
  spec/jobs/reporting_api/refresh_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add acceptance criteria
  spec/controllers/api/reporting/totals_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Add reset endpoint for reporting view
  app/controllers/api/reporting/reset_controller.rb
  config/routes.rb
  spec/controllers/api/reporting/reset_controller_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve invalid date validation
  app/controllers/draft_sessions_controller.rb
  spec/features/manage_school_sessions_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky test related to session being `nil`
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename `wait_for_jobs_to_finish`
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Fix inaccurate access logging in timeline ops tool
  app/controllers/inspect/timeline/patients_controller.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

remove e2e tests
  .github/workflows/test.yml
  .gitignore
  .prettierignore
  README.md
  package.json
  playwright.config.ts
  tests/accessibility.spec.ts
  yarn.lock
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-application

remove load tests
  .gitignore
  README.md
  package.json
  tests/load.ts
  tests/load.yml
  yarn.lock
Owners: @nhsuk/mavis-devs-application

remove tests and tests-examples directories
  .dockerignore
  .github/workflows/test.yml
  package.json
  tests-examples/demo-todo-app.spec.ts
  tests/.editorconfig
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

update README to show new home for e2e tests
  README.md
Owners: @nhsuk/mavis-devs-application

Add `gias_year_groups` column
  app/controllers/api/testing/locations_controller.rb
  app/jobs/patients_aged_out_of_school_job.rb
  app/lib/generate/cohort_imports.rb
  app/lib/generic_clinic_factory.rb
  app/lib/graph_records.rb
  app/lib/mavis_cli/gias/check_import.rb
  app/lib/mavis_cli/gias/import.rb
  app/lib/mavis_cli/schools/create.rb
  app/models/location.rb
  app/models/location_programme_year_group.rb
  db/migrate/20251001062016_add_gias_year_groups_to_locations.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/smoke.rake
  spec/factories/locations.rb
  spec/features/cli_gias_check_import_spec.rb
  spec/features/cli_schools_add_programme_year_groups_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/forms/patient_search_form_spec.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
  spec/lib/generic_clinic_factory_spec.rb
  spec/lib/graph_records_spec.rb
  spec/lib/programme_year_groups_spec.rb
  spec/models/location_programme_year_group_spec.rb
  spec/models/location_spec.rb
  spec/models/onboarding_spec.rb
  spec/requests/api/testing/locations_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `latest_location` association
  app/models/patient/vaccination_status.rb
  db/migrate/20250923095652_add_location_to_patient_vaccination_statuses.rb
  db/schema.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Set `latest_location` association
  app/lib/status_updater.rb
  app/models/patient/vaccination_status.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `StatusGenerator::Vaccination`
  app/lib/status_generator/vaccination.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `VaccinatedCriteria`
  app/components/app_session_overview_tallies_component.rb
  app/lib/already_had_notification_sender.rb
  app/lib/status_generator/consent.rb
  app/lib/status_generator/triage.rb
  app/lib/status_generator/vaccination.rb
  app/lib/vaccinated_criteria.rb
  spec/lib/already_had_notification_sender_spec.rb
  spec/lib/vaccinated_criteria_spec.rb
Owners: @nhsuk/mavis-devs-application

Run PDSCascadingSearchJob in daily UpdatePatientsFromPDSJob
  app/jobs/patient_update_from_pds_job.rb
  app/jobs/pds_cascading_search_job.rb
  app/lib/update_patients_from_pds.rb
  config/feature_flags.yml
  spec/jobs/patient_update_from_pds_job_spec.rb
  spec/jobs/pds_cascading_search_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Revert "Bump aws-actions/configure-aws-credentials from 5 to 6"
  .github/workflows/build-and-push-image.yml
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/deploy-application.yml
  .github/workflows/deploy-backup-infrastructure.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-monitoring.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy-infrastructure.yml
  .github/workflows/refresh-data-replication.yml
Owners: @nhsuk/vaccine-digital-service

Import grafana alerts
  terraform/monitoring/grafana/env/development.tfvars
  terraform/monitoring/grafana/env/production.tfvars
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/grafana/modules/development_alerts/README.md
  terraform/monitoring/grafana/modules/development_alerts/main.tf
  terraform/monitoring/grafana/modules/development_alerts/outputs.tf
  terraform/monitoring/grafana/modules/development_alerts/variables.tf
  terraform/monitoring/grafana/modules/production_alerts/README.md
  terraform/monitoring/grafana/modules/production_alerts/main.tf
  terraform/monitoring/grafana/modules/production_alerts/outputs.tf
  terraform/monitoring/grafana/modules/production_alerts/variables.tf
  terraform/monitoring/grafana/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Pass slack webhook
  .github/workflows/deploy-monitoring.yml
  terraform/monitoring/grafana/README.md
  terraform/monitoring/grafana/env/development.tfvars
  terraform/monitoring/grafana/env/production.tfvars
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/tf_grafana.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Ignore unused provider warning
  terraform/monitoring/grafana/modules/development_alerts/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Improve slack_webhook_url_handling
  .github/workflows/deploy-monitoring.yml
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/tf_grafana.sh
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Generate alert config via script
  terraform/monitoring/generate_alert_config.sh
  terraform/monitoring/grafana/.gitignore
  terraform/monitoring/grafana/README.md
  terraform/monitoring/grafana/modules/development_alerts/alerts.tf.tpl
  terraform/monitoring/grafana/modules/development_alerts/main.tf
  terraform/monitoring/tf_grafana.sh
Owners: @nhsuk/mavis-devs-infrastructure

Import remaining resources
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/grafana/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Add more alerts
  terraform/monitoring/generate_alert_config.sh
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/grafana/modules/development_alerts/alerts.tf.tpl
Owners: @nhsuk/mavis-devs-infrastructure

Do not create alerts from terraform per default
  terraform/monitoring/grafana/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Let alerts be editable in the UI
  terraform/monitoring/generate_alert_config.sh
Owners: @nhsuk/mavis-devs-infrastructure

Do not apply alerts.tf by default
  terraform/monitoring/grafana/README.md
  terraform/monitoring/grafana/main.tf
  terraform/monitoring/grafana/modules/development_alerts/alerts.tf.tpl
  terraform/monitoring/tf_grafana.sh
Owners: @nhsuk/mavis-devs-infrastructure

Add Action required and About this school sections to new session overview page
  app/components/app_session_actions_component.rb
  app/components/app_session_location_summary_component.rb
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
Owners: @nhsuk/mavis-devs-application

Do not send requests to parents of archived patients
  app/components/app_patient_session_consent_component.rb
  app/controllers/concerns/triage_mailer_concern.rb
  app/jobs/concerns/send_clinic_invitations_concern.rb
  app/jobs/concerns/send_school_consent_notification_concern.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/notification_parent_selector.rb
  app/models/patient.rb
  spec/controllers/concerns/triage_mailer_concern_spec.rb
  spec/controllers/concerns/vaccination_mailer_concern_spec.rb
  spec/factories/patients.rb
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/jobs/send_clinic_initial_invitations_job_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
  spec/jobs/send_manual_school_consent_reminders_job_spec.rb
  spec/jobs/send_school_session_reminders_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `SendSchoolConsentRequestsJob`
  app/jobs/concerns/send_school_consent_notification_concern.rb
  app/jobs/send_school_consent_requests_job.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
