Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Update PSD factory to use explicit prescriber association for created_by
  spec/factories/patient_specific_directions.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant factory trait
  spec/factories/patient_specific_directions.rb
Owners: @nhsuk/mavis-devs-application

Prevent HCAs from viewing patients on record tab without PSDs
  app/controllers/sessions/record_controller.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow HCAs to choose injection under national protocol instead of PSD
  app/components/app_vaccinate_form_component.html.erb
  app/controllers/sessions/record_controller.rb
  spec/features/flu_vaccination_hca_national_protocol_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow HCAs to administer nasal flu using PSD
  app/forms/vaccinate_form.rb
  app/models/draft_vaccination_record.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
  spec/forms/vaccinate_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Allow HCA's to use PGD supply with PSD and national protocols enabled
  app/components/app_vaccinate_form_component.html.erb
  app/forms/vaccinate_form.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

Adjust vaccination source backfilling logic
  db/migrate/20250829172505_add_source_to_vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Refactor PSD tags
  app/views/patient_sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor `psd_added?`
  app/forms/vaccinate_form.rb
  app/models/patient.rb
  app/models/patient_session.rb
  app/views/patient_sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Refactor how protocol is determined
  app/forms/vaccinate_form.rb
Owners: @nhsuk/mavis-devs-application

Refactor how supplier question is shown
  app/components/app_vaccinate_form_component.html.erb
  app/components/app_vaccinate_form_component.rb
  app/forms/vaccinate_form.rb
Owners: @nhsuk/mavis-devs-application

Allow filering on multiple vaccine methods
  app/models/patient/consent_status.rb
Owners: @nhsuk/mavis-devs-application

Ensure PGD supply is disabled when PSD is enabled
  app/components/app_vaccinate_form_component.html.erb
  app/components/app_vaccinate_form_component.rb
  app/controllers/sessions/record_controller.rb
  app/models/session.rb
  app/policies/vaccination_record_policy.rb
  app/views/sessions/record/show.html.erb
  spec/factories/patient_specific_directions.rb
  spec/factories/users.rb
  spec/features/flu_vaccination_hca_national_protocol_spec.rb
  spec/features/flu_vaccination_hca_pgd_supply_spec.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix: allow prescribers to remove PSD when doing a triage update
  app/controllers/patient_sessions/triages_controller.rb
  spec/features/triage_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix ViewComponent preview configuration
  config/application.rb
Owners: @nhsuk/mavis-devs-application

Remove AppTabComponent
  app/components/app_tab_component.html.erb
  app/components/app_tab_component.rb
  spec/components/app_tab_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Factor-out a shared example for common Reporting API controller behaviour - disabled by :reporting_api feature flag, and requiring a valid JWT to access :index
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/support/reporting_api_helper.rb
  spec/support/shared_examples/a_reporting_api_controller.rb
Owners: @nhsuk/mavis-devs-application

include and use the reporting_api_helper methods in spec
  spec/support/reporting_api_helper.rb
  spec/support/shared_examples/a_reporting_api_controller.rb
Owners: @nhsuk/mavis-devs-application

Fix link that allows user to cancel bulk adding PSDs
  app/views/sessions/patient_specific_directions/new.html.erb
Owners: @nhsuk/mavis-devs-application

Add missing client_id to reporting API settings
  config/settings.yml
Owners: @nhsuk/mavis-devs-application

Document reporting configuration
  README.md
  docs/reporting.md
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Ensure PSDs are created after verbal consent
  app/components/app_patient_session_triage_component.rb
  app/components/app_triage_form_component.html.erb
  app/components/app_triage_form_component.rb
  app/controllers/draft_consents_controller.rb
  app/controllers/patient_sessions/triages_controller.rb
  app/forms/triage_form.rb
  app/models/draft_consent.rb
  app/views/patient_sessions/programmes/show.html.erb
  config/locales/en.yml
  db/seeds.rb
  spec/components/app_patient_session_triage_component_spec.rb
  spec/features/verbal_consent_given_triage_psd_spec.rb
  spec/forms/triage_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure `patient_id` is not null
  app/models/vaccination_record.rb
  db/migrate/20250903153120_make_vaccination_record_patient_id_not_null.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `invalidated_at` column
  app/models/patient_specific_direction.rb
  db/migrate/20250903161554_add_invalidated_at_to_patient_specific_directions.rb
  db/schema.rb
  spec/factories/patient_specific_directions.rb
  spec/models/patient_specific_direction_spec.rb
Owners: @nhsuk/mavis-devs-application

Invalidate instead of destroying PSDs
  app/forms/triage_form.rb
  app/models/patient.rb
Owners: @nhsuk/mavis-devs-application

Verify that HCA's can't see triaged injected patients when national protocol is off
  spec/factories/patients.rb
  spec/features/flu_vaccination_hca_national_protocol_spec.rb
Owners: @nhsuk/mavis-devs-application

Invalidate PSDs when new consent is given
  app/controllers/patient_sessions/consents_controller.rb
  app/models/consent_form.rb
  spec/features/parental_consent_flu_spec.rb
Owners: @nhsuk/mavis-devs-application

Verify nasal vaccination works for triaged safe patients with health issues
  spec/factories/patients.rb
  spec/features/flu_vaccination_hca_pgd_supply_spec.rb
Owners: @nhsuk/mavis-devs-application

Associate PSDs with teams
  app/components/app_vaccinate_form_component.rb
  app/controllers/sessions/patient_specific_directions_controller.rb
  app/forms/triage_form.rb
  app/forms/vaccinate_form.rb
  app/models/patient.rb
  app/models/patient_specific_direction.rb
  app/models/team.rb
  app/policies/vaccination_record_policy.rb
  app/views/patient_sessions/_header.html.erb
  db/migrate/20250903164644_add_team_to_patient_specific_directions.rb
  db/schema.rb
  spec/factories/patient_specific_directions.rb
  spec/features/flu_vaccination_hca_national_protocol_spec.rb
  spec/features/flu_vaccination_hca_psd_spec.rb
  spec/models/patient_spec.rb
  spec/models/patient_specific_direction_spec.rb
Owners: @nhsuk/mavis-devs-application

Tidy up AppActivityLogComponent
  app/components/app_activity_log_component.rb
Owners: @nhsuk/mavis-devs-application

Add PSDs to activity log
  app/components/app_activity_log_component.rb
  spec/components/app_activity_log_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure previously invalidated PSDs can be created again
  app/forms/triage_form.rb
  spec/features/verbal_consent_given_triage_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

Invalidate PSDs during triage in most cases
  app/forms/triage_form.rb
  spec/features/triage_spec.rb
Owners: @nhsuk/mavis-devs-application

Use dig for safe nested array navigation
  app/views/vaccines/index.html.erb
Owners: @nhsuk/mavis-devs-application

Ensure PSD supplier is attached to vaccination record
  app/forms/vaccinate_form.rb
  config/locales/en.yml
  spec/features/flu_vaccination_hca_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

Update puma hooks
  config/puma.rb
Owners: @nhsuk/mavis-devs-application

Hide PSD tags on session activity page
  app/components/app_activity_log_component.rb
  app/views/patient_sessions/_header.html.erb
  spec/features/flu_vaccination_hca_psd_spec.rb
Owners: @nhsuk/mavis-devs-application

DB logging
  terraform/app/rds.tf
Owners: @nhsuk/mavis-devs-infrastructure

Remove logging from autocomplete JS unit test
  app/assets/javascripts/components/autocomplete.spec.js
Owners: @nhsuk/mavis-devs-application

Add sticky JavaScript component module
  app/assets/javascripts/application.js
  app/assets/javascripts/components/sticky.js
  app/assets/javascripts/components/sticky.spec.js
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
