Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Use numbered pagination in NHS.UK frontend
  app/assets/stylesheets/vendor/govuk-frontend/components/_index.scss
  app/assets/stylesheets/vendor/govuk-frontend/components/pagination/_index.scss
  app/assets/stylesheets/vendor/nhsuk-frontend/components/_index.scss
  app/components/app_pagination_component.rb
  app/components/app_pagination_component/next_page.rb
  app/components/app_pagination_component/previous_page.rb
  app/components/app_search_results_component.rb
  app/views/consent_forms/index.html.erb
  app/views/imports/show.html.erb
  app/views/patients/index.html.erb
  app/views/school_moves/index.html.erb
  config/initializers/govuk_components.rb
Owners: @nhsuk/mavis-devs-application

Convert null notes to "" in migration consent form
  db/migrate/20250922194253_add_reason_for_refusal_to_consent_form_programmes.rb
Owners: @nhsuk/mavis-devs-application

Remove bottom margin from session location heading when no caption provided
  app/views/sessions/_header.html.erb
Owners: @nhsuk/mavis-devs-application

Fix count and link for "Did not consent" on new session overview page
  app/components/app_session_overview_tallies_component.rb
  app/lib/stats/session.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix account stack
  terraform/account/iam.tf
  terraform/account/resources/iam_role_github_trust_policy_production.json.tftpl
Owners: @nhsuk/mavis-devs-infrastructure

Update default target service
  script/shell.sh
Owners: @nhsuk/mavis-devs-application

Update filter label for eligible children
  app/components/app_patient_search_form_component.rb
  spec/features/filtering_by_eligible_children_spec.rb
Owners: @nhsuk/mavis-devs-application

Add ROOT_URL to Reporting app env vars
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Create shell access policy
  terraform/account/iam.tf
  terraform/account/resources/iam_policy_EcsShellAccess.json
Owners: @nhsuk/mavis-devs-infrastructure

Rename policy for clarity
  terraform/account/iam.tf
  terraform/account/resources/iam_policy_SessionManagerAccess.json
Owners: @nhsuk/mavis-devs-infrastructure

Fix collection of release tasks
  script/draft_new_release.sh
Owners: @nhsuk/mavis-devs-application

Remove ‘happy’ from pre-screening question
  app/components/app_vaccinate_form_component.html.erb
  spec/features/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Disable default batch for MMR
  app/components/app_vaccinations_summary_table_component.html.erb
  app/models/programme.rb
  app/views/draft_vaccination_records/batch.html.erb
Owners: @nhsuk/mavis-devs-application

Update pre-screening questions
  app/components/app_vaccinate_form_component.html.erb
  spec/features/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix logic to check if import matched on NHS number
  app/models/patient_changeset.rb
Owners: @nhsuk/mavis-devs-application

Remove depracated import code
  app/models/concerns/csv_importable.rb
  app/models/patient_import.rb
  config/feature_flags.yml
Owners: @nhsuk/mavis-devs-application

Fix specs with PDS import search refactor
  spec/controllers/api/testing/teams_controller_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/features/import_child_records_preparation_spec.rb
  spec/features/import_child_records_spec.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/features/import_child_records_with_twins_spec.rb
  spec/features/import_class_lists_move_spec.rb
  spec/features/import_class_lists_spec.rb
  spec/features/import_class_lists_with_duplicates_spec.rb
  spec/fixtures/class_import/duplicates.csv
  spec/jobs/commit_patient_changesets_job_spec.rb
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
  spec/models/patient_import_spec.rb
  spec/support/shared_examples/a_csv_importable_model.rb
Owners: @nhsuk/mavis-devs-application

Fix migration failure by backfilling missing location_year_groups
  db/migrate/20251008073130_add_location_year_group_to_location_programme_year_groups.rb
Owners: @nhsuk/mavis-devs-application

Fix flaky class/cohort import test
  spec/models/class_import_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Add check for successful deployment
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Add check for successful data replication deployment
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Performance improvements for `Stats::Session` to speed up tally counting
  app/lib/stats/session.rb
Owners: @nhsuk/mavis-devs-application

Disable clinic-related communications for LPT
  app/models/session_notification.rb
  config/initializers/govuk_notify.rb
  spec/factories/notify_log_entries.rb
  spec/models/session_notification_spec.rb
Owners: @nhsuk/mavis-devs-application

Clearer copy when the session overview has no actions to show
  app/components/app_session_actions_component.rb
  spec/components/app_session_actions_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix nil `year_group` error when adding new MMR programme to draft session
  app/models/draft_session.rb
  spec/models/draft_session_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix: ensure session cohort count respects programme eligibility
  app/controllers/sessions_controller.rb
  app/models/patient.rb
  spec/features/programme_cohorts_spec.rb
Owners: @nhsuk/mavis-devs-application

Only accept exact dose volumes
  app/lib/fhir_mapper/vaccination_record.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Stop using columns to be removed
  app/components/app_patient_programmes_table_component.rb
  app/controllers/api/reporting/totals_controller.rb
  app/controllers/patient_sessions/base_controller.rb
  app/controllers/sessions/patients_controller.rb
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/lib/mavis_cli/schools/remove_programme_year_group.rb
  app/lib/programme_year_groups.rb
  app/lib/status_updater.rb
  app/models/draft_session.rb
  app/models/location.rb
  app/models/location/programme_year_group.rb
  app/models/location/year_group.rb
  app/models/patient.rb
  app/models/patient_location.rb
  app/models/session.rb
  app/models/team.rb
  db/migrate/20251010172137_make_location_programme_year_group_null.rb
  db/schema.rb
  spec/factories/location_programme_year_groups.rb
  spec/features/cli_schools_add_programme_year_groups_spec.rb
  spec/features/cli_schools_remove_programme_year_groups_spec.rb
  spec/features/programme_cohorts_spec.rb
  spec/models/location/programme_year_group_spec.rb
  spec/models/location_spec.rb
Owners: @nhsuk/mavis-devs-application

wip
  app/components/app_vaccinate_form_component.rb
  app/components/app_vaccinations_summary_table_component.html.erb
  app/components/app_vaccinations_summary_table_component.rb
  app/controllers/concerns/todays_batch_concern.rb
  app/controllers/patient_sessions/vaccinations_controller.rb
  app/controllers/sessions/record_controller.rb
  app/controllers/vaccines_controller.rb
  app/forms/vaccinate_form.rb
  app/views/vaccines/index.html.erb
  config/routes.rb
Owners: @nhsuk/mavis-devs-application

Add filter on consent without gelatine
  app/controllers/sessions/consent_controller.rb
  app/forms/patient_search_form.rb
  app/models/patient.rb
  app/models/session.rb
  spec/factories/patient_consent_statuses.rb
  spec/features/mmr_vaccination_administered_spec.rb
  spec/forms/patient_search_form_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove pinned versions
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Use github source in Gemfile
  Gemfile
  Gemfile.lock
Owners: @nhsuk/mavis-devs-application

Sort Gemfile
  Gemfile
Owners: @nhsuk/mavis-devs-application

Ensure Gemfile is linted
  hk.pkl
Owners: @nhsuk/mavis-devs-application

Don't ask about vaccine when refusal is given
  app/models/consent_form.rb
  spec/features/parental_consent_mmr_spec.rb
Owners: @nhsuk/mavis-devs-application

Add unit tests for `notes` in FHIR mapper
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Set explicit MISE_ENV=staging on reporting app
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update content shown in consent forms
  app/views/parent_interface/consent_forms/edit/reason_for_refusal.html.erb
  app/views/parent_interface/consent_forms/edit/reason_for_refusal_notes.html.erb
  app/views/parent_interface/consent_forms/edit/response_doubles.html.erb
  app/views/parent_interface/consent_forms/edit/response_flu.html.erb
  app/views/parent_interface/consent_forms/edit/response_hpv.html.erb
  app/views/parent_interface/consent_forms/edit/response_mmr.html.erb
  config/locales/en.yml
  config/locales/helpers.en.yml
Owners: @nhsuk/mavis-devs-application

Enqueue search job after patients are merged
  app/lib/patient_merger.rb
  spec/lib/patient_merger_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove remaining old import code
  app/models/patient_import_row.rb
  spec/models/class_import_row_spec.rb
  spec/models/class_import_spec.rb
  spec/models/cohort_import_row_spec.rb
  spec/models/cohort_import_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
