Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Update dashboard content for upload only teams
  app/controllers/dashboard_controller.rb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Hide session defaults for upload only teams
  app/views/teams/show.html.erb
Owners: @nhsuk/mavis-devs-application

Fix join in consents generator
  app/lib/generate/consents.rb
Owners: @nhsuk/mavis-devs-application

Refactor vaccination records generator cli
  app/lib/generate/vaccination_records.rb
  app/lib/mavis_cli/generate/vaccination_records.rb
  spec/features/cli_generate_vaccination_records_spec.rb
  spec/lib/generate/vaccination_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve seeds
  db/seeds.rb
Owners: @nhsuk/mavis-devs-application

[Prototype] Show bulk uploaded patients in "Children" page
  app/forms/patient_search_form.rb
Owners: @nhsuk/mavis-devs-application

Allow ngrok tunnel
  config/environments/development.rb
Owners: @nhsuk/mavis-devs-application

Associate patients in ImmsImports to the uploader's team
  app/models/concerns/contributes_to_patient_teams.rb
  app/models/patient_team.rb
  app/policies/vaccination_record_policy.rb
Owners: @nhsuk/mavis-devs-application

Allow bulk upload to edit bulk upload records
  app/policies/vaccination_record_policy.rb
Owners: @nhsuk/mavis-devs-application

Fix editing bulk uploaded records
  app/controllers/draft_vaccination_records_controller.rb
Owners: @nhsuk/mavis-devs-application

Add `disease_type` enum type
  db/migrate/20251215072047_create_disease_type.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Fix join in consents generator
  app/lib/generate/consents.rb
  spec/features/cli_generate_consents_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor vaccination records generator cli
  app/lib/generate/vaccination_records.rb
  app/lib/mavis_cli/generate/vaccination_records.rb
  spec/features/cli_generate_vaccination_records_spec.rb
  spec/lib/generate/vaccination_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `disease_types_enum` to `vaccines`
  app/models/concerns/has_disease_types.rb
  app/models/vaccine.rb
  db/migrate/20251215103351_add_disease_types_enum_to_vaccines.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor import review components to use separate template files
  app/components/app_details_component.rb
  app/components/app_import_review_component.html.erb
  app/components/app_import_review_component.rb
  app/components/app_import_review_issues_summary_component.rb
  app/components/app_import_review_records_summary_component.rb
  app/components/app_import_review_school_moves_summary_component.html.erb
  app/components/app_import_review_school_moves_summary_component.rb
  app/controllers/class_imports_controller.rb
  app/controllers/cohort_imports_controller.rb
  app/models/patient_changeset.rb
  spec/components/app_details_component_spec.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Nightly data replication refresh
  .github/workflows/data-replication-pipeline.yml
  .github/workflows/refresh-data-replication.yml
  .github/workflows/scheduled-data-replication-refresh.yml
Owners: @nhsuk/vaccine-digital-service

Update session title for clinics
  app/helpers/sessions_helper.rb
  spec/helpers/sessions_helper_spec.rb
Owners: @nhsuk/mavis-devs-application

Lock backup vault
  terraform/backup/destination/main.tf
  terraform/backup/source/main.tf
Owners: @nhsuk/mavis-devs-infrastructure

Ensure logs are readily available if task fails to start
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Marginal gains to human_enum_name performance
  app/models/concerns/human_enum_name_concern.rb
Owners: @nhsuk/mavis-devs-application

Add `disease_types` to `vaccination_records`
  app/models/vaccination_record.rb
  db/migrate/20251215114448_add_disease_types_to_vaccination_records.rb
  db/schema.rb
  spec/factories/vaccination_records.rb
  spec/models/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `data_migration:set_disease_types`
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Set `disease_types` on vaccination records
  app/jobs/patients_refused_consent_already_vaccinated_job.rb
  app/lib/fhir_mapper/vaccination_record.rb
  app/models/draft_vaccination_record.rb
  app/models/immunisation_import_row.rb
  spec/factories/vaccination_records.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_already_had_spec.rb
  spec/models/immunisation_import_row_spec.rb
Owners: @nhsuk/mavis-devs-application

Grafana specific permission groups have been created
  terraform/monitoring/aws/env/development.tfvars
  terraform/monitoring/aws/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Fix log prefix
  terraform/assurance_testing/ecs.tf
Owners: @nhsuk/mavis-devs-infrastructure

remove extra triage deletion
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

Allow `set_disease_types` to continue from where it left off
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Always run E2E tests against PR base
  .github/workflows/create_dockerized_db.yml
  .github/workflows/end-to-end-tests.yml
  .github/workflows/test.yml
  terraform/assurance_testing/ecs.tf
  terraform/assurance_testing/main.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Allow patient search by exact NHS number
  app/forms/patient_search_form.rb
  app/models/patient.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace `vaccines` `disease_types_enum`
  app/models/vaccine.rb
  db/migrate/20251215105432_replace_vaccine_disease_types.rb
  db/schema.rb
  spec/factories/vaccines.rb
  spec/models/vaccine_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove action required
  app/components/app_patient_session_search_result_card_component.rb
  app/models/patient.rb
  app/views/sessions/record/show.html.erb
  app/views/sessions/register/show.html.erb
  config/locales/activity.en.yml
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/features/doubles_vaccination_administered_spec.rb
  spec/features/manage_attendance_spec.rb
  spec/models/patient_spec.rb
Owners: @nhsuk/mavis-devs-application

Update stats to use programme status only
  app/components/app_session_stats_component.rb
  app/lib/stats/session.rb
  spec/components/app_session_overview_component_spec.rb
  spec/features/tallying_session_overview_spec.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't show vaccination status
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_vaccination_component.rb
  app/components/app_session_actions_component.rb
  app/controllers/sessions/patients_controller.rb
  app/views/patients/index.html.erb
  app/views/programmes/patients/index.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/register/show.html.erb
  spec/components/app_patient_programmes_table_component_spec.rb
  spec/components/app_patient_search_result_card_component_spec.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
  spec/components/app_patient_session_vaccination_component_spec.rb
  spec/factories/patients.rb
  spec/features/filter_state_persistence_spec.rb
  spec/features/hpv_vaccination_delayed_spec.rb
  spec/features/manage_children_spec.rb
  spec/features/triage_invite_to_clinic_spec.rb
  spec/features/vaccination_offline_spec.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Add v02 of the totals view
  db/migrate/20251215120449_update_reporting_api_totals_to_version_2.rb
  db/views/reporting_api_totals_v02.sql
Owners: @nhsuk/mavis-devs-application

Ignore `Faraday::TooManyRequestsError` in non-production
  config/initializers/sentry.rb
Owners: @nhsuk/mavis-devs-application

Fix gender filter in reporting API totals view
  app/models/reporting_api/total.rb
  db/migrate/20251215120449_update_reporting_api_totals_to_version_2.rb
  db/schema.rb
  db/views/reporting_api_totals_v02.sql
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::CreateClinicNotification`
  app/lib/data_migration/create_clinic_notifications.rb
  lib/tasks/data_migration.rake
  spec/lib/data_migration/create_clinic_notifications_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove old clinic session notifications
  app/models/session_notification.rb
Owners: @nhsuk/mavis-devs-application

Add `data_migration:delete_clinic_session_notifications`
  lib/tasks/data_migration.rake
Owners: @nhsuk/mavis-devs-application

Add `GenericClinicSessionFinder`
  app/controllers/sessions/invite_to_clinic_controller.rb
  app/lib/generic_clinic_session_finder.rb
  app/models/consent_form.rb
  app/models/session.rb
  app/models/team.rb
  spec/lib/notifier/consent_form_spec.rb
Owners: @nhsuk/mavis-devs-application
