Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Add feature flag for ops tools
  app/controllers/concerns/inspect_authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  config/feature_flags.yml
  spec/controllers/concerns/inspect_authentication_concern_spec.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace CodeDeploy with ECS deployment controller
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/loadbalancer.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/outputs.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update workflow to only use ECS deployment
  .github/workflows/deploy-application.yml
Owners: @nhsuk/vaccine-digital-service

Add logout feature spec to prevent regressions
  spec/features/logout_spec.rb
Owners: @nhsuk/mavis-devs-application

Create TimelineRecords module for patient event history visualisation
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Update sample_patient function to return nil when no comparison option is selected
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Improve graph_records.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Update functional test
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Adjust display fields for new data structure
  lib/graph_records.rb
  spec/lib/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Add toggle for `show_pii` mode in the UI
  app/controllers/inspect/graphs_controller.rb
Owners: @nhsuk/mavis-devs-application

Add controller, route and view for the frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add ability to show PII related information on the timeline
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  lib/timeline_records.rb
  spec/lib/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor timeline config
  lib/timeline_records.rb
Owners: @nhsuk/mavis-devs-application

Add timeline UI with configurable filters for patient events
  app/components/app_timeline_component.rb
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
  config/routes.rb
  lib/timeline_records.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Create feature test
  spec/features/graph_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Limit access to ops tools to support users only
  app/controllers/concerns/authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/dashboard/index.html.erb
  config/routes.rb
  spec/features/user_cis2_authentication_inspect_non_support_spec.rb
  spec/features/user_cis2_authentication_inspect_support_spec.rb
Owners: @nhsuk/mavis-devs-application

Enforce graph PII access controls on frontend
  app/controllers/inspect/graphs_controller.rb
  app/views/inspect/graphs/show.html.erb
Owners: @nhsuk/mavis-devs-application

Enforce timeline PII access controls on frontend
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  app/controllers/inspect/timeline/patients_controller.rb
  app/views/inspect/timeline/patients/show.html.erb
Owners: @nhsuk/mavis-devs-application

Add function to authenticate ops users with PII access
  app/controllers/concerns/authentication_concern.rb
  app/models/cis2_info.rb
Owners: @nhsuk/mavis-devs-application

Add feature tests for support access to tools
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove production constraint on ops endpoints
  config/routes.rb
  spec/features/graph_records_spec.rb
  spec/features/timeline_records_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix tests after rebase
  app/components/app_timeline_filter_component.html.erb
  app/components/app_timeline_filter_component.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Add support user type to User model
  app/models/cis2_info.rb
  app/models/user.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Restrict PII access to eligible ops users
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Add column to access log to store request details
  app/models/access_log_entry.rb
  db/migrate/20250926113321_add_request_details_to_access_log_entry.rb
  db/schema.rb
  spec/factories/access_log_entries.rb
  spec/models/access_log_entry_spec.rb
Owners: @nhsuk/mavis-devs-application

Add access logging for PII mode in timeline and graphs
  app/models/access_log_entry.rb
Owners: @nhsuk/mavis-devs-application

Log PII access for graph view
  app/controllers/inspect/graphs_controller.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application

Add unit tests for PII access logging
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

Add feature flag for ops tools
  app/controllers/concerns/inspect_authentication_concern.rb
  app/controllers/inspect/dashboard_controller.rb
  app/controllers/inspect/graphs_controller.rb
  app/controllers/inspect/timeline/patients_controller.rb
  config/feature_flags.yml
  spec/controllers/concerns/inspect_authentication_concern_spec.rb
  spec/features/user_cis2_authentication_inspect_support_no_pii_spec.rb
  spec/features/user_cis2_authentication_inspect_support_with_pii_spec.rb
Owners: @nhsuk/mavis-devs-application

Log request details for PII accesses in timeline
  app/controllers/inspect/timeline/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

Fix environment variable name
  .github/workflows/data-replication-pipeline.yml
Owners: @nhsuk/vaccine-digital-service

Ensure ops tools feature specs enable the feature flag first
  spec/features/identity_check_spec.rb
  spec/features/inspect_graph_pii_access_logging_spec.rb
  spec/features/inspect_timeline_pii_access_logging_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix wording in GovUK Notify
  app/lib/govuk_notify_personalisation.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Create `send_vaccination_discovered_if_required`
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/models/consent.rb
  config/initializers/govuk_notify.rb
  db/migrate/20250930072038_add_patient_already_vaccinated_notification_sent_at_to_consents.rb
  db/schema.rb
  spec/controllers/concerns/vaccination_mailer_concern_spec.rb
  spec/factories/consents.rb
  spec/models/consent_spec.rb
Owners: @nhsuk/mavis-devs-application

Extract `send_vaccination_discovered_if_required` into service class
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/lib/already_had_notification_sender.rb
  spec/controllers/concerns/vaccination_mailer_concern_spec.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/lib/already_had_notification_sender_spec.rb
Owners: @nhsuk/mavis-devs-application

Call `send_vaccination_discovered_if_required` where appropriate
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/immunisation_import.rb
  spec/features/edit_vaccination_record_spec.rb
  spec/features/flu_vaccination_administered_spec.rb
  spec/features/hpv_vaccination_administered_spec.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
  spec/models/immunisation_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `parents_for_vaccination_mailer` into service class
  app/controllers/concerns/vaccination_mailer_concern.rb
  app/lib/notification_parent_selector.rb
  spec/lib/notification_parent_selector_spec.rb
Owners: @nhsuk/mavis-devs-application

Extract PDS cascading search logic into separate job
  app/jobs/pds_cascading_search_job.rb
  app/jobs/process_patient_changeset_job.rb
  app/jobs/process_patient_changesets_job.rb
  app/models/concerns/csv_importable.rb
  app/models/patient_changeset.rb
  spec/features/import_child_records_spec.rb
  spec/jobs/pds_cascading_search_job_spec.rb
  spec/jobs/process_patient_changeset_job_spec.rb
  spec/jobs/process_patient_changesets_job_spec.rb
  spec/support/imports_helper.rb
Owners: @nhsuk/mavis-devs-application

Reintroduce approval step before deployment
  .github/workflows/deploy-application.yml
  terraform/app/outputs.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Move `TimelineRecords` and `GraphRecords`
  .rubocop.yml
  app/lib/graph_records.rb
  app/lib/timeline_records.rb
  lib/graph_records.rb
Owners: @nhsuk/mavis-devs-application
