Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure

Remove `UpdatesPatientTeam` from `VaccinationRecord`
  app/controllers/draft_vaccination_records_controller.rb
  app/models/vaccination_record.rb
  spec/factories/vaccination_records.rb
  spec/lib/patient_team_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `PatientStatusResolver#triage`
  app/components/app_patient_session_triage_component.html.erb
  app/components/app_patient_session_triage_component.rb
  app/lib/patient_status_resolver.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor status generator programme argument
  app/lib/already_had_notification_sender.rb
  app/lib/status_generator/consent.rb
  app/lib/status_generator/programme.rb
  app/lib/status_generator/triage.rb
  app/lib/status_generator/vaccination.rb
  app/models/draft_vaccination_record.rb
  app/models/patient/consent_status.rb
  app/models/patient/programme_status.rb
  app/models/patient/triage_status.rb
  app/models/patient/vaccination_status.rb
  spec/lib/status_generator/consent_spec.rb
  spec/lib/status_generator/programme_spec.rb
  spec/lib/status_generator/triage_spec.rb
  spec/lib/status_generator/vaccination_spec.rb
Owners: @nhsuk/mavis-devs-application

Refactor `UnsupportedProgramme`
  app/lib/programme_grouper.rb
  app/lib/status_generator/vaccination.rb
  app/lib/unsupported_programme.rb
  app/lib/unsupported_programme_type.rb
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Remove `PatientStatusResolver#consent`
  app/components/app_patient_session_consent_component.html.erb
  app/components/app_patient_session_consent_component.rb
  app/lib/patient_status_resolver.rb
  app/lib/status_generator/triage.rb
  app/lib/status_generator/vaccination.rb
  spec/components/app_patient_session_consent_component_spec.rb
  spec/factories/patients.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify `PatientStatusResolver`
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  app/components/app_patient_session_section_component.rb
  app/components/app_patient_session_vaccination_component.rb
  app/lib/patient_programme_status_resolver.rb
  app/lib/patient_status_resolver.rb
  config/locales/status.en.yml
  spec/lib/patient_programme_status_resolver_spec.rb
  spec/lib/patient_status_resolver_spec.rb
Owners: @nhsuk/mavis-devs-application

Hide "Change" vaccinator and dose sequence buttons for PoC users
  app/views/draft_vaccination_records/confirm.html.erb
Owners: @nhsuk/mavis-devs-application

Filter schools when editing location on NR records
  app/controllers/draft_vaccination_records_controller.rb
  app/views/draft_vaccination_records/location.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Rename functional tests to end-to-end tests
  .github/workflows/end-to-end-tests.yml
Owners: @nhsuk/vaccine-digital-service

Don't show programme status row if there are no statuses
  app/components/app_patient_search_result_card_component.rb
Owners: @nhsuk/mavis-devs-application

Refactor eligibility scope
  app/lib/stats/session.rb
  app/models/patient.rb
  app/models/patient/programme_status.rb
  spec/components/app_session_overview_component_spec.rb
  spec/features/filtering_by_eligible_children_spec.rb
  spec/features/tallying_session_overview_spec.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Stop using `Patient::VaccinationStatus`
  app/components/app_activity_log_component.rb
  app/components/app_triage_form_component.rb
  app/controllers/draft_sessions_controller.rb
  app/forms/triage_form.rb
  app/jobs/concerns/send_school_consent_notification_concern.rb
  app/jobs/send_clinic_initial_invitations_job.rb
  app/jobs/send_clinic_subsequent_invitations_job.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/already_had_notification_sender.rb
  app/lib/govuk_notify_personalisation.rb
  app/lib/next_dose_triage_factory.rb
  app/lib/notifier/consent.rb
  app/lib/status_generator/programme.rb
  app/models/patient.rb
  app/policies/attendance_record_policy.rb
  app/policies/vaccination_record_policy.rb
  app/views/patient_sessions/_header.html.erb
  spec/components/app_activity_log_component_spec.rb
  spec/factories/patients.rb
  spec/features/edit_session_dates_spec.rb
  spec/features/edit_session_programmes_spec.rb
  spec/jobs/send_automatic_school_consent_reminders_job_spec.rb
  spec/jobs/send_clinic_subsequent_invitations_job_spec.rb
  spec/jobs/send_school_consent_requests_job_spec.rb
  spec/lib/status_generator/programme_spec.rb
  spec/lib/status_updater_spec.rb
  spec/models/patient/triage_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Stop updating `Patient::VaccinationStatus`
  app/lib/status_updater.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `Patient::VaccinationStatus`
  app/models/patient/vaccination_status.rb
  db/migrate/20250718090719_add_academic_year_to_patient_statuses.rb
  spec/factories/patient_vaccination_statuses.rb
  spec/models/patient/vaccination_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Add Rake task for generating RDoc documentation
  lib/tasks/rdoc.rake
Owners: @nhsuk/mavis-devs-application

Add GitHub Action for deploying RDoc documentation
  .github/workflows/deploy-documentation.yml
Owners: @nhsuk/vaccine-digital-service

Enable bundler caching in deploy-documentation workflow
  .github/workflows/deploy-documentation.yml
Owners: @nhsuk/vaccine-digital-service

Fix typo in RDoc generation task in deploy-documentation workflow
  .github/workflows/deploy-documentation.yml
Owners: @nhsuk/vaccine-digital-service

Allow national reporting users to edit vaccine and batch
  app/controllers/draft_vaccination_records_controller.rb
  app/models/draft_vaccination_record.rb
  app/views/draft_vaccination_records/batch.html.erb
  config/locales/en.yml
Owners: @nhsuk/mavis-devs-application

Add "Change" links on the Vaccine and batch expiry date rows
  app/components/app_vaccination_record_summary_component.rb
  app/views/draft_vaccination_records/batch.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `BatchNameValidator`
  app/forms/batch_form.rb
  app/models/immunisation_import_row.rb
  app/validators/batch_name_validator.rb
  spec/validators/batch_name_validator_spec.rb
Owners: @nhsuk/mavis-devs-application

Display `nivs_name` on vaccines for national reporting users
  app/components/app_vaccination_record_summary_component.rb
Owners: @nhsuk/mavis-devs-application

Remove references to import issues in the UI
  app/components/app_imports_navigation_component.rb
  app/controllers/concerns/navigation_concern.rb
  app/policies/import/issue_policy.rb
  app/views/imports/_header.html.erb
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/features/upload_only_team_spec.rb
  spec/policies/import/issue_policy_spec.rb
Owners: @nhsuk/mavis-devs-application

Add RDoc links to README for `next` and `release` versions
  README.md
Owners: @nhsuk/mavis-devs-application

Show team schools and clinics for current academic year
  app/controllers/teams_controller.rb
  app/views/teams/clinics.html.erb
  app/views/teams/schools.html.erb
Owners: @nhsuk/mavis-devs-application

Make data replication self-manage credentials
  .github/workflows/refresh-data-replication.yml
  terraform/app/outputs.tf
  terraform/data_replication/iam.tf
  terraform/data_replication/rds.tf
  terraform/data_replication/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@3087bcc085dd735ab10e04588a2b3768ee018537 🚀
  docs/rdoc/next/TeamsController.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@9efe5c71ecdbdf2e86051afa40cdae5d95ec345a 🚀
  docs/rdoc/next/README_md.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/index.html
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@c68fb292cc1186fbbf7bc4307a07f1a78f5e1641 🚀
  docs/rdoc/next/AppImportsNavigationComponent.html
  docs/rdoc/next/ImmunisationImportRow.html
  docs/rdoc/next/Import/IssuePolicy.html
  docs/rdoc/next/NavigationConcern.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Make support ods code configurable
  app/models/cis2_info.rb
  config/settings.yml
  config/settings/staging.yml
Owners: @nhsuk/mavis-devs-application

Handle external or missing practitioner user
  app/lib/fhir_mapper/vaccination_record.rb
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@380c1804573c73823fdb5eff54ad0566ee9f5771 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@07e3057604b9c04e57083b5dc72551b2bd81b4dc 🚀
  docs/rdoc/next/FHIRMapper/VaccinationRecord.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Fix flaky test
  spec/lib/status_generator/programme_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@ecc502a3176923203fdb8c8b702f5da8c8a4b070 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Change Schools column header to "URN"
  app/views/teams/schools.html.erb
Owners: @nhsuk/mavis-devs-application

Remove unused append functionality from autocomplete
  app/assets/javascripts/components/autocomplete.js
  app/assets/javascripts/components/autocomplete.spec.js
Owners: @nhsuk/mavis-devs-application

Remove use of `enhancedOptions` in Autocomplete
  app/assets/javascripts/components/autocomplete.js
Owners: @nhsuk/mavis-devs-application

Remove unneeded element type guard for Autocomplete
  app/assets/javascripts/components/autocomplete.js
Owners: @nhsuk/mavis-devs-application

Simplify selectedOption code in Autocomplete
  app/assets/javascripts/components/autocomplete.js
Owners: @nhsuk/mavis-devs-application
