Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Add ReportingApi::OneTimeToken model (+ spec, factory)
  app/models/reporting_api.rb
  app/models/reporting_api/one_time_token.rb
  config/settings.yml
  db/migrate/20250702170322_add_one_time_tokens.rb
  db/schema.rb
  spec/factories/one_time_tokens.rb
  spec/models/reporting_api/one_time_token_spec.rb
Owners: @nhsuk/mavis-devs-application

Closer alignment with OAUTH2.0 spec
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/one_time_tokens_controller.rb
  app/controllers/pages_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/views/users/sessions/new.html.erb
  config/feature_flags.yml
  config/initializers/devise.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  db/migrate/20250722121803_rename_pwd_auth_session_token_to_reporting_app_session_token.rb
  db/schema.rb
  spec/controllers/concerns/authentication_concern_spec.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
  spec/controllers/one_time_tokens_controller_spec.rb
  spec/factories/users.rb
  spec/features/user_cis2_authentication_with_redirect_spec.rb
  spec/models/user_spec.rb
  spec/support/redirect_helper.rb
Owners: @nhsuk/mavis-devs-application

Add PlantUML diagrams for auth flow between Mavis and the reporting app
  docs/architecture.adoc
  docs/diagrams/reporting_auth/high-level-auth-flow-with-mavis-and-CIS2.puml
  docs/diagrams/reporting_auth/high-level-auth-flow-with-reporting-app.puml
  docs/diagrams/reporting_auth/user-logs-in-to-mavis-with-local-pwd.puml
  docs/diagrams/reporting_auth/user-visits-the-reporting-app.puml
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

use port 5001 for the reporting app, as Mac OSX often has a service permanently running on port 5000
  config/settings/test.yml
  spec/support/redirect_helper.rb
Owners: @nhsuk/mavis-devs-application

stop the user getting caught in an infinite redirect loop when the reporting_app feature flag is disabled but they log in with a reporting app redirect param
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/one_time_tokens_controller.rb
  app/controllers/reporting_api/totals_controller.rb
  app/models/one_time_token.rb
  config/initializers/devise.rb
  db/schema.rb
  spec/controllers/concerns/authentication_concern_spec.rb
  spec/controllers/one_time_tokens_controller_spec.rb
  spec/features/user_cis2_authentication_with_redirect_spec.rb
Owners: @nhsuk/mavis-devs-application

move the OneTimeToken model/controller under the Reporting:: scope move /tokens/authorize to /reporting-api/authorize use new /api/reporting routes for all reporting endpoints including authorization.
  Dockerfile
  Gemfile.lock
  app/controllers/api/reporting/base_controller.rb
  app/controllers/api/reporting/one_time_tokens_controller.rb
  app/controllers/api/reporting/totals_controller.rb
  app/controllers/concerns/authentication_concern.rb
  app/controllers/concerns/token_authentication_concern.rb
  app/controllers/reporting_api/totals_controller.rb
  app/models/reporting/one_time_token.rb
  app/models/user.rb
  config/feature_flags.yml
  config/routes.rb
  config/settings/test.yml
  spec/controllers/api/reporting/one_time_tokens_controller_spec.rb
  spec/controllers/api/reporting/totals_controller_spec.rb
  spec/controllers/concerns/authentication_concern_spec.rb
  spec/controllers/concerns/token_authentication_concern_spec.rb
  spec/features/user_cis2_authentication_with_redirect_spec.rb
  spec/support/redirect_helper.rb
Owners: @nhsuk/mavis-devs-application

schema update after migrate
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

remove now-renamed reporting/one_time_token.rb
  app/models/reporting/one_time_token.rb
Owners: @nhsuk/mavis-devs-application

updates after rebasing
  app/models/user.rb
  db/migrate/20250703111056_add_cis2_info_to_one_time_tokens.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

add reporting_app_session_token attribute to user, and has_one :reporting_api_one_time_token relation. Not used anywhere yet, but a future PR will do so.
  app/models/user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Replace onboard Rake task
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/teams/onboard.rb
  docs/managing-teams.md
  lib/tasks/onboard.rake
  script/set_up_coventry.sh
  spec/features/cli_teams_list_spec.rb
  spec/features/cli_teams_onboard_spec.rb
Owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service

Fix syntax of onboarding configuration
  config/onboarding/coventry-training.yaml
  config/onboarding/hertfordshire-training.yaml
  config/onboarding/leicestershire-training.yaml
  config/onboarding/smoke-test.yml
Owners: @nhsuk/mavis-devs-application

Add rollover training onboarding configuration
  config/onboarding/rollover-training.yaml
  script/rollover_training/set_up.sh
Owners: @nhsuk/mavis-devs-application

Turn off preparation period in QA
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Reduce generate class indentation
  lib/generate/cohort_imports.rb
  lib/generate/consents.rb
  lib/generate/triages.rb
  lib/generate/vaccination_records.rb
Owners: @nhsuk/mavis-devs-application

Update Generate::CohortImports interface
  app/lib/mavis_cli/generate/cohort_imports.rb
  lib/generate/cohort_imports.rb
  spec/features/cli_generate_cohort_imports_spec.rb
  spec/lib/generate/cohort_imports_spec.rb
Owners: @nhsuk/mavis-devs-application

Generate cohort imports with multiple programmes
  app/lib/mavis_cli/generate/cohort_imports.rb
  lib/generate/cohort_imports.rb
  spec/features/cli_generate_cohort_imports_spec.rb
  spec/lib/generate/cohort_imports_spec.rb
Owners: @nhsuk/mavis-devs-application

Memoise cohort_import_csv_filepath
  lib/generate/cohort_imports.rb
Owners: @nhsuk/mavis-devs-application

Add script to generate cohort imports
  script/rollover_training/generate.sh
Owners: @nhsuk/mavis-devs-application

Add script to create sessions
  script/rollover_training/create_sessions.sh
Owners: @nhsuk/mavis-devs-application

add reporting_app_session_token attribute to user, and has_one :reporting_api_one_time_token relation. Not used anywhere yet, but a future PR will do so.
  app/models/user.rb
  db/migrate/20250808182416_add_reporting_api_session_token_to_user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix specs for consent and invitation jobs
  spec/components/app_session_card_component_spec.rb
  spec/jobs/send_clinic_initial_invitations_job_spec.rb
  spec/jobs/send_school_consent_requests_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Enable preparation period from 18th August
  terraform/app/env/production.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Revert "Turn off preparation period in QA"
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Add docs for commissioner reporting authentication
  docs/diagrams/reporting_auth/high-level-auth-flow-with-mavis-and-CIS2.puml
  docs/diagrams/reporting_auth/high-level-auth-flow-with-reporting-app.puml
  docs/diagrams/reporting_auth/user-logs-in-to-mavis-with-local-pwd.puml
  docs/diagrams/reporting_auth/user-visits-the-reporting-app.puml
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

Avoid loading CSV files twice
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/gias/import.rb
  lib/tasks/gp_practices.rake
Owners: @nhsuk/mavis-devs-application

Reset progress bar between feature test runs
  spec/spec_helper.rb
Owners: @nhsuk/mavis-devs-application

Change github-branch in the reporting component auth adoc
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

Show eligible programmes on patient page
  app/components/app_patient_programmes_table_component.rb
  app/models/patient_session.rb
  app/views/patients/show.html.erb
  lib/core_ext/integer/year_group.rb
  spec/components/app_patient_programmes_table_component_spec.rb
  spec/features/vaccination_programmes_spec.rb
Owners: @nhsuk/mavis-devs-application

Improve team destruction endpoint
  app/controllers/api/testing/teams_controller.rb
Owners: @nhsuk/mavis-devs-application

fix: link missing NHS number overview to children tab
  app/components/app_session_actions_component.rb
  app/components/app_session_needs_review_warning_component.rb
Owners: @nhsuk/mavis-devs-application

Don't check patient pending changes on vaccination record
  app/controllers/imports/issues_controller.rb
  app/models/concerns/pending_changes_concern.rb
  app/models/patient.rb
  app/models/vaccination_record.rb
Owners: @nhsuk/mavis-devs-application

Only show aged out filter in global child view
  app/components/app_patient_search_form_component.rb
  app/views/consent_forms/search.html.erb
  app/views/patients/index.html.erb
Owners: @nhsuk/mavis-devs-application

Make rate limiting configurable
  app/jobs/concerns/nhs_api_concurrency_concern.rb
  app/jobs/consent_form_matching_job.rb
  app/jobs/patient_nhs_number_lookup_job.rb
  app/jobs/patient_update_from_pds_job.rb
Owners: @nhsuk/mavis-devs-application

Rate limit immunisations API requests
  app/jobs/sync_vaccination_record_to_nhs_job.rb
Owners: @nhsuk/mavis-devs-application

remove the outdataed `:github-repo:` line from authentication adoc
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

Expand patient and activity pages to full width
  app/controllers/patients_controller.rb
Owners: @nhsuk/mavis-devs-application

put correct repo ref in, as it now shows a missing image
  docs/reporting-component-authentication.adoc
Owners: @nhsuk/vaccine-digital-service

Fix `notify_parents` logic
  app/lib/vaccination_notification_criteria.rb
  spec/lib/vaccination_notification_criteria_spec.rb
Owners: @nhsuk/mavis-devs-application

Create a service discovery setup for cross service communication
  terraform/app/codedeploy.tf
  terraform/app/ecs.tf
  terraform/app/iam_policy_documents.tf
  terraform/app/kms.tf
  terraform/app/loadbalancer.tf
  terraform/app/modules/ecs_service/main.tf
  terraform/app/modules/ecs_service/variables.tf
  terraform/app/rds.tf
  terraform/app/valkey.tf
  terraform/app/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
