Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@ecdc73cb69d065604f4f1f1e1bd51e7150f5429c 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@3b7e9ae39737bf8506079b0e479f27eb4d21f09c 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Stop using `Patient::TriageStatus`
  app/lib/generate/triages.rb
  app/models/patient.rb
  spec/components/app_patient_programmes_table_component_spec.rb
  spec/components/app_patient_session_triage_component_spec.rb
  spec/components/app_vaccinate_form_component_spec.rb
  spec/factories/patients.rb
  spec/features/tallying_session_overview_spec.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Stop updating `Patient::TriageStatus`
  app/lib/status_updater.rb
  spec/lib/status_updater_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `Patient::TriageStatus`
  app/models/patient/triage_status.rb
  spec/factories/patient_triage_statuses.rb
  spec/models/patient/triage_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Track consent status on programme status
  app/lib/status_generator/programme.rb
  app/lib/status_updater.rb
  app/models/patient/programme_status.rb
  db/migrate/20260122080105_add_consent_status_to_patient_programme_statuses.rb
  db/schema.rb
  spec/factories/patient_programme_statuses.rb
  spec/lib/status_generator/programme_spec.rb
  spec/models/patient/programme_status_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@16c887b179b81edd7bebab5eb1477ae349afb220 🚀
  docs/rdoc/next/Patient/ProgrammeStatus.html
  docs/rdoc/next/StatusGenerator/Programme.html
  docs/rdoc/next/StatusUpdater.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@97c19a4e89464fae15cc4cc635e04b68e4826bd0 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@fc1a29f148289e7fc7872adb04471496844e563e 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@7700620e48b1581dddcba3fab5a8162b94f4a8df 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@7331eda13e0e2f817417dbb530989060edd03919 🚀
  docs/rdoc/next/NHS/ImmunisationsAPI.html
  docs/rdoc/next/VaccinationRecordSyncToNHSImmunisationsAPIConcern.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Create test for an upload with all not administered records
  spec/features/import_vaccination_records_bulk_spec.rb
  spec/fixtures/immunisation_import_bulk/valid_only_vaccinated_n_records.csv
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@add5fb9c4196505438569074796db17339c157aa 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@9952293de105a3bc6575f29dbb27c83527199d0c 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@e9ce4d1681daa8e955607dc04d164671f1a623a6 🚀
  docs/rdoc/next/DraftVaccinationRecord.html
  docs/rdoc/next/FHIRMapper/VaccinationRecord.html
  docs/rdoc/next/ImmunisationImportRow.html
  docs/rdoc/next/VaccinationRecord.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@8ce69c01c68bff99aa774285336ec188e7974abc 🚀
  docs/rdoc/next/Consent.html
  docs/rdoc/next/ConsentForm.html
  docs/rdoc/next/Location.html
  docs/rdoc/next/Refusable.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@82651e3f63056b9d18fa2b1970fe7f0011f3a5aa 🚀
  docs/rdoc/next/Reports/SchoolMovesExporter.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Add failing test for MMRV disease types
  spec/lib/fhir_mapper/vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Ensure target diseases for MMRV are generated correctly
  app/models/programme/variant.rb
Owners: @nhsuk/mavis-devs-application

Use server-side search for vaccs record location in national reporting
  app/controllers/draft_vaccination_records_controller.rb
  app/views/draft_vaccination_records/location.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@b9603fa1f1a56c8b7abd84dfcbdb50acd8fe830c 🚀
  docs/rdoc/next/Programme/Variant.html
  docs/rdoc/next/created.rid
  docs/rdoc/next/js/search_data.js
Owners: @nhsuk/vaccine-digital-service

Present options for unknown school and home-schooled
  app/controllers/draft_vaccination_records_controller.rb
  app/views/draft_vaccination_records/location.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove redundant code in Autocomplete
  app/assets/javascripts/components/autocomplete.js
  app/assets/javascripts/components/autocomplete.spec.js
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@bf1aa2d94552ff2f8ba2561198286dafab8d6bb4 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@32eda85abdb604719ea6ede66f7b5d8da4ff577e 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Only handle unknown location, not home-schooled on national reporting records
  app/controllers/draft_vaccination_records_controller.rb
  app/views/draft_vaccination_records/location.html.erb
  spec/features/edit_vaccination_record_spec.rb
Owners: @nhsuk/mavis-devs-application

Add CLI tool to "reset" a national reporting team
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/factories/vaccination_records.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Add input to capture_output
  spec/support/capture_output.rb
Owners: @nhsuk/mavis-devs-application

Add feature flag check to reset-bulk-upload cli
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove archive reasons in reset-bulk-upload cli
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Add prompt to mavis teams reset-bulk-upload cli
  .rubocop.yml
  app/lib/mavis_cli.rb
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Don't delete synced vaccination records
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
  app/models/concerns/vaccination_record_sync_to_nhs_immunisations_api_concern.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Simplify query to get patients to destroy
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
Owners: @nhsuk/mavis-devs-application

Show form error before content
  app/views/draft_vaccination_records/location.html.erb
Owners: @nhsuk/mavis-devs-application

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@a61138ca255955338508c36b03fc5decac01e922 🚀
  docs/rdoc/next/DraftVaccinationRecordsController.html
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Increase max session duration for testing role
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Deploying to gh-pages from @ nhsuk/manage-vaccinations-in-schools@9237ca2eded860673bdb193ad01c3d96c7fc8980 🚀
  docs/rdoc/next/created.rid
Owners: @nhsuk/vaccine-digital-service

Only use unsynced vaccination records patients
  app/lib/mavis_cli/teams/reset_bulk_upload.rb
Owners: @nhsuk/mavis-devs-application

Create archive reasons in factory
  spec/factories/vaccination_records.rb
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

Upload vaccinations in reset bulk uploads test
  spec/features/cli_teams_reset_bulk_upload_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
