Repository nhsuk/manage-vaccinations-in-schools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nhsuk/mavis-devs-application, @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Hide action required
  app/components/app_patient_session_search_result_card_component.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Show new programme statuses
  app/components/app_patient_programmes_table_component.rb
  app/components/app_patient_search_result_card_component.rb
  app/components/app_patient_session_search_result_card_component.rb
  spec/components/app_patient_search_result_card_component_spec.rb
  spec/components/app_patient_session_search_result_card_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Update action required links
  app/components/app_session_actions_component.rb
Owners: @nhsuk/mavis-devs-application

Add programme status filters
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/controllers/concerns/patient_search_form_concern.rb
  app/controllers/patients_controller.rb
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions/consent_controller.rb
  app/forms/patient_search_form.rb
  app/models/concerns/has_vaccine_methods.rb
  app/models/patient.rb
  app/models/patient/consent_status.rb
  app/views/patients/index.html.erb
  app/views/sessions/patients/show.html.erb
  app/views/sessions/register/show.html.erb
Owners: @nhsuk/mavis-devs-application

Update tallying for new programme statuses
  app/assets/stylesheets/components/_card.scss
  app/components/app_session_overview_tallies_component.html.erb
  app/components/app_session_overview_tallies_component.rb
  app/forms/patient_search_form.rb
  app/helpers/application_helper.rb
  app/lib/stats/session.rb
  app/models/patient/programme_status.rb
  spec/components/app_session_overview_tallies_component_spec.rb
  spec/factories/patient_programme_statuses.rb
  spec/lib/stats/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Switch to `date` and `location_id` columns
  app/components/app_activity_log_component.rb
  app/components/app_gillick_assessment_component.rb
  app/components/app_patient_session_record_component.rb
  app/controllers/patient_sessions/gillick_assessments_controller.rb
  app/controllers/patient_sessions/vaccinations_controller.rb
  app/forms/vaccinate_form.rb
  app/lib/reports/offline_session_exporter.rb
  app/lib/reports/programme_vaccinations_exporter.rb
  app/models/attendance_record.rb
  app/models/concerns/belongs_to_location_and_date.rb
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/location.rb
  app/models/patient_location.rb
  app/models/pre_screening.rb
  app/models/session.rb
  app/models/session_date.rb
  app/views/draft_consents/who.html.erb
  spec/components/app_vaccinate_form_component_spec.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/forms/vaccinate_form_spec.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetLocationDate`
  app/lib/data_migration/set_location_date.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_location_date_spec.rb
Owners: @nhsuk/mavis-devs-application

Make `date` and `location_id` not nullable
  app/models/concerns/belongs_to_session_date.rb
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  db/migrate/20251112193811_make_date_and_location_not_null.rb
  db/schema.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `session_date_id` columns
  app/models/gillick_assessment.rb
  app/models/pre_screening.rb
  db/migrate/20251112203653_remove_session_date_from_gillick_assessments_and_pre_screenings.rb
  db/schema.rb
  spec/factories/gillick_assessments.rb
  spec/factories/pre_screenings.rb
  spec/models/gillick_assessment_spec.rb
  spec/models/pre_screening_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `DataMigration::SetSessionDates`
  app/lib/data_migration/set_session_dates.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Set session date
  app/lib/location_sessions_factory.rb
  app/models/draft_session.rb
  app/models/team.rb
Owners: @nhsuk/mavis-devs-application

Add `dates` column
  app/models/session.rb
  db/migrate/20251113123648_add_dates_to_sessions.rb
  db/schema.rb
  spec/factories/sessions.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetSessionDates`
  app/lib/data_migration/set_session_dates.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_session_dates_spec.rb
Owners: @nhsuk/mavis-devs-application

Make session `dates` not nullable
  app/models/session.rb
  db/migrate/20251113130126_make_session_dates_not_null.rb
  db/schema.rb
  spec/components/app_consent_confirmation_component_spec.rb
  spec/factories/sessions.rb
  spec/lib/reports/careplus_exporter_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Drop session dates
  db/migrate/20251113145629_drop_session_dates.rb
  db/schema.rb
Owners: @nhsuk/mavis-devs-application

Sync `SessionProgrammeYearGroup`
  app/controllers/draft_sessions_controller.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/team_sessions_factory.rb
  app/models/onboarding.rb
  app/models/session.rb
  app/models/team.rb
  spec/factories/sessions.rb
  spec/models/draft_session_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Create `SessionProgrammeYearGroup`
  app/models/session.rb
  app/models/session_programme_year_group.rb
  db/migrate/20251113162617_create_session_programme_year_groups.rb
  db/schema.rb
  spec/factories/session_programme_year_groups.rb
  spec/models/session_programme_year_group_spec.rb
Owners: @nhsuk/mavis-devs-application

Add `sync_location_programme_year_groups`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Remove `sync_location_programme_year_groups`
  lib/tasks/data_migrations.rake
Owners: @nhsuk/mavis-devs-application

Move `is_catch_up?` logic to `Programme`
  app/controllers/draft_sessions_controller.rb
  app/lib/govuk_notify_personalisation.rb
  app/lib/programme_year_groups.rb
  app/models/draft_session.rb
  app/models/programme.rb
Owners: @nhsuk/mavis-devs-application

Switch to `SessionProgrammeYearGroup`
  app/components/app_programme_session_table_component.rb
  app/components/app_session_dates_table_component.rb
  app/controllers/consent_forms_controller.rb
  app/controllers/draft_imports_controller.rb
  app/controllers/patient_sessions/base_controller.rb
  app/controllers/programmes/overview_controller.rb
  app/controllers/programmes/patients_controller.rb
  app/controllers/sessions/base_controller.rb
  app/controllers/sessions_controller.rb
  app/jobs/send_school_session_reminders_job.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/add_programme_year_group.rb
  app/lib/mavis_cli/schools/show.rb
  app/lib/programme_year_groups.rb
  app/lib/status_generator/vaccination.rb
  app/lib/status_updater.rb
  app/models/concerns/has_location_programme_year_groups.rb
  app/models/draft_session.rb
  app/models/location.rb
  app/models/patient.rb
  app/models/session.rb
  app/models/session_programme_year_group.rb
  app/models/team.rb
  spec/features/import_class_lists_spec.rb
  spec/lib/programme_year_groups_spec.rb
  spec/models/draft_session_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix ECS cluster naming
  terraform/data_masking/variables.tf
Owners: @nhsuk/mavis-devs-infrastructure

create framework to anonymise entire database
  lib/tasks/anonymize_child_names.rake
  lib/tasks/anonymize_database.rake
Owners: @nhsuk/mavis-devs-application

Add NHS number anonymization
  lib/tasks/anonymize_database.rake
Owners: @nhsuk/mavis-devs-application

Fix ecs cluster naming
  .github/workflows/mask-db-snapshot.yml
  terraform/data_masking/variables.tf
Owners: @nhsuk/vaccine-digital-service, @nhsuk/mavis-devs-infrastructure

Remove tallying feature flag
  app/components/app_patient_search_form_component.html.erb
  app/components/app_patient_search_form_component.rb
  app/components/app_session_details_summary_component.rb
  app/components/app_session_overview_component.html.erb
  app/components/app_session_overview_component.rb
  app/helpers/application_helper.rb
  app/views/sessions/_header.html.erb
  app/views/sessions/show.html.erb
  config/feature_flags.yml
  config/locales/components.en.yml
  spec/components/app_session_details_summary_component_spec.rb
  spec/components/app_session_overview_component_spec.rb
  spec/features/filter_state_persistence_spec.rb
  spec/features/filtering_by_eligible_children_spec.rb
  spec/features/manage_clinic_sessions_spec.rb
  spec/features/manage_school_sessions_spec.rb
  spec/features/tallying_session_overview_spec.rb
Owners: @nhsuk/mavis-devs-application

Call rake task with run-task command
  .github/workflows/mask-db-snapshot.yml
Owners: @nhsuk/vaccine-digital-service

Preserve address details on changeset
  app/models/patient_changeset.rb
  spec/features/import_child_records_with_duplicates_spec.rb
  spec/fixtures/cohort_import/valid_with_duplicates.csv
Owners: @nhsuk/mavis-devs-application

Add per-programme feature flagging for `search`
  app/jobs/search_vaccination_records_in_nhs_job.rb
  app/models/programme.rb
  spec/jobs/search_vaccination_records_in_nhs_job_spec.rb
Owners: @nhsuk/mavis-devs-application

Add more permissions
  terraform/account/resources/iam_policy_DeployDataMaskingResources.json
Owners: @nhsuk/mavis-devs-infrastructure

Reduce QA DB resources
  terraform/app/env/qa.tfvars
Owners: @nhsuk/mavis-devs-infrastructure

Update error text for imports that fail after PDS
  app/views/imports/show.html.erb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
Owners: @nhsuk/mavis-devs-application

Report what other rows matched in rows import
  app/models/patient_import.rb
  spec/features/import_child_pds_lookup_extravaganza_spec.rb
  spec/fixtures/cohort_import/pds_extravaganza_invalid.csv
  spec/jobs/process_patient_changeset_job_spec.rb
  spec/models/class_import_spec.rb
  spec/models/patient_import_spec.rb
Owners: @nhsuk/mavis-devs-application

Extend role max session duration
  terraform/account/deployment_permissions.tf
Owners: @nhsuk/mavis-devs-infrastructure

Update MMR health questions following feedback from SAIS teams
  lib/tasks/vaccines.rake
Owners: @nhsuk/mavis-devs-application

Add personalisation for MMR second dose comms
  app/lib/govuk_notify_personalisation.rb
  config/initializers/govuk_notify.rb
  spec/lib/govuk_notify_personalisation_spec.rb
Owners: @nhsuk/mavis-devs-application

Add MMR second dose notification email template
  app/controllers/concerns/triage_mailer_concern.rb
  config/initializers/govuk_notify.rb
  spec/controllers/concerns/triage_mailer_concern_spec.rb
Owners: @nhsuk/mavis-devs-application

Fix typo
  spec/components/app_triage_form_component_spec.rb
Owners: @nhsuk/mavis-devs-application

Enqueue `Search...Job`s when patients are added to a session
  app/controllers/patients_controller.rb
  app/jobs/enqueue_vaccinations_search_in_nhs_job.rb
  app/lib/clinic_patient_locations_factory.rb
  app/lib/location_sessions_factory.rb
  app/lib/mavis_cli/schools/move_patients.rb
  app/models/immunisation_import.rb
  app/models/location.rb
  app/models/patient_location.rb
  app/models/school_move.rb
  app/models/session.rb
  spec/jobs/enqueue_vaccinations_search_in_nhs_job_spec.rb
  spec/models/location_spec.rb
  spec/models/session_spec.rb
Owners: @nhsuk/mavis-devs-application

Remove `DataMigration::SetLocationDate`
  app/lib/data_migration/set_location_date.rb
  lib/tasks/data_migrations.rake
  spec/lib/data_migration/set_location_date_spec.rb
Owners: @nhsuk/mavis-devs-application

.github/CODEOWNERS:

* @nhsuk/mavis-devs-application
.github/ @nhsuk/vaccine-digital-service
docs/ @nhsuk/vaccine-digital-service
terraform/ @nhsuk/mavis-devs-infrastructure
